@import '../../../../../../../styles/variables';

:host {
  display: block;
  padding: 5px 0;
}

.guide {
  &__list {
    max-height: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    padding: 5px;
    font-size: 14px;

    & > fa-icon {
      margin-top: 2px;
      font-size: 10px;
      color: $gray-300;

      &.active {
        color: $success;
      }
    }

    a {
      color: $primary;
    }

    &-list fa-icon {
      top: -2px;
    }
  }
}
