@import '../../../../styles/variables.scss';

.search {
  &-bar {
    display: flex;
    align-items: center;

    position: relative;

    width: 100%;

    margin-bottom: .5rem;

    form {
      margin: 0;
    }

    input {
      width: 100%;

      padding: 10px 8rem 10px 4rem;

      border: 1px solid rgba($gray, .2);

      border-radius: 50px;

      color: $gray;

      outline: none;

      &:focus {
        border-color: $gray;
      }

      &:focus ~ .search-icon {
        fill: $gray;
      }
    }
  }

  &-icon {
    position: absolute;
    left: 1rem;

    width: 2rem;

    padding-right: .8rem;

    border-right: 1px solid rgba($gray, .2);

    font-size: 1.5rem !important;
    fill: rgba($gray, .4);
  }

  &-count {
    position: absolute;
    right: 1rem;

    font-size: 14px;
    line-height: 14px;

    color: rgba($gray, .4);
  }
}
