.autocomplete {
  position: absolute;

  width: 100%;

  margin-top: 5px;
  margin-bottom: 20px;
  padding: 7px 13px;

  border-radius: 4px;

  background-color: white;
  border: 1px solid rgba($gray, .1);
  box-shadow: 0 0 12px rgba($gray, .15);
  z-index: 30;

  .form-element & input {
    @each $item in $themes {
      .#{$item}-theme &:hover,
      .#{$item}-theme &:focus {
        border-color: map-get($theme-colors, $item);
      }
    }
  }

  &-value {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 22px;

    min-height: 22px;

    .filter-related & {
      height: auto;

      min-height: auto;
    }

    border: 1px solid rgba($gray, .2);

    background-color: #fefefe;

    overflow: hidden;
    cursor: default;

    i {
      font-size: 14px;
    }

    .filter-wrapper & {
      border-radius: 50px;
    }

    &.active {
      border-color: $gray;
    }

    .form-element &.form-control {
      padding: 0;
      padding-right: 89px;
    }
  }

  &-list {
    width: 100%;
    max-height: 120px;

    overflow-y: auto;

    z-index: 20;
  }

  &-item {
    padding: .5rem 0;
    margin-bottom: 1px;

    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 1px solid rgba($gray, .08);

    &:hover {
      background-color: #f7f7f7;
    }

    label {
      margin-bottom: 0;

      cursor: pointer;
    }

    &:hover {
      cursor: pointer;
    }

    .form-element &:hover {
      color: $gray;
      width: 100%;
      background-color: #eee;
    }
  }

  &-preloader {
    padding: .2rem;

    text-align: center;

    background-color: rgba($gray, .1);
  }
}
