$shadow: 0px 2px 3px 0;

.btn {
  border-radius: 100px;

  transition: .4s all;

  &:focus,
  &:active {
    box-shadow: none;
  }
}

.app-button {

  &__size-m,
  &__size-l {
    padding: 6px !important;
    font-size: 14px !important;
    line-height: 18px !important;
  }

  &__size-m {
    min-width: 90px;
  }

  &__size-l {
    min-width: 160px;
    height: auto !important;
  }

  &__shadow {
    box-shadow: $shadow rgba(black, 0.3);

    &:hover {
      box-shadow: $shadow rgba(black, 0.2);
    }

    &:active {
      box-shadow: none;
    }

    &-success {
      box-shadow: $shadow rgba($brand-success, .3);

      &:hover {
        box-shadow: $shadow rgba($brand-success, .2);
      }
    }

    &-danger {
      box-shadow: $shadow rgba($brand-danger, .3);

      &:hover {
        box-shadow: $shadow rgba($brand-danger, .2);
      }
    }
  }

  &__success {
    background-color: rgba($brand-success, .1);

    &:hover {
      background-color: rgba($brand-success, .3);
    }
  }

  &__danger {
    background-color: rgba($brand-danger, .1);

    &:hover {
      background-color: rgba($brand-danger, .3);
    }
  }

  &__mr {
    margin-right: 12px;
  }
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: transparent;
}

.btn-default {
  color: $gray;
  background: #fdfdfd;
  border: none;
}

.btn-primary {
  border-color: $brand-primary;
  background-color: $brand-primary;

  &:focus {
    box-shadow: 0 0 2px rgba($brand-primary, 0.5);

    @each $item in $themes {
      .#{$item}-theme & {
        box-shadow: 0 0 2px rgba(map-get($theme-colors, $item), 0.5);
      }
    }
  }
}

.btn-link {
  color: $brand-primary;

  @each $item in $themes {
    .#{$item}-theme & {
      color: map-get($theme-colors, $item);
    }
  }
}

.btn-shadow {
  box-shadow: $shadow rgba(black, 0.3);

  &:hover {
    box-shadow: $shadow rgba(black, 0.2);
  }

  &:active {
    box-shadow: none;
  }
}

.btn-outline-primary {
  font-size: 0.625rem;
  padding: 0.25rem;

  @each $item in $themes {
    .#{$item}-theme & {
      border-color: map-get($theme-colors, $item);
      color: map-get($theme-colors, $item);

      &:hover {
        background-color: map-get($theme-colors, $item);
        color: white;

        &.disabled {
          background-color: #fff;
          color: map-get($theme-colors, $item);
          cursor: default;
        }
      }
    }
  }
}

.big-btn {
  height: 42px;
  width: 160px;
}

app-form-button:not(:first-child) {
  .danger-btn,
  .warning-btn {
    margin-top: 6px;
  }
}

@each $item in $themes {
  .#{$item}-theme .bg-primary,
  .#{$item}-theme button.bg-primary:hover {
    background-color: map-get($theme-colors, $item) !important;
  }
}

@each $item in $themes {
  .#{$item}-theme .btn-primary {
    border-color: transparent;
    background-color: rgba(map-get($theme-colors, $item), .8) !important;

    &:hover {
      background-color: map-get($theme-colors, $item) !important;
    }
  }
}

@each $item in $themes {
  .#{$item}-theme button.btn.active {
    border-color: map-get($theme-colors, $item);

    background-color: map-get($theme-colors, $item);
  }
}
