$datatable-top: 250px;
$datatable-left: $datatable-top;
$row-datatable-margin-bottom: $spacer;
$row-datatable-border-width: 2px;
$row-datatable-border-color: rgba($gray-light, .5);
$cell-datatable-width: 45%;

.list-page {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 100%;
}

.filter-place {
  width: 17vw;
  min-width: 17vw;
  background-color: #36373c;

  @include media-breakpoint-down('md') {
    display: none;
  }
}

.content {
  height: 100%;
  width: 100%;
  overflow: auto;
}


.datatable {
  max-height: 100%;
  padding: 0 1rem;

  list-column,
  list-text {
    width: 100%;

    .label {
      min-width: 40%;
    }
  }

  td {
    border-top: none;
    border-right: 1px solid #d3d3d3;

    &:last-child {
      border-right: none;

      @include media-breakpoint-down('sm') {
        border-right: 1px solid #d3d3d3;
      }
    }
  }

  &-wrapper {
    max-width: 83vw;

    @include media-breakpoint-down('md') {
      max-width: 100%;
    }
  }

  &-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #dbdce1;
    background-color: white;
    color: #555;

    @include media-breakpoint-down('sm') {
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
    }
  }

  &-button {
    color: white;
    padding: .5rem .8rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    background-color: #54545c;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: darken(#54545c, 5%);
    }

    @include media-breakpoint-down('sm') {
      width: 100%;
      & {
        margin-top: .5rem;
      }
    }
  }

  .button {
    border: 1px solid $brand-primary;
    background-color: white;
    color: rgba(black, .6);
    cursor: pointer;

    &:hover {
      background-color: rgba($brand-primary, .3);
    }
  }

  .tabs .tab {
    cursor: pointer;
    color: $gray-light;

    &:hover {
      color: $gray-dark;
    }
  }

  .filter-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 17vw;

    @include media-breakpoint-down('md') {
      position: relative;
      width: auto;
    }
  }

  .table-wrapper {
    position: relative;
    max-width: 83vw;
    border: 1px solid #d3d3d3;

    @include media-breakpoint-down('md') {
      max-width: 100%;
    }

    @include media-breakpoint-down('sm') {
      border: none;
    }

    table {
      margin-bottom: 0;
    }

    thead th {
      vertical-align: top;
      font-weight: normal;
      text-transform: uppercase;
      background-color: #54545e;
      color: white;
    }

    .refreshing-bg {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .2);
    }
  }

  &-list {
    max-width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 110;

    .title {
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &-item {
    max-width: 190px;
  }

  &-title-hover {
    cursor: pointer;
  }

  &.poped {
    max-width: 1200px !important;
    position: fixed;
    top: $datatable-top;
    left: $datatable-left;
    border-color: rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .2);

    .datatable-body {
      max-height: 500px;
      overflow-y: auto;
    }
  }

  a {
    color: inherit;
    &:hover {
      color: $brand-primary;
    }
  }

  @include media-breakpoint-down('sm') {
    table tr {
      margin-bottom: $row-datatable-margin-bottom;
      display: block;
      border-bottom: $row-datatable-border-width solid $row-datatable-border-color;
    }
    table td {
      display: block;
      border: 1px solid #d3d3d3;
    }
    table td:last-child {
      border-bottom: 0;
    }
    table td::before {
      display: block;
      text-align: left;
      width: $cell-datatable-width;
      content: attr(data-label);
      float: left;
      font-weight: bold;
      word-break: break-word;
      margin-right: .3rem;
    }
    table td::after {
      display: table;
      clear: both;
      content: '';
      width: 0;
      height: 0;
    }
  }
}


.list {
  td {
    min-width: 150px;
  }
}
