// $datatable-top: 250px;
// $datatable-left: $datatable-top;
// $row-datatable-margin-bottom: $spacer;
// $row-datatable-border-width: 2px;
// $row-datatable-border-color: rgba($gray-light, .5);
// $cell-datatable-width: 45%;
$nested-shadow: 0px 0px 3px 1px rgba($gray, .2);

.datatable-wrapper {

  .btn {
    border-radius: 50px;
  }

  .custom-select {
    position: relative;

    border-radius: 50px;
    background: white url(/assets/img/down-arrow.svg) no-repeat;
    background-position: right .75rem center;
    background-size: 8px 10px;

    &:focus {
      background: url(/assets/img/down-arrow.svg) no-repeat;
      background-position: right .75rem center;
      background-size: 8px 10px;
    }

    &.active {
      border-color: $gray;
    }
  }

  .datatable-list & {
    padding: 25px 0;
  }

   input {
    padding: .5rem 1rem;

    border-radius: 50px;
    border: 1px solid rgba($gray, .2);
    outline: none;

    &:focus {
      border: 1px solid $gray;
    }
  }

  .input-group {
    input {
      border-right: none;

      &:focus {
        border-right: none;

        & ~ .input-group-addon {

          border-right: 1px solid $gray !important;
          border-top: 1px solid $gray;
          border-bottom: 1px solid $gray;
        }
      }
    }
  }

  .input-group-addon {
    width: 50px;

    border-right: 1px solid rgba($gray, .2);
    border-top: 1px solid rgba($gray, .2);
    border-bottom: 1px solid rgba($gray, .2);
    border-radius: 0 50px 50px 0 !important;

    background-color: transparent;

    span {
      cursor: pointer;
    }
  }

  .form-control {
    transition: none;
  }
}

.datatable {

  table {
    padding: 4px;

    border-collapse: separate;
    border-spacing: 0 6px;

    font-size: .9rem;

    color: $gray;

    td {
      border-top: none;

      padding: .3rem;
    }

    tbody tr {
      border-radius: 4px;

      box-shadow: 0 0 8px 4px rgba($gray, 0.1);

      &.main {
        border-radius: 4px 4px 0 0;

        & + tr {
          border-radius: 0 0 4px 4px;

          box-shadow: 0 -5px white, 0 0 8px 4px rgba($gray, 0.1);
        }
      }

      &:hover {
        box-shadow: 0 0 10px 4px rgba($gray, 0.3);
      }

      &:hover.main + tr {
        box-shadow: 0 -5px white, 0 0 10px 4px rgba($gray, 0.3);
      }
    }

    table {
      width: 100%;

      margin-bottom: 0;

      border-collapse: collapse;

      tr {
        box-shadow: none;

        &:hover {
          box-shadow: none;
        }
      }

      th {
        font-size: .7rem;
        font-weight: normal;
      }
    }
  }

  thead th {
    position: relative;

    padding: .3rem;

    vertical-align: top;
    font-size: .9rem;

    border-top: none;
    border-bottom: none;

    color: rgba(black, .15);
    text-transform: uppercase;

    background-color: white;

    label {
      display: inline;

      margin: 0;

      font-weight: bold;
    }

    &.active:hover {
      color: $gray;
    }
  }

  &-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-bottom: 16px;

    border-bottom: 1px solid rgba($gray, .2);
  }

  &-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: 1rem 0;
  }

  &-body {
    width: 100%;

    padding-right: 10px;
    padding-left: 10px;
  }

  @include media-breakpoint-up('xl') {
    &-list &-body,
    &-body.open-filters {
      width: calc(100% - 285px);
      max-width: 80%;

      margin: 0 auto;
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  &-search {
    flex-grow: 2;
  }

  &-tabs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .tab {
      margin: 0 1rem;
      padding: .5rem 0;

      font-size: .8rem;
      font-weight: bold;
      text-transform: uppercase;

      color: rgba($gray, .4);
      cursor: pointer;
    }
  }

  .filter-wrapper {
    display: none;
    width: 265px;

    &.open {
      display: block;
    }

    @include media-breakpoint-down('lg') {
      display: block;
      position: fixed;
      top: 0;
      left: -265px;

      background-color: white;
      transition: left .5s ease;

      z-index: 20;

      &.open {
        left: 0;

        min-height: 100vh;

        overflow: auto;

        & ~ .background {
          display: block;
        }
      }
    }
  }

  .background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba($gray, .2);

    z-index: 10;
  }

  .filter-button {
    margin-bottom: .5rem;

    &:hover {
      border-color: $brand-primary;

      background-color: $brand-primary;

      @each $item in $themes {
        .#{$item}-theme & {
          border-color: map-get($theme-colors, $item);

          background-color: map-get($theme-colors, $item);
        }
      }
    }

    &.active {
      border-color: $brand-primary;

      background-color: $brand-primary;

      @each $item in $themes {
        .#{$item}-theme & {
          border-color: map-get($theme-colors, $item);

          background-color: map-get($theme-colors, $item);
        }
      }

      &:hover,
      &:focus {
        border-color: $brand-primary;

        background-color: $brand-primary;

        @each $item in $themes {
          .#{$item}-theme & {
            border-color: map-get($theme-colors, $item);

            background-color: map-get($theme-colors, $item);
          }
        }
      }
    }
  }

  .sort-parameters {
    position: absolute;
    top: 37px;

    margin: 0;
    padding: 0;

    list-style: none;

    font-weight: normal;
    text-transform: initial;

    background-color: white;
    box-shadow: $nested-shadow;

    z-index: 20;

    li {
      padding: 5px 10px;

      color: $gray;

      &:hover {
        font-weight: bold;

        cursor: pointer;
      }

      &.active {
        font-weight: bold;
      }
    }
  }

  .sort-icon {
    margin-left: .5rem;

    font-size: 14px !important;

    cursor: pointer;

    &:hover {
      color: $gray;
    }

    &.active {
      color: $gray;
    }
  }

  .cell-content {
    padding: .3rem;
  }

  .first-cell {
    text-align: center;

    &-link {
      display: flex;
      align-items: center;

      color: rgba($gray, .4);
    }

    i {
      color: inherit;
    }

    .custom-checkbox {
      margin: 0;
    }
  }

  .last-cell {
    text-align: center;
  }

  .more-icon {
    font-size: 1.5rem;

    cursor: pointer;
  }

  .additional-data {
    display: flex;
    align-items: center;
    flex-wrap: wrap;


    .description {
      width: 85px;

      margin-right: .5rem;
    }
  }
}
