.filter {
  &-label {
    margin-bottom: 6px;

    font-size: .875rem;
    line-height: 18px;
    font-weight: 600;

    text-transform: uppercase;
    color: rgba(black, .35);
  }

  &-element {
    margin-top: 10px;
    padding-bottom: 1rem;

    font-size: .8rem;

    border-bottom: 1px solid rgba($gray, .1);

    .input-group {
      input {
        border-right: none;

        &:focus {
          border-right: none;

          & ~ .input-group-addon {

            border-right: 1px solid $gray !important;
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
          }
        }
      }
    }

    .input-group-addon {
      width: 50px;

      border-right: 1px solid rgba($gray, .2);
      border-top: 1px solid rgba($gray, .2);
      border-bottom: 1px solid rgba($gray, .2);
      border-radius: 0 50px 50px 0 !important;

      background-color: transparent;

      span {
        cursor: pointer;
      }
    }

    .form-control {
      height: auto !important;

      padding-top: .625rem;
      padding-bottom: .625rem;

      font-size: .75rem;
      line-height: 20px;

      border-radius: 50px;

      background-color: #fdfdfd;

      transition: none;

      &:focus {
        border: 1px solid $gray;
      }
    }

    .default-value {
      display: flex;
      align-items: center;
      justify-content: space-between;

      color: rgba($gray, .4);

      a:hover {
        color: $gray;
        cursor: pointer;
      }
    }

    .custom-checkbox {
      min-width: .875rem;
      height: .875rem;
    }

    .datepicker {
      display: relative;

      input {
        padding-left: 5rem;
      }

      .placeholder {
        position: absolute;
        top: 10px;
        left: 16px;

        font-size: .8rem;

        color: rgba($gray, .4);

        z-index: 20;
      }
    }
  }

  &-date {
    padding-left: 5rem;

    &.active {
      border-color: $gray;

      & ~ .input-group-addon {
        border-color: $gray !important;
      }
    }
  }

  &-values {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-top: .5rem;

    .badge.badge-outline {
      position: relative;

      max-width: 100%;

      padding-right: 1.5rem;
      margin-top: .3rem;
      margin-right: .3rem;

      color: inherit;

      text-overflow: ellipsis;
      overflow: hidden;
    }

    i {
      position: absolute;
      top: 4px;
      right: 6px;

      font-size: .75rem;

      color: $brand-primary;
      cursor: pointer;

      @each $item in $themes {
        .#{$item}-theme & {
          color: map-get($theme-colors, $item);
        }
      }
    }
  }
}
