$filter-element-width: 250px;
$filter-block-height: 400px;

.filter {
  &-block {
    max-height: $filter-block-height;
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    color: white;

    @include media-breakpoint-down('md') {
      color: black;
      border: 2px solid #dbdce1;
    }

    &-collapsed {
      overflow-x: auto;
      white-space: nowrap;

      &>div {
        display: inline-block;
      }
    }
  }

  &-label {
    widows: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    font-weight: normal;

    &.active {
      font-weight: 500;
    }
  }

  &-element {
    border-bottom: 1px solid #58595e;
    box-shadow: 0 1px 1px 0 #292a2f;

    &.active {
      background-color: #2d2c31;
      box-shadow: inset 0 0 3px 3px #242328;
    }

    @include media-breakpoint-down('md') {
      border-bottom: none;
      box-shadow: none;

      &.active {
        background-color: transparent;
        box-shadow: none;
        border-bottom: none;
      }
    }
  }
}
