@import '../variables.scss';

.form-tabs {
  .form-element-list {
    display: none !important;
  }

  .form-element-list-title {
    display: flex;
  }
}

.form-element {

  font-size: 14px;
  line-height: 16px;

  input,
  select,
  textarea {
    padding: 4px 10px 4px 0;

    font-size: 14px;
    line-height: 16px;

    border: none;
    border-radius: 0;
    outline: none;

    border-bottom: 1px solid rgba($gray, .1);

    background-color: transparent;

    &:focus {
      border-bottom-color: $brand-primary;

      @each $item in $themes {
        .#{$item}-theme & {
          border-bottom-color: map-get($theme-colors, $item);
        }
      }
    }
  }

  select {
    padding-right: 30px;
  }

  input {
    padding: 6px 10px 5px 0;
  }

  .custom-checkbox {
    min-width: 12px;
    height: 12px;

    font-size: 8px;
  }

  .form-group {
    margin-bottom: .5rem;

    .text-muted {
      width: 100%;
    }
  }

  .custom-select {
    height: 28px !important;
  }

  .autocomplete-value {
    padding-left: 0;

    border: none;
    border-bottom: 1px solid rgba($gray, .1);
  }

  .input-group-addon {
    background-color: transparent;
    border-right: none !important;
    border-top: none !important;
    border-radius: 0 !important;
    color: inherit;

    border-bottom: 1px solid rgba($gray, .1);
  }

  &-content {
    position: relative;

    width: 80%;
    max-width: 300px;
    max-height: 28px;
    display: flex;

    &.full {
      width: 100%;
      height: 40px;
      max-height: 40px;
    }

    &-actions {
      position: absolute;
      top: 0;
      right: 0;
    }

    &.datepicker {
      flex-wrap: wrap;

      max-height: none;

      .input-group {
        min-width: 224px;
        max-width: 300px;
      }
    }

    &.many {
      max-height: none;
    }

    button {
      padding: 5px;

      border: none;
      outline: none;

      background: transparent;
    }
  }

  &-checkbox {
    display: inline-flex;
    align-items: center;
  }

  &-list-title {
    display: none;
  }

  .form-element-label {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;

    color: $gray;
    opacity: .3;
  }
}
