.form-builder {

  .group {
    border-bottom: 1px solid rgba($brand-inverse, .1);
  }

  .field {
    border-bottom: 1px solid rgba($brand-inverse, .1);
    transition: background-color .5s;
    &:hover {
      background-color: rgba($brand-success, .2);
    }
  }

  .element {
    i {
      visibility: hidden;
    }

    &:hover i {
      visibility: visible;
    }
  }
}
