.list-info {

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &-image {
    position: relative;

    img {
      width: 60px;
      height: 60px;

      border-radius: 50%;
    }
  }

  &-edit-link {
    display: flex;
    align-items: flex-end;

    i {
      margin-right: .5rem;

      color: rgba($gray, .5);
    }

    &:hover {
      color: $brand-primary;

      @each $item in $themes {
        .#{$item}-theme & {
          color: map-get($theme-colors, $item);
        }
      }
    }
  }

  &-title {
    font-size: 1rem;
  }

  &-status {
    display: flex;
  }

  .available {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;

    color: $brand-success;
  }

  .unavailable {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;

    color: $brand-danger;
  }
}
