$nested-width: 200px;
$side-width: 320px;
$header-shadow: 0 0 15px 8px rgba($gray, .2);
$nested-shadow: 0px 5px 10px 5px rgba($gray, .2);
$header-bg: white;

.page-header {
  display: flex;
  align-items: center;

  height: 80px;

  padding: 0 50px;

  background-color: $header-bg;
  box-shadow: $header-shadow;

  ul {
    margin-bottom: 0;
    padding-left: 0;
  }

  li {
    list-style: none;
  }

  a {
    display: flex;
    align-items: center;

    width: 100%;

    padding: 5px 24px;

    white-space: nowrap;

    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus,
    &.active {
      color: $brand-primary;

      @each $item in $themes {
        .#{$item}-theme & {
          color: map-get($theme-colors, $item);
        }
      }
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $side-width;
    height: 80px;

    background-image: url(/assets/img/LBK_regular_logo.png);
    background-repeat: no-repeat;
    background-size: auto 4vh;
    background-position: 2rem center;
  }

 .navigation {
    display: flex;
    align-items: center;

    // font-size: 1.1rem;

    &-list {
      display: flex;

      &-parent > li{

        & > .icon {
          display: none !important;
        }

        & > .navigation-link {
          padding: 28px 24px;

        }
        &:not(:hover) > .navigation-link.active {
          box-shadow: inset 0 -3px 0px 0px $brand-primary;

          @each $item in $themes {
            .#{$item}-theme & {
              box-shadow: inset 0 -3px 0px 0px map-get($theme-colors, $item);
            }
          }
        }
      }

      &.show {
        display: block;

        position: fixed;
        left: 0;

        max-width: 70vw;

        background-color: $header-bg;
        box-shadow: $nested-shadow;
        z-index: 200;

        & .navigation-list-nested {
          position: relative;
          left: 0;
        }
      }

      &-nested {
        display: none;
        flex-direction: column;

        position: absolute;
        left: 0;

        width: $nested-width;
        max-width: 70vw;

        font-size: .8rem;

        border-radius: 0 0 3px 3px;

        background-color: $header-bg;
        box-shadow: $nested-shadow;
        z-index: 1000;

        & .navigation-list-nested {
          border-radius: 0 3px 3px 3px;

          top: 0;
          left: $nested-width;

          box-shadow: 5px 0px 10px 5px rgba($gray, .2);
        }
      }

      @include media-breakpoint-down('lg') {
        display: none;

        width: $nested-width;
        max-width: 70vw;
      }

    }

    &-item {
      position: relative;

      width: 100%;

      & > .navigation-link {
        width: 100%;

        padding: 5px 24px;
      }

      &:hover > a {
        color: $brand-primary;
        cursor: pointer;

        @each $item in $themes {
          .#{$item}-theme & {
            color: map-get($theme-colors, $item);
          }
        }
      }

      .icon {
        display: none;

        position: absolute;
        top: calc(50% - 2px);
        left: 9px;

        font-size: 6px !important;

        color: $brand-primary;

        @each $item in $themes {
          .#{$item}-theme & {
            color: map-get($theme-colors, $item);
          }
        }

        &.active {
          display: inline;
        }
      }

      &:hover > .navigation-list-nested {
        display: flex;

        height: auto;
      }

      &:hover > .icon {
        display: inline;
      }

      &.disabled:hover {
        cursor: default;
      }
    }

    &-link {
      display: flex;
      align-items: center;

      &.disabled {
        color: #aaa;
      }
    }
  }

  .user {
    position: relative;

    margin-left: auto;

    &-block {
      display: flex;
      align-items: center;

      padding: 15px 0;

      img {
        width: 50px;
        height: 50px;

        margin-left: 24px;

        border-radius: 50%;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }

    &-icon {
      margin-left: 24px;

      font-size: 24px !important;

      cursor: pointer;
    }

    &-menu {
      position: absolute;
      right: 0;

      margin: 0;
      padding: 0;

      border-radius: 0 0 3px 3px;

      background-color: $header-bg;
      box-shadow:  $nested-shadow;
      z-index: 200;

      .role {
        padding: 5px 24px;
      }
    }
  }
}

.r3sourcer .page-header .logo {
  background-image: url(/assets/img/new-software.svg);
  background-repeat: no-repeat;
  background-size: auto 48px;
  background-position: left center;

  @include media-breakpoint-down('lg') {
    background-position: center center;
  }
}
