.search {
  &-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    margin: .5rem 0 0 0;

    @include media-breakpoint-up('md') {
      width: 300px;
      margin-right: 1rem;
      margin: 0 1rem 0 0;
    }

    input {
      width: 100%;
      background-color: #eef1f6;
      border: 2px solid #d6dadd;
      border-radius: .2rem;
      font-size: .8rem;
      padding: .3rem;

      &::-webkit-input-placeholder {
        color: #292c31;
      }
      &::-moz-placeholder {
        color: #292c31;
      }
      &:-ms-input-placeholder {
        color: #292c31;
      }
      &:-moz-placeholder {
        color: #292c31;
      }
    }
  }

  &-icon {
    position: absolute;
    right: 1rem;
  }

}
