.search {
  &-bar {
    display: flex;
    align-items: center;

    position: relative;

    width: 100%;

    margin-bottom: .5rem;

    form {
      margin: 0;
    }

    input {
      width: 100%;

      padding-left: 4rem;
      padding-right: 8rem;
      color: $gray;

      &:focus ~ .search-icon {
        fill: $gray;
      }
    }
  }

  &-icon {
    position: absolute;
    left: 1rem;

    width: 2rem;

    padding-right: .8rem;

    border-right: 1px solid rgba($gray, .2);

    font-size: 1.5rem !important;
    fill: rgba($gray, .4);
  }

  &-count {
    position: absolute;
    right: 1rem;

    color: rgba($gray, .4);
  }
}
