<div *ngIf="!this.config.hide">
  <h6 class="card flex-row align-items-center mb-3" [ngClass]="{'bg-primary text-white': !isCollapsed}" *ngIf="config.templateOptions.label">
    <i
      fa
      class="p-2"
      [name]="isCollapsed ? 'eye' : 'eye-slash'"
      [border]=false
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
      style="cursor: pointer"></i>
    {{config.templateOptions.label}}
    <button *ngIf="(showButton || config.delay) && checkPermissions('post')"
      type="button"
      class="text-white btn btn-sm group-button ml-auto mr-2"
      (click)="addObject()">
        Add
    </button>
  </h6>
  <div id="collapseExample" [ngbCollapse]="isCollapsed" class="px-2">
    <generic-list
      [endpoint]="config.endpoint"
      [query]="query"
      [inForm]="true"
      [data]="config.data"
      [update]="update"
      [delay]="config.delay"
      [responseField]="config.responseField || 'results'"
      [paginated]="config.paginated || 'on'"
      [supportData]="config.supportData"
      [metaType]="config.metaType"
      [actions]="config.actions"
      [allowPermissions]="allowMethods"
      [metadataQuery]="config.metadata_query"
      (dataLength)="checkCount($event)"
      (checkedObjects)="checkedHandler($event)"
      (event)="eventHandler($event)">
    </generic-list>
  </div>
</div>

<template #modal let-c="close" let-d="dismiss">
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">{{modalData.title}}</h5>
        <button type="button" class="close ml-2" (click)="c()">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="modal-body">
      <generic-form
        [delay]="config.delay"
        [endpoint]="modalData.endpoint"
        [data]="modalData.data"
        [metadataQuery]="config.add_metadata_query"
        (event)="formEvent($event, c)">
          <button type="submit" class="btn btn-primary">Save</button>
      </generic-form>
    </div>
  </div>
</template>
