<div class="form-group">
  <label *ngIf="label && config.templateOptions.label">{{config.templateOptions.label}}</label>

  <div class="card p-2 mb-3">
    <dynamic-form [config]="config.activeMetadata" (event)="changeActiveStates($event)"></dynamic-form>

    <div class="d-flex flex-wrap align-items-center pb-2" *ngFor="let item of view; let last = last">
      <div class="btn-group-sm mr-3 mb-1">
        <label class="btn btn-primary mb-0" [(ngModel)]="item.operator" btnRadio="or">or</label>
        <label class="btn btn-primary mb-0" [(ngModel)]="item.operator" btnRadio="and">and</label>
      </div>

      <span class="pr-1">#{{item.id}}</span>

      <span *ngFor="let value of item.values; let last = last; let i = index">
        <span class="badge badge-default p-2 mb-1">
          {{value}}
          <i fa class="icon pl-2"
            (click)="open(element, item.type, item, i)"
            [name]="'pencil'"></i>
        </span>

        <span class="px-2"
          *ngIf="!last">{{item.operator}}</span>
      </span>

      <i fa class="icon pl-2 text-success"
        [name]="'plus'"
        (click)="open(element, item.type, item)"></i>
    </div>

    <div>
      <button type="button" class="btn btn-primary btn-sm"
        (click)="addNewRule()"
        [disabled]="view.length && view[view.length - 1].values.length < 1">Add rule</button>
      <button type="button" class="btn btn-primary btn-sm"
        (click)="showPreview()"
        [disabled]="view.length < 1">Preview</button>
    </div>

    <div class="mt-2" *ngFor="let item of previewRule">
      <b>{{item.label}}s:</b>&nbsp;{{item.value}}
    </div>
  </div>

  <small class="text-muted"
    *ngIf="config.templateOptions.description">
    {{config.templateOptions.description}}
  </small>
  <div *ngIf="errors">
    <div class="text-danger mt-1"
      *ngIf="errors[key]">{{errors[key]}}</div>
  </div>
  <div *ngIf="message">
    <div class="text-success mt-1"
      *ngIf="message[key]">{{message[key]}}</div>
  </div>
</div>

<template #element let-c="close" let-d="dismiss">
  <div class="modal-body">
    <span *ngIf="editValue">{{editValue}}</span>
    <hr *ngIf="editValue">
    <div class="btn-group-sm mr-3 mb-1">
      <label *ngIf="!(addType !== 'new' && ruleArray.length === 0)" class="btn btn-primary mb-0" [(ngModel)]="choice" btnRadio="state" (click)="elementValue = ''">State</label>
      <label *ngIf="addType === 'function' || addType === 'new'" class="btn btn-primary mb-0" [(ngModel)]="choice" btnRadio="function" (click)="elementValue = ''">Function</label>
      <label *ngIf="ruleArray.length" class="btn btn-primary mb-0" [(ngModel)]="choice" btnRadio="rule" (click)="elementValue = ''">Rule</label>
    </div>

    <div [ngSwitch]="choice">
      <div *ngSwitchCase="'state'">
        <div class="form-group mt-2">
          <label for="state">State</label>
          <select class="form-control custom-select"
            (focus)="generateArray('options')"
            [(ngModel)]="elementValue">
            <option *ngFor="let el of statesArray" [value]="el.name_before_activation">{{el.name_before_activation}}</option>
          </select>
        </div>
      </div>

      <div *ngSwitchCase="'function'">
        <div class="form-group mt-2">
          <label for="app">App</label>
          <select class="form-control custom-select" id="app"
            (focus)="generateArray('app')"
            (change)="getRelatedData('model')"
            [(ngModel)]="app">
            <option *ngFor="let el of appsArray" [value]="el">{{el}}</option>
          </select>

          <div *ngIf="this.config.model">
            <label for="model" class="mt-2">Model</label>
            <select class="form-control custom-select" id="model"
              (focus)="generateArray('model')"
              (change)="getRelatedData('function')"
              [(ngModel)]="model">
              <option *ngFor="let el of modelsArray" [value]="el">{{el}}</option>
            </select>
          </div>

          <div *ngIf="this.config.function">
            <label for="function" class="mt-2">Function</label>
            <select class="form-control custom-select"
              (focus)="generateArray('function')"
              [(ngModel)]="elementValue">
              <option *ngFor="let el of functionsArray" [value]="el">{{el}}</option>
            </select>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'rule'">
        <div class="form-group mt-2">
          <label for="rule">Rule</label>
          <select class="form-control custom-select" [(ngModel)]="elementValue">
            <option *ngFor="let el of ruleArray">{{el.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success"
      (click)="done(c, choice)"
      [disabled]="!elementValue">Done</button>
    <button type="button" class="btn btn-danger"
      (click)="delete(c)"
      *ngIf="editIndex === 0 || editIndex">Delete</button>
    <button type="button" class="btn btn-danger" (click)="c()">Cancel</button>
  </div>
</template>
