:host {
  display: block;

  padding: 0 40px;
}

h5 {
  margin-bottom: 1rem;

  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;

  opacity: .3;
}

div {
  margin: 2rem 0;
}

p {
  display: flex;

  font-size: 14px;
  line-height: 20px;

  span:first-child {
    width: 150px;

    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;

    opacity: .3;
  }
}
