<section class="register">
  <header class="register__header">
    <img [src]="logo" alt="Comapny logo" height="62px" />

    <div class="register__header-actions">
      <webui-language-selector></webui-language-selector>
      <webui-close-button (click)="onClose()"></webui-close-button>
    </div>
  </header>

  <main class="redesign">
    <webui-form-builder-form
      [id]="settings.register_form_id"
      [companyId]="settings.company"
    >
    </webui-form-builder-form>
  </main>
</section>
