@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

$content-width: 729px;

.header {
  max-width: $content-width;
  background-color: #ffffff;
  margin: 0 auto 0px;

  line-height: 1;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #D3DEEA;
  color: #4f4f4f;
  height:102px;

  @include media-breakpoint-down('sm') {
    max-width: 100%;
  }
}

.logo {
  height: 62px;
  width:  193px;
  margin:22px 0px 0px 0px;
  object-fit: cover;
}

.company {
  margin-bottom: 48px;

  font-size: 16px;
  line-height: 16px;

  opacity: 0.3;
}

.form-name {
  padding-top:22px;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #2F363D;


  &:not(:empty) {
    margin-bottom: 20px;
  }
}

.registration-form {
  max-width: $content-width;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-down('sm') {
    max-width: 100%;
  }
}


input,
select,
textarea {
  border-radius: 3px !important;

 
}