<section id="piiprent" class="user-registration container-fluid col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12" *ngIf="settings">
  <header>
      <div class="row p-2 border-bottom">
          <div class="col-12 text-end">
            <a href="/"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
          <div class="col-12 text-center">
              <img class="logo" [src]="logo">
          </div>
      </div>
  </header>
  <section>


    <section>
      <!-- <div class="form-name">{{ title }}</div> -->
      <webui-form-builder-form
        [id]="settings.register_form_id"
        [companyId]="settings.company"
        (formConfig)="setFormConfig($event)"
      >
      </webui-form-builder-form>
    </section>
  </section>
</section>
