@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

$content-width: 540px;

.header {
  max-width: $content-width;

  margin: 0 auto 16px;

  line-height: 1;
  font-weight: 400;
  text-align: center;

  color: #4f4f4f;

  @include media-breakpoint-down('sm') {
    max-width: 100%;
  }
}

.logo {
  height: 80px;

  border-radius: 0.5rem;
  border: 1px solid #e0e0e0;

  margin-bottom: 8px;
  object-fit: cover;
}

.company {
  margin-bottom: 48px;

  font-size: 16px;
  line-height: 16px;

  opacity: 0.3;
}

.form-name {
  margin-bottom: 20px;

  font-size: 32px;
  line-height: 36px;

  color: #4f4f4f;
}

.registration-form {
  max-width: $content-width;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-down('sm') {
    max-width: 100%;
  }
}
