<div *ngIf="settings" class="site-page">
  <div class="form-page">
    <div class="header">
      <img class="logo" [src]="logo" />

      <p class="company">{{ settings.company_name }}</p>
      <h1 class="form-name">{{ title }}</h1>
    </div>

    <div class="form-content registration-form">
      <app-form-builder-form
        [id]="settings.register_form_id"
        [companyId]="settings.company"
        (formConfig)="setFormConfig($event)"
      >
      </app-form-builder-form>
    </div>
  </div>
</div>
