<div class="my-3">
  <ngb-tabset type="pills" (tabChange)="beforeChange()">
    <ngb-tab id="group" title="Groups">
      <template ngbTabContent>
        <div class="permission-block-add form-inline">
          <input type="text" class="permission-input form-control mr-2" [(ngModel)]="name">
          <button type="button" class="btn bg-default" (click)="addGroup(name)">Add</button>
        </div>
        <div class="permission-wrapper">
          <template
            [ngTemplateOutlet]="list"
            [ngOutletContext]="{title: 'Groups', list: groups, param: 'name', element: 'group', type: 'list'}">
          </template>
          <template *ngIf="targetId"
            [ngTemplateOutlet]="list"
            [ngOutletContext]="{title: 'Permissions', list: permissionsList, param: 'name', element: 'group', type: 'permission'}">
          </template>
        </div>
      </template>
    </ngb-tab>
    <ngb-tab id="user" title="Users">
      <template ngbTabContent>
        <div class="permission-wrapper">
          <template
            [ngTemplateOutlet]="list"
            [ngOutletContext]="{title: 'Users', list: users, param: 'name', element: 'user', type: 'list'}">
          </template>
          <template *ngIf="targetId"
            [ngTemplateOutlet]="list"
            [ngOutletContext]="{title: 'Permissions', list: permissionsList, param: 'name', element: 'user', type: 'permission'}">
          </template>
          <template *ngIf="targetId"
            [ngTemplateOutlet]="list"
            [ngOutletContext]="{title: 'Groups', list: groups, param: 'name', element: 'user', type: 'group'}">
          </template>
        </div>
      </template>
    </ngb-tab>
  </ngb-tabset>
</div>

<template #list let-t="title" let-l="list" let-p="param" let-a="actions" let-type="type" let-e="element">
  <div class="permission-block-wrapper">
    <b class="permission-block-title">{{t}}:</b>
    <div class="permission-search">
      <input type="text"
        [(ngModel)]="search[type]"
        class="form-control w-100 mb-2"
        (keyup)="filter(search[type], type, l, e)">
      <i fa [name]="'search'" class="permission-search-icon text-muted"></i>
    </div>
    <div class="permission-block">
      <div class="permission-item"
        [class.active]="item.active"
        [class.selected]="item.id === targetId && type === 'list'"
        *ngFor="let item of l"
        (click)="toggle(type, e, item)">
          {{item[p]}}
          <i fa
            class="permission-icon text-danger"
            *ngIf="e === 'group' && type === 'list'"
            [name]="'trash'"
            (click)="removeGroup(item, $event)">
          </i>
        </div>
    </div>
    <div *ngIf="type === 'permission'" class="d-flex m-2 align-items-center">
      <button class="btn btn-success mr-2" (click)="selectAll(e)">Select All</button>
      <button class="btn btn-danger" (click)="removeAll(e)">Remove All</button>
    </div>
  </div>
</template>
