<h5>Sms credit details</h5>
<ng-container *ngIf="smsBalance">
  <div class="field mb-2">
    <span>Charge rate for SMS:</span>
    <span style="opacity: 1">{{smsBalance.segment_cost | currency:'USD'}} per segment (160 signs)</span>
  </div>

  <div class="field">
    <span>Current balance:</span>
    <span class="value active">{{smsBalance.balance | currency:'USD'}}</span>
    <button type="button" class="btn btn-sm btn-primary ml-3 action-button" (click)="showAddFundsForm()">Add Funds</button>
  </div>

  <div class="field">
    <span>Auto top-up:</span>
    <div class="value">
      <span class="on" [class.active]="smsBalance.auto_charge">on</span>/<span class="off" [class.active]="!smsBalance.auto_charge">off</span>
    </div>
    <button type="button" class="btn btn-sm btn-primary ml-3 action-button" (click)="autoCharge()">Configure Auto-charge</button>
  </div>

  <p *ngIf="smsBalance.auto_charge">If the balance falls below {{smsBalance.top_up_limit | currency:'USD'}}, recharge by adding {{smsBalance.top_up_amount | currency:'USD'}} from saved card</p>
</ng-container>


<ng-template #charge let-c="close" let-d="dismiss">
  <div class="modal-header-wrapper">
    <div class="modal-header">
      <h5 class="modal-title">Auto-charge</h5>
      <button type="button" class="close ml-2" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div class="modal-body">
    <app-dynamic-form
      [config]="modalConfig"
      [form]="group">
      <div class="text-center">
        <button type="submit" class="btn big-btn btn-shadow bg-primary text-white button-save mt-3" (click)="saveAutoCharge()">
          Save
        </button>
      </div>
    </app-dynamic-form>
  </div>
</ng-template>

<ng-template #funds let-c="close" let-d="dismiss">
  <div class="modal-header-wrapper">
    <div class="modal-header">
      <h5 class="modal-title">Add funds</h5>
      <button type="button" class="close ml-2" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div class="modal-body text-center">
    <h6>Confirming, I want my saved Credit Card to be charged</h6>

    <div class="d-flex align-items-center justify-content-center">
      <div class="form-element">
        <input class="form-control form-element-content" type="number" name="employees" min="20" style="width: 70px"
          [(ngModel)]="amount">
      </div>
      <small class="description">(minimum {{20 | currency:'USD'}})</small>
    </div>

    <h6 class="mt-2">so we could use SMS service!</h6>

    <button type="submit" class="btn big-btn btn-shadow bg-primary text-white button-save mt-3" (click)="addFunds()">
      Approve
    </button>
  </div>
</ng-template>
