<div class="widget">
  <div class="widget-header">
    <h3 class="widget-name d-flex align-items-center justify-content-between">
      Candidates

      <button
        *ngIf="selectedCandidates.size"
        class="fillin-btn btn btn-success"
        (click)="sendJobOffer()"
      >
        Send Job Offer
      </button>

      <span
        *ngIf="!selectedCandidates.size"
        class="filter-btn"
        (click)="toggleFilters()"
      >
        Filters
        <fa-icon [icon]="['fas', 'chevron-down']" class="text-primary"></fa-icon
      ></span>
    </h3>
  </div>

  <div *ngIf="showFilters" class="filter-wrapper" [class.open]="true">
    <app-filter-block
      [container]="true"
      [config]="filtersOfList"
      (event)="filterHandler($event)"
    ></app-filter-block>
  </div>

  <div
    *ngIf="!showFilters"
    class="widget-body list"
    infinite-scroll
    [infiniteScrollDistance]="modalScrollDistance"
    [infiniteScrollThrottle]="modalScrollThrottle"
    [scrollWindow]="false"
    (scrolled)="onModalScrollDown()"
  >
    <ng-container *ngFor="let candidate of candidates">
      <ng-container
        *ngTemplateOutlet="item; context: { candidate: candidate }"
      ></ng-container>
    </ng-container>

    <div
      *ngIf="!candidates || loading"
      class="d-flex align-items-center justify-content-center flex-fill"
    >
      <app-loader></app-loader>
    </div>
  </div>
</div>

<ng-template #item let-candidate="candidate">
  <div
    class="list-item"
    [class.selected]="candidate.selected"
    appDragNDrop
    draggable="true"
    (click)="selectCandidate(candidate)"
  >
    <img
      *ngIf="candidate.img"
      [src]="candidate.img"
      alt=""
      width="32"
      height="32"
    />
    <div *ngIf="!candidate.img" class="contact-avatar">
      {{ candidate.contactAvatar }}
    </div>
    <b class="name">{{ candidate.name }}</b>

    <span
      class="score d-flex align-items-center justify-content-center ml-auto"
      *ngIf="getScore(candidate.score)"
      [style.borderColor]="colors[getScore(candidate.score)]"
      [style.color]="colors[getScore(candidate.score)]"
    >
      {{ candidate.score | number: '1.1-1' }}&nbsp;
      <fa-icon [icon]="['fas', 'star']"></fa-icon>
    </span>

    <span
      class="score text-danger mt-0 ml-auto"
      [style.borderColor]="colors[1]"
      *ngIf="!getScore(candidate.score)"
    >
      No rating
    </span>

    <!-- <span class="skills">
      {{ candidate.skills.length }}
      {{ candidate.skills.length === 1 ? 'skill' : 'skills' }}
    </span> -->

    <fa-icon
      [icon]="['fas', 'check-circle']"
      class="selected-icon text-success"
    ></fa-icon>
  </div>
</ng-template>
