@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

:host {
  display: block;
  width: 264px;

  padding: 0 1rem 1rem;

  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(43, 46, 51, 0.2), 0 1px 2px 0 rgba(43, 46, 51, 0.08);
}

.body {
  border-top: 1px solid #f5f5f5;
}

.calendar {
  &-header {
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 10px;
    line-height: 12;

    opacity: .5;
  }

  &-row {
    display: flex;
    align-items: center;

    margin-top: 3px;
    margin-bottom: 3px;

    &.active {
      background-color: $brand-primary;
      border-radius: 50px;

      cursor: pointer;

      & .calendar-button,
      & .description {
        color: white;
      }
    }

    &.week:not(.active):hover {
      background-color: #f2f2f2;
      border-radius: 50px;
    }

  }

  &-item {
    flex: 1 1;

    font-size: 12px;
    line-height: 1;

    text-align: center;

    .description {
      opacity: .2;
      color: $gray;
    }
  }

  &-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-height: 28px;
    min-width: 28px;

    border: 0;
    border-radius: 50px;

    background-color: transparent;

    &.active {
      background-color: $brand-primary;
      color: white;
    }
  }
}

