<ng-container *ngIf="isYearRange">
  <app-date-range [type]="type" [date]="date" (dateChange)="changeCalendar($event)"></app-date-range>

  <div class="body">
    <div class="calendar-row" *ngFor="let row of yearBody">
      <div class="calendar-item" *ngFor="let month of row">
        <button type="button" class="calendar-button"
          [class.active]="month.active"
          (click)="changeDate(month.date)">
            {{month.label}}
        </button>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isWeekRange">
  <app-date-range [type]="dateRange.Month" [date]="date" (dateChange)="changeCalendar($event)"></app-date-range>

  <div class="body">
    <div class="calendar-row calendar-header">
      <div class="calendar-item" *ngFor="let day of monthBody?.header">{{day}}</div>
    </div>
    <div class="calendar-row week" *ngFor="let row of monthBody?.body" [class.active]="isActiveWeek(row)" (click)="changeDate(row[0].dateMoment)">
      <div class="calendar-item" *ngFor="let day of row">
        <span class="description" *ngIf="!day.currentMonth">{{day.label}}</span>
        <button *ngIf="day.currentMonth" type="button" class="calendar-button"
          [class.active]="day.active">
            {{day.label}}
        </button>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isDayRange">
  <app-date-range [type]="dateRange.Month" [date]="date" (dateChange)="changeCalendar($event)"></app-date-range>

  <div class="body">
    <div class="calendar-row calendar-header">
      <div class="calendar-item" *ngFor="let day of monthBody?.header">{{day}}</div>
    </div>
    <div class="calendar-row" *ngFor="let row of monthBody?.body">
      <div class="calendar-item" *ngFor="let day of row">
        <span class="description" *ngIf="!day.currentMonth">{{day.label}}</span>
        <button *ngIf="day.currentMonth" type="button" class="calendar-button"
          [class.active]="day.active"
          (click)="changeDate(day.dateMoment)">
            {{day.label}}
        </button>
      </div>
    </div>
  </div>
</ng-container>
