<label class="label"
  [class.inline]="config.templateOptions.inlineLabel"
  *ngIf="config.templateOptions && config.templateOptions.listLabel || config.listLabel">
    {{config.listLabel || config.templateOptions.listLabel}}:
</label>

<ng-container *ngIf="!arrayValue && !config.hideValue && !config.score">
  <span class="d-inline-flex align-items-center flex-wrap mr-1"
    *ngIf="value || value === 0"
    [title]="config.title || ''"
    [class.description]="config.description"
    [class.text-description]="config.muted">
      <span [ngClass]="{'label mr-1': length > 1}" *ngIf="config.label">{{config.label + ':'}} </span>
      <span *ngIf="!iconView && !iconClass && !workers">{{value}}</span>
      <span class="py-1" *ngIf="!iconView && !iconClass && workers" [placement]="'right'" [ngbTooltip]="workersdetail" style="cursor: default; padding-right: 1rem">{{value}}</span>
      <span [ngClass]="[iconClass]" *ngIf="!iconView && iconClass">{{value}}</span>
      <i fa *ngIf="iconView" [name]="value" [ngClass]="[iconClass]" [ngStyle]="{'color': iconColor}"></i>
  </span>

  <span class="d-inline-flex align-items-center flex-wrap"
    [class.description]="config.description"
    *ngIf="!value && value !== 0 && !(config.templateOptions && config.templateOptions.listLabel || config.listLabel)">
      -
  </span>
  <span [class.description]="config.help" *ngIf="(value || value === 0) && config.help">{{config.help}}</span>
</ng-container>

<ng-container *ngIf="arrayValue">
  <span [class.description]="config.description" *ngFor="let item of value; let l = last">
    <span class="d-inline-flex align-items-center flex-wrap" *ngIf="item || item === 0">
      <span [title]="config.title || ''">
        <span [ngClass]="{'label': length > 1}" *ngIf="config.label">{{config.label + ':'}} </span>
        {{item && item.__str__ ? item.__str__ : item}}
      </span>
    </span>
    <span class="d-inline-flex align-items-center flex-wrap" *ngIf="!item && item !== 0">-</span>
    <span *ngIf="config.delim && !l">{{config.delim}}</span>
    <br *ngIf="!config.delim && !l">
  </span>
</ng-container>

<span class="score-text d-block"
  [class.my-2]="isMobile()"
  *ngIf="config.score && getScore(value)"
  [style.color]="colors[getScore(value)]">
    <div class="rating" [style.borderColor]="colors[getScore(value)]">
      <ngb-rating [rate]="config.value" max="5" [readonly]="true">
        <ng-template let-fill="fill" let-index="index">
          <span *ngIf="fill === 100" class="star full">&#9733;</span>
          <span *ngIf="fill === 0" class="star">&#9733;</span>
          <span *ngIf="fill < 100 && fill > 0" class="star">
            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
          </span>
        </ng-template>
      </ngb-rating>
    </div>
    &nbsp;{{value | number:'1.1-1'}}
</span>

<span [class.mr-1]="config.delim !== ' '" *ngIf="config.delim && !last">{{config.delim}}</span>
<br *ngIf="!config.delim && config.name !== 'credit_approved'">

<ng-template #workersdetail>
  <div *ngFor="let worker of workers">
    <i class="text-success mr-1" *ngIf="worker.status === 'accepted'" fa name="check"></i>
    <i class="text-danger mr-1" *ngIf="worker.status === 'cancelled'" fa name="times"></i>
    <i class="text-default mr-1" *ngIf="worker.status === 'undefined'" fa name="minus"></i>
    {{worker.name}}
  </div>
</ng-template>
