<span *ngIf="!arrayValue">
  <span [class.description]="config.description" class="d-inline-flex align-items-center flex-wrap" *ngIf="value || value === 0">
    <span [title]="config.title || ''">
      <span [ngClass]="{'label': length > 1}" *ngIf="config.label">{{config.label + ':'}} </span>
      <span *ngIf="!iconView && !iconClass">{{value}}</span>
      <span [ngClass]="[iconClass]" *ngIf="!iconView && iconClass">{{value}}</span>
      <i fa *ngIf="iconView" [name]="value" [ngClass]="[iconClass]" [ngStyle]="{'color': iconColor}"></i>
    </span>
  </span>
  <span [class.description]="config.description" class="d-inline-flex align-items-center flex-wrap" *ngIf="!value && value !== 0">-</span>
</span>

<span *ngIf="arrayValue">
  <span [class.description]="config.description" *ngFor="let item of value; let l = last">
    <span class="d-inline-flex align-items-center flex-wrap" *ngIf="item || item === 0">
      <span [title]="config.title || ''">
        <span [ngClass]="{'label': length > 1}" *ngIf="config.label">{{config.label + ':'}} </span>
        {{item && item.__str__ ? item.__str__ : item}}
      </span>
    </span>
    <span class="d-inline-flex align-items-center flex-wrap" *ngIf="!item && item !== 0">-</span>
    <span *ngIf="config.delim && !l">{{config.delim}}</span>
    <br *ngIf="!config.delim && !l">
  </span>
</span>

<span *ngIf="config.delim && !last">{{config.delim}}</span>
<br *ngIf="!config.delim && config.name !== 'credit_approved'">
