span {
  font-size: 14px;
  line-height: 16px;
}

.label {
  font-size: 14px;
  opacity: .5;
}

label {
  display: block;

  margin-bottom: 0;

  &.inline {
    display: inline-block;

    &::after {
      display: inline-block;

      content: ' ';
    }
  }
}

.text-description {
  font-size: 12px;
  line-height: 14px;

  opacity: .5;
}

.text-comment {
  font-size: 14px;
  line-height: 16px;

  opacity: .7;
}

.score {
  display: inline-block;

  height: 14px;
  line-height: 14px;

  font-size: 14px;
  vertical-align: top;
}
