<div class="dashboard py-2">
  <div class="welcome d-flex align-items-center justify-content-center flex-column"
    *ngIf="userModules && !userModules.length">
    <span class="text-muted"><b>Modify your dashboard by adding widgets!</b></span>
    <button class="add-widget icon btn btn-primary mt-2 px-4 d-flex align-items-center justify-content-center" (click)="openModal()">
      <span class="text-white"><b>Add Widget</b></span>
    </button>
  </div>

  <div class="col-12 col-md-6 mt-5" *ngIf="userModules && userModules.length">
    <div class="mb-3 d-flex flex-column align-items-stretch justify-content-center"
      *ngFor="let group of widgetList">
      <h6 class="p-2 mb-0 bg-inverse text-white">{{group.label}}</h6>
      <div class="list-group">
        <div class="p-2 list-group-item d-flex align-items-center justify-content-between"
          *ngFor="let widget of group.list">
            <a [routerLink]="[widget.link]">{{widget.label}}</a>
        </div>
      </div>
    </div>

    <button class="icon btn btn-primary mt-2 px-4 d-flex align-items-center justify-content-center" (click)="openModal()">
      <span class="text-white"><b>Add Widget</b></span>
    </button>
  </div>
</div>

<template #modal let-c="close">
  <div class="dashboard">
    <div class="modal-content-wrapper">
      <div class="modal-header-wrapper">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Widgets</h5>
          <button type="button" class="close ml-2" (click)="c()">
            <span class="text-white" aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <div class="modal-body">
        <div class="d-flex justify-content-around align-items-stretch flex-wrap flex-column">
          <div class="widget-preview p-2 d-flex justify-content-center align-items-center"
            *ngFor="let widget of availableModules"
            (click)="addModule(widget, c)">
              <span class="text-muted"><b>{{widget.content_type.name}}</b></span>
          </div>
          <div class="d-flex justify-content-center align-content-center p-3"
            *ngIf="availableModules && !availableModules.length">
              <span class="text-muted">No Widgets</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


