<div class="workflow-container">
  <label class="workflow-title">Workflow Settings</label>

  <div class="row">
    <div *ngIf="workflowList" class="form-element col-4">
      <label class="col-form-label form-element-label">Workflow</label>

      <div class="form-element-content edit">
        <select class="form-control custom-select"
          [(ngModel)]="workflowId"
          (ngModelChange)="getNodes($event)">
            <option class="text-muted" value="" [disabled]="true">Workflow</option>
            <option *ngFor="let workflow of workflowList" [value]="workflow.value">{{workflow.label}}</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <ng-container
        appFormElement
        [config]="checkboxConfig"
        [group]="checkboxForm">
      </ng-container>
    </div>
  </div>

  <div class="workflow" *ngIf="currentWorkflowNodes">
    <div dnd-sortable-container [sortableData]="currentWorkflowNodes" class="workflow-wrapper">
      <div class="workflow-item"
        dnd-sortable
        [sortableIndex]="i"
        *ngFor="let node of currentWorkflowNodes; let i = index;"
        (click)="openState(node)"
        (onDragSuccess)="onDrop($event)">
          <div class="title">
            {{node.workflow_node.name_before_activation}}
          </div>
          <i fa name="times" class="icon text-danger" (click)="deleteNode(node.id, $event)"></i>
      </div>

    </div>

    <a href="" class="main add-link" (click)="addState($event)">Add State</a>
  </div>
</div>

<ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">{{modalInfo.label}}</h5>
        <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <div class="buttons">
        <button type="button" class="btn btn-sm btn-warning" (click)="openEditModal(modalInfo.node, c)"><i fa name="pencil"></i> Edit</button>
      </div>

      <div class="substates">
        <div class="substates-item">
          <label class="field-title">Substates:</label>

          <div>
            <span class="badge badge-outline mb-1 mr-1" style="white-space: normal"
              (click)="openState(state, c)"
              *ngFor="let state of subStates[modalInfo.id]">
                {{state.workflow_node.name_before_activation}}
                <i fa class="ml-2"
                  (click)="deleteSubstate(state, $event)"
                  name="times">
                </i>
            </span>
          </div>

          <a href="" class="add-link mt-1" (click)="addSubstate($event, modalInfo.node)">Add Substate</a>
        </div>

        <div class="substates-item">
          <label class="field-title">Acceptance Tests:</label>
          <div>
            <span class="badge badge-outline mb-1 mr-1" style="white-space: normal"
              *ngFor="let test of acceptanceTests[modalInfo.node.id]">
                {{test.acceptance_test.name}}
                <i fa class="ml-2"
                  (click)="deleteTest(test, modalInfo.node)"
                name="times"></i>
            </span>
          </div>
          <a href="" class="add-link mt-1" (click)="addTest($event, modalInfo.node)">Add Acceptence Test</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">{{editModalInfo.label}}</h5>
        <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <app-generic-form
        [endpoint]="editModalInfo.endpoint"
        [id]="editModalInfo.id"
        [data]="editModalInfo.data"
        (event)="formEvent($event, c)"
        (errorForm)="formError($event)">
          <button type="submit" class="btn btn-secondary bg-primary text-white button-save" [disabled]="saveProcess">
            Save
            <app-spinner *ngIf="saveProcess"></app-spinner>
          </button>
      </app-generic-form>
    </div>
  </div>
</ng-template>

<ng-template #add let-c="close" let-d="dismiss">
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">{{parentId ? 'Add Substate' : 'Add State'}}</h5>
        <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <app-dynamic-form
        [config]="addConfig"
        (submitForm)="addStateToCompany($event, c)">
          <button type="submit" class="btn btn-secondary bg-primary text-white button-save"
            [disabled]="saveProcess">
            Add
            <app-spinner *ngIf="saveProcess"></app-spinner>
          </button>
      </app-dynamic-form>
    </div>
  </div>
</ng-template>

<ng-template #tests let-c="close" let-d="dismiss">
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">Add Acceptance Test</h5>
        <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <app-dynamic-form
        [config]="addConfig"
        (submitForm)="addAcceptenceTest($event, c)">
          <button type="submit" class="btn btn-secondary bg-primary text-white button-save"
            [disabled]="saveProcess">
            Add
            <app-spinner *ngIf="saveProcess"></app-spinner>
          </button>
      </app-dynamic-form>
    </div>
  </div>
</ng-template>
