<div class="test-builder">
  <ng-content></ng-content>

  <div class="test__wrapper">
    <h5 class="test__title">Test</h5>

    <div class="test-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <div
        class="test__item test-box"
        *ngFor="let question of questions; let index = index"
        cdkDrag
      >
        <div class="test__question">
          <div class="test__actions">
            <button type="button" class="btn hov-opacity" (click)="deleteQuestion(question.id, questions, index)">
              <fa-icon icon="trash" class="text-danger"></fa-icon>
              Delete
            </button>
            <button *ngIf="question.id" type="button" class="btn hov-opacity" (click)="editQuestion(question.config)">
              <fa-icon icon="pencil-alt" class="text-warning"></fa-icon>
              Edit
            </button>
          </div>

          <app-dynamic-form
            #question
            [hiddenFields]="question.hiddenFields"
            [config]="question.config"
            (submitForm)="saveQuestion($event, index, question.id)"
          >
          </app-dynamic-form>

          <div class="images" *ngIf="question.id">
            <app-image-uploader
              [loading]="pictureLoading.get(question.id)"
              [source]="pictures.get(question.id)"
              (remove)="onRemovePicture($event, question.id)"
              (images)="onUpload($event, question.id)"
            ></app-image-uploader>
          </div>

          <div
            class="test__answers"
            *ngIf="question.id && getType(question.config) !== 1"
          >
            <div
              class="test__answer"
              *ngFor="let answer of answers[question.id]; let index = index"
            >
              <div class="test__actions">
                <fa-icon
                  icon="trash"
                  class="text-danger hov-opacity"
                  (click)="deleteAnswer(getId(answer), answers[question.id], index)"
                ></fa-icon>
                <fa-icon
                  *ngIf="getId(answer)"
                  icon="pencil-alt"
                  class="text-warning hov-opacity ml-2"
                  (click)="editAnswer(answer)"
                ></fa-icon>
              </div>

              <app-dynamic-form
                [config]="answer"
                (submitForm)="saveAnswer($event, index, question.id, getId(answer))"
              ></app-dynamic-form>
            </div>

            <button
              class="btn btn-secondary align-self-center my-2"
              *ngIf="testData && checkCount(getType(question.config), answers[question.id].length)"
              type="button"
              (click)="addAnswer(true, answers[question.id], null, question)"
            >
              <fa-icon icon="plus"></fa-icon> Answer
            </button>
          </div>
        </div>
      </div>
    </div>

    <button
      class="btn btn-secondary mr-2"
      *ngIf="testData"
      type="button"
      (click)="addQuestion(true)"
    >
      <fa-icon icon="plus"></fa-icon> Question
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      *ngIf="testData"
      (click)="showPreview()"
    >
      View
    </button>
  </div>
</div>
