@import '../../../../../../../styles/variables';
@import '../../../../../../../styles/mixins';

.description-title {
  display: inline-block;

  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;

  & ~ i {
    visibility: hidden;

    cursor: pointer;
  }
}

.test-builder {

  form {
    margin-top: 0 !important;

    .items {
      padding: 0;
    }
  }


  hr {
    margin: 20px 40px;
  }

  .questions,
  .answers {
    margin: 0 40px;

    label {
      margin-right: 1rem;

      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      text-transform: uppercase;

      opacity: .3;
      color: #333;
    }

    &-item {
      margin: 5px 40px;

      border: 1px solid rgba(51, 51, 51, .1);
      border-radius: 5px;

      &:hover > .description-title ~ i {
        visibility: visible;
      }
    }

    &-button {
      margin-left: 40px;
    }
  }

  .answers-button {
    margin-bottom: 10px;
  }
}

.close {
  position: absolute;
  top: 9px;
  right: 16px;

  z-index: 1;
}
