<div class="filter-element" [class.active]="!isCollapsed">
  <label class="filter-label" [class.active]="!isCollapsed">
    {{config.label}}
    <!-- <i
      fa
      class="p-2 ml-auto"
      [name]="icons[theme][isCollapsed]"
      [border]=false [class.text-primary]="icons[theme] === 'r3sourcer' && !isCollapsed"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" style="cursor: pointer">
    </i> -->
    <i
      *ngIf="query"
      fa
      class="text-danger ml-1"
      [name]="'times-circle'"
      [border]="true"
      style="cursor: pointer"
      (click)="resetFilter()">
    </i>
  </label>
  <div [ngbCollapse]="isCollapsed" class="filter-select-wrapper">

    <input
      type="number"
      class="form-control"
      [(ngModel)]="data"
      (blur)="onChange()"
      [attr.min]="config.min"
      [attr.max]="config.max"
      [attr.value]="config.default">
  </div>
</div>
