<div class="d-flex align-items-center">
  <div class="d-flex align-items-center flex-wrap ml-sm-auto"
    *ngIf="buttons && buttons.length">
      <div class="my-1" *ngFor="let button of buttons; let f = first; let l = last">
        <a class="datatable-button" routerLink="add"
        [ngClass]="{'mx-2': !(f || l)}"
        *ngIf="first && !inForm && button.action === 'add_object'">
          <i *ngIf="button.action === 'add_object'" fa [name]="'plus-circle'" class="text-white"></i>
            {{button.label}}
        </a>
        <button *ngIf="!first || inForm || button.action !== 'add_object'" class="datatable-button"
          [ngClass]="{'mx-2': !(f || l)}"
          (click)="buttonAction(button.action)">
            {{button.label}}
        </button>
      </div>
  </div>
  <div class="d-flex align-items-center ml-sm-auto"
    *ngIf="!buttons">
    <a class="datatable-button text-white" routerLink="add"
      *ngIf="first && !inForm">
        <i fa [name]="'plus-circle'" class="text-white mr-2"></i>
        Add {{label}}
      </a>
      <button *ngIf="!first || inForm" class="datatable-button ml-auto"
        (click)="buttonAction('add_object')">
        <i fa [name]="'plus-circle'" class="text-white mr-2"></i>
        Add {{label}}
      </button>
  </div>
  <button class="datatable-button hidden-sm-down ml-2"
    *ngIf="!first && !poped"
    (click)="buttonAction('poped_table')">
    <i
      fa
      [name]="'window-restore'"
      [border]="true" class="text-white icon"
      aria-hidden="true"></i>
  </button>
</div>
