<ng-container *ngIf="list">
  <div *ngFor="let skill of config.value">
    <span class="skill-title">{{skill.skill.name}} &nbsp;</span>
    <span [style.color]="colors[skill.score]">
        | &nbsp;{{skill.score}}&nbsp;
        <i fa name="star"></i>
    </span>
  </div>
</ng-container>

<ng-container *ngIf="!list">
  <div>
     <span class="skill-title">{{config.skillName}} &nbsp;</span>
     <span [style.color]="colors[config.value]">
      | &nbsp;{{config.value}}&nbsp;
      <i fa name="star"></i>
     </span>
  </div>
</ng-container>
