<ng-container *ngIf="list">
  <div *ngFor="let skill of dataList">
    <span class="skill-title">
      {{skill.skill.__str__}}
      <span class="score"
        [style.color]="colors[getScore(skill.score)]"
        [style.borderColor]="colors[getScore(skill.score)]">
          {{skill.score | number:'1.1-1'}}&nbsp;<i fa name="star"></i>
      </span>
    </span>
  </div>
  <a class="more" href *ngIf="more" (click)="showMore($event)">{{config.value.length - 4}} more</a>
</ng-container>

<ng-container *ngIf="!list">
  <div>
    <span class="skill-title">
      {{config.skillName}} {{evaluationCount}}
      <span class="score"
        *ngIf="getScore(config.value)"
        [style.color]="colors[getScore(config.value)]"
        [style.borderColor]="colors[getScore(config.value)]">
          {{config.value | number:'1.1-1'}}&nbsp;<i fa name="star"></i>
      </span>
      <span class="text-danger" *ngIf="!getScore(config.value)">&nbsp;|&nbsp;No rating</span>
    </span>
  </div>
</ng-container>
