<div class="form-group" [formGroup]="group">
  <label *ngIf="label && config.templateOptions.label" [attr.for]="key">{{config.templateOptions.label}}</label>
  <select
    class="form-control custom-select"
    #select
    (change)="eventHandler($event)"
    [formControlName]="key"
    [attr.id]="key"
    [attr.name]="key">
      <option class="text-muted" value="" [disabled]="true">{{config.templateOptions.label ? config.templateOptions.label : ''}}</option>
      <option *ngFor="let option of config.templateOptions.options" [attr.value]="option.value" [selected]="group.get(key).value == option.value">{{option.label}}</option>
  </select>
  <small class="text-muted" *ngIf="config.templateOptions.description">
    {{config.templateOptions.description}}
  </small>
  <div *ngIf="errors">
    <div class="text-danger mt-1" *ngIf="errors[key]">{{errors[key]}}</div>
  </div>
  <div *ngIf="message">
    <div *ngIf="message[key]" class="text-success mt-1">{{message[key]}}</div>
  </div>
</div>
