@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.form-navigation {
  width: calc(100% - 285px);
  max-width: 80%;

  margin: 0 auto;
  padding-bottom: 8px;

  .datatable-body & {
    width: auto;
    max-width: none;
    padding-top: 0;
    margin-top: -16px;
  }

  a {
    font-size: 14px;
    line-height: 16px;

    color: $brand-primary;

    &:hover {
      cursor: pointer;
    }

    @each $item in $themes {
      .#{$item}-theme & {
        color: map-get($theme-colors, $item);
      }
    }
  }

  svg {
    margin-bottom: 1px;

    @each $item in $themes {
      .#{$item}-theme & path {
        fill: map-get($theme-colors, $item);
      }
    }
  }

  @include media-breakpoint-down('lg') {
    width: 100%;
    max-width: 100%;
  }
}
