<header #header class="site-header">
  <div class="site-header__content">
    <button
      class="hamburger hamburger--spring d-xl-none"
      type="button"
      *ngIf="pages && pages.length"
      [ngClass]="{ 'is-active': isCollapsed }"
      (click)="showNavigation($event)"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <a class="logo" routerLink="/">
      <img class="logo-img" *ngIf="logo" [src]="logo" />
    </a>

    <nav
      #nav
      class="nav order-0"
      [ngClass]="{ 'flex-first': pages }"
      *ngIf="pages && pages.length"
    >
      <ul
        class="nav__list nav__list--main"
        [ngClass]="{ show: isCollapsed }"
        [ngStyle]="{ 'top.px': isCollapsed ? headerHeight : 0 }"
      >
        <ng-container *ngFor="let page of pages">
          <ng-container
            *ngTemplateOutlet="
              item;
              context: { page: page, first: true, height: headerHeight }
            "
          ></ng-container>
        </ng-container>
      </ul>
    </nav>

    <webui-time
      *ngIf="user"
      class="clock"
      translateKey="local_time"
      description="Local time"
      [hidden]="!initTime"
      (init)="initTime = true"
    ></webui-time>

    <webui-language-selector
      [class.ms-auto]="!user"
      class="language-selector"
    ></webui-language-selector>

    <div #userBlock class="user" *ngIf="user" (click)="toggleUserBlock($event)">
      <div class="user-block">
        <img
          class="user-avatar"
          *ngIf="picture"
          [src]="picture"
          width="50px"
          height="50px"
        />
        <div *ngIf="contactAvatar" class="user-avatar contact-avatar">
          {{ contactAvatar }}
        </div>

        <div class="user-preview">
          <div class="user-role-information">
            <h4 class="user-name text-primary">{{ fullName }}</h4>
            <p class="user-position">
              {{ getRolePosition(currentRoleObject) | translate }}
            </p>
          </div>

          <span class="text-primary dropdown-icon">
            <webui-icon
              [icon]="Icon.ArrowDown"
              [size]="IconSize.Medium"
            ></webui-icon>
          </span>
        </div>
      </div>

      <div *ngIf="!hideUserMenu" class="user-menu">
        <a
          *ngFor="let role of roles"
          href="https://{{ role.domain }}"
          class="user-menu__role"
          [class.active]="role.id === currentRole"
          (click)="changeRole(role, $event)"
        >
          <span class="user-menu__role-indicator"></span>

          <img
            class="user-avatar"
            *ngIf="picture"
            [src]="picture"
            width="50px"
            height="50px"
          />
          <div *ngIf="contactAvatar" class="user-avatar contact-avatar">
            {{ contactAvatar }}
          </div>

          <div class="user-preview">
            <div class="user-role-information">
              <h4 class="user-name text-primary">{{ fullName }}</h4>
              <p class="user-position">
                {{ getRolePosition(role) | translate }}
              </p>
            </div>
          </div>
        </a>

        <div class="user-menu__section">
          <a
            class="link"
            [routerLink]="this.urlPrefix + '/profile'"
            *ngIf="userType ==='client' || userType === 'candidate'"
          >
            {{ 'profile' | translate: { Default: 'Profile' } }}
          </a>

          <a class="link" href="" (click)="changePassword()">
            {{ 'change_password' | translate: { Default: 'Change password' } }}
          </a>

          <button
            type="button"
            class="button button--primary"
            (click)="logOut()"
          >
            {{ 'log_out' | translate: { Default: 'Log out' } }}
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

<ng-template #list let-p="pages" let-h="height">
  <ul *ngIf="!isCollapsed && p.length" class="nav__list--nested">
    <ng-container *ngFor="let page of p">
      <ng-container
        *ngTemplateOutlet="item; context: { page: page }"
      ></ng-container>
    </ng-container>
  </ul>
  <ul *ngIf="isCollapsed && p.length" class="nav__list--nested">
    <ng-container *ngFor="let page of p">
      <ng-container
        *ngTemplateOutlet="item; context: { page: page }"
      ></ng-container>
    </ng-container>
  </ul>
</ng-template>

<ng-template #item let-p="page" let-f="first" let-h="height">
  <li class="nav__item" [class.disabled]="p.disabled" [class.opened]="p.opened">
    <span class="link__wrapper">
      <a
        *ngIf="!p.disabled"
        [routerLink]="
          p.url !== '/'
            ? [checkUrlPrefix(p.url) ? urlPrefix + p.url : p.url]
            : null
        "
        class="link"
        [class.main]="f"
        [class.active]="p.active"
        (click)="clickAction($event, p)"
      >
        <span *ngIf="!f" class="circle-indicator"></span>

        {{ p.translateKey | translate: { Default: p.name } }}
      </a>

      <span
        class="link disabled"
        *ngIf="p.disabled"
        (click)="isCollapsed = false"
        [attr.title]="getDisableTitle(p.name)"
      >
        {{ p.translateKey | translate: { Default: p.name } }}
      </span>

      <span
        class="arrow-icon text-primary"
        *ngIf="p.children.length"
        [class.rotate]="p.opened"
      >
        <webui-icon
          [icon]="Icon.ArrowDown"
          [size]="IconSize.Medium"
        ></webui-icon>
      </span>
    </span>

    <ng-container *ngIf="p.children && f">
      <ng-container
        *ngTemplateOutlet="list; context: { pages: p.children, height: h }"
      ></ng-container>
    </ng-container>

    <ng-container *ngIf="p.children && !f">
      <ng-container
        *ngTemplateOutlet="list; context: { pages: p.children }"
      ></ng-container>
    </ng-container>
  </li>
</ng-template>
