<header #header class="page-header">
  <a class="order-1 order-xl-0" routerLink="" [class.logo]="!logo">
    <img class="logo-img" *ngIf="logo" [src]="logo" />
  </a>
  <nav
    #nav
    class="navigation order-0"
    [ngClass]="{ 'flex-first': pages }"
    *ngIf="pages && pages.length"
  >
    <button
      class=" d-flex align-items-center hamburger hamburger--spring d-xl-none"
      type="button"
      [ngClass]="{ 'is-active': isCollapsed }"
      (click)="showNavigation($event)"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <ul
      class="navigation-list navigation-list-parent"
      [ngClass]="{ show: isCollapsed }"
      [ngStyle]="{ 'top.px': isCollapsed ? headerHeight : 0 }"
    >
      <ng-container *ngFor="let page of pages">
        <ng-container
          *ngTemplateOutlet="
            item;
            context: { page: page, first: true, height: headerHeight }
          "
        ></ng-container>
      </ng-container>
    </ul>
  </nav>
  <app-time
    *ngIf="user"
    class="time"
    translateKey="local_time"
    description="Local time"
    [hidden]="!initTime"
    (init)="initTime = true"
  ></app-time>
  <div #userBlock class="user order-1" *ngIf="user">
    <div class="user-block">
      <div class="user-info d-xl-flex">
        <span>{{ user.data.contact.__str__ }}</span>
        <span class="description">{{ companyName }}</span>
        <span *ngIf="user.data.end_trial_date.length" class="description">
          Trail version expires
          {{ formatDate(user.data.end_trial_date) }}
        </span>
      </div>
      <img
        *ngIf="picture"
        [src]="picture"
        width="50px"
        height="50px"
        (click)="hideUserBlock($event)"
      />
      <div
        *ngIf="contactAvatar"
        class="contact-avatar"
        (click)="hideUserBlock($event)"
      >
        {{ contactAvatar }}
      </div>

      <i class="user-icon" (click)="hideUserBlock($event)">
        <svg
          width="14"
          height="8"
          viewBox="0 0 14 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 1L7 7L13 1"
            stroke="#4F4F4F"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </i>
    </div>

    <ul *ngIf="!hideUserMenu" class="user-menu">
      <li class="px-3" *ngIf="!isManager()"><app-language-selector></app-language-selector></li>
      <li>
        <div
          *ngIf="user && user.data.roles && user.data.roles.length > 1"
          class="form-inline role"
        >
          <span class="mr-1">Role:</span>
          <select
            class="form-control form-control-sm"
            id="role"
            [ngModel]="currentRole"
            (ngModelChange)="changeRole($event)"
          >
            <option *ngFor="let role of user.data.roles" [value]="role.id">
              <small>{{ role.__str__ }}</small>
            </option>
          </select>
        </div>
      </li>
      <li *ngIf="candidate"><a routerLink="/cd/profile">{{ 'profile' | translate: {"Default": "Profile" } }}</a></li>
      <li class="d-xl-none description">
        <span>{{ user.data.contact.__str__ }}</span
        ><br />
        <span *ngIf="company">{{ company }}</span>
      </li>
      <li><a href="" (click)="changePassword()">{{ 'change_password' | translate: {"Default": "Change password"} }}</a></li>
      <li><a routerLink="/" (click)="logOut()">{{ 'log_out' | translate: {"Default": "Log out"} }}</a></li>
    </ul>


  </div>
</header>

<ng-template #list let-p="pages" let-h="height">
  <ul *ngIf="!isCollapsed && p.length" class="navigation-list-nested">
    <ng-container *ngFor="let page of p">
      <ng-container
        *ngTemplateOutlet="item; context: { page: page }"
      ></ng-container>
    </ng-container>
  </ul>
  <ul *ngIf="isCollapsed && p.length" class="navigation-list-nested">
    <ng-container *ngFor="let page of p">
      <ng-container
        *ngTemplateOutlet="item; context: { page: page }"
      ></ng-container>
    </ng-container>
  </ul>
</ng-template>

<ng-template #item let-p="page" let-f="first" let-h="height">
  <li
    class="navigation-item"
    [class.disabled]="p.disabled"
    [class.opened]="p.opened"
  >
    <a
      *ngIf="!p.disabled"
      [routerLink]="
        p.url !== '/'
          ? [checkUrlPrefix(p.url) ? urlPrefix + p.url : p.url]
          : null
      "
      class="navigation-link"
      [class.active]="p.active"
      (click)="clickAction($event, p)"
      >{{ p.url | translate: {"Default": p.name} }}</a
    >
    <span
      class="navigation-link disabled"
      *ngIf="p.disabled"
      (click)="isCollapsed = false"
      [attr.title]="getDisableTitle(p.name)"
      >{{ p.url | translate: {"Default": p.name} }}</span
    >
    <fa-icon
      class="icon"
      [class.active]="p.active"
      [icon]="['fas', 'circle']"
    ></fa-icon>

    <fa-icon
      class="icon-link"
      [class.extend]="p.childrens && p.childrens.length"
      [icon]="['fas', p.opened ? 'minus' : 'plus']"
    >
    </fa-icon>

    <ng-container *ngIf="p.childrens && f">
      <ng-container
        *ngTemplateOutlet="list; context: { pages: p.childrens, height: h }"
      ></ng-container>
    </ng-container>

    <ng-container *ngIf="p.childrens && !f">
      <ng-container
        *ngTemplateOutlet="list; context: { pages: p.childrens }"
      ></ng-container>
    </ng-container>
  </li>
</ng-template>
