
<div class="separetor">

  <h5>Sms credit details</h5>
  <ng-container *ngIf="smsBalance">
    <div class="field">
      <span>Charge rate for SMS:</span>
      <span style="opacity: 1; font-weight: 600;">{{smsBalance.segment_cost | currency: currency}} per segment (160 signs)</span>
    </div>

    <div class="field pt-1 pb-2">
      <span class="text-uppercase">Auto top-up:</span>
      <div class="d-block">
        <div class="value">
          <span class="on"
                [class.active]="smsBalance.auto_charge">on</span>/<span class="off"
                [class.active]="!smsBalance.auto_charge">off</span>
      </div>
      <a type="button"
              class="action-button-link "
              (click)="autoCharge()">Configure Auto-charge</a>
      </div>
  </div>

  <div class="field current-balance">
      <span class="text-uppercase">Current balance:</span>
      <span class="value active">{{smsBalance.balance | currency: currency}}</span>
      <button type="button"
              class="btn btn-sm btn-primary ml-3 action-button"
              (click)="showAddFundsForm()"
              [disabled]="!cardExist">Add Funds</button>
  </div>

  </ng-container>


  <ng-template #charge let-c="close" let-d="dismiss">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">Auto-charge</h5>

        <webui-close-button class="ms-auto" (click)="d()"></webui-close-button>
      </div>
    </div>

    <div class="modal-body">
      <webui-dynamic-form
        [config]="modalConfig"
        [form]="group">
        <div class="text-center">
          <button type="submit" class="btn big-btn btn-shadow bg-primary text-white button-save mt-3" (click)="saveAutoCharge()">
            Save
          </button>
        </div>
      </webui-dynamic-form>
    </div>
  </ng-template>

  <ng-template #funds let-c="close" let-d="dismiss">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">Add funds</h5>

        <webui-close-button class="ms-auto" (click)="d()"></webui-close-button>
      </div>
    </div>

    <div class="modal-body text-center">
      <h6>Confirming, I want my saved Credit Card to be charged</h6>

      <div class="d-flex align-items-center justify-content-center">
        <div class="form-element">
          <input class="form-control form-element-content" type="number" name="employees" min="20" style="width: 70px"
            [(ngModel)]="amount">
        </div>
        <small class="description">(minimum {{20 | currency: currency}})</small>
      </div>

      <h6 class="mt-2">so we could use SMS service!</h6>

      <button type="submit" class="btn big-btn btn-shadow bg-primary text-white button-save mt-3" (click)="addFunds()">
        Approve
      </button>
    </div>
  </ng-template>

</div>
