<div class="form-group" [class.mb-0]="!config.templateOptions.mb && !this.group" style="white-space: nowrap">
  <label class="mr-1" *ngIf="label && config.templateOptions.label">{{config.templateOptions.label}}</label>
  <button
    *ngIf="!config.hidden && (config.templateOptions.text || repeatArray.length > 1)"
    [ngClass]="[buttonClass]"
    [ngStyle]="{'backgroundColor': config.color}"
    class="btn mt-1 mb-1"
    [class.button]="config.list && !buttonClass"
    [class.btn-sm]="config.templateOptions.small"
    [class.px-2]="config.templateOptions.p"
    [class.pl-4.pr-4]="!config.templateOptions.p"
    [class.btn-primary]="!config.list"
    [class.text-white]="buttonClass || config.color"
    [attr.type]="config.templateOptions.type"
    (click)="action($event)">
      <span class="d-flex align-items-center justify-content-between">
        <i fa
          [ngClass]="{'text-white': buttonClass, 'mr-1': !last || first}"
          *ngFor="let icon of repeatArray; let last = last; let first = first"
          [name]="config.templateOptions.icon"></i>{{config.templateOptions.text}}
      </span>
  </button>
  <i *ngIf="!config.hidden && !config.templateOptions.text && repeatArray.length === 1"
     class="icon"
     fa
     [name]="config.templateOptions.icon"
     [ngStyle]="{'color': config.templateOptions.text_color}"
     (click)="action($event)">
  </i>
  <span *ngIf="config.hidden">{{replacyValue}}</span>
  <small class="text-muted" *ngIf="config.templateOptions.description">
    {{config.templateOptions.description}}
  </small>
</div>
