<div class="form-group d-inline-block" [class.mb-0]="!config.templateOptions.mb && !this.group" style="white-space: nowrap" *ngIf="!config.hidden || showButton">
  <label class="mr-1" *ngIf="label && config.templateOptions.label">{{config.templateOptions.label}}</label>
  <button [type]="config.templateOptions.type ? config.templateOptions.type : 'button'"
    *ngIf="(!config.hidden || showButton) && (config.templateOptions.text || repeatArray && repeatArray.length > 1) && config.action !== 'showMessage'"
    [ngClass]="[buttonClass]"
    [ngStyle]="{'backgroundColor': config.color}"
    class="btn"
    [class.btn-outline-primary]="config.list && !buttonClass"
    [class.btn-sm]="config.templateOptions.small"
    [class.px-2]="config.templateOptions.p"
    [class.list]="config.templateOptions.p"
    [class.text-white]="buttonClass || config.color"
    [disabled]="config.disableAction"
    (click)="action($event)">
      <span *ngIf="repeatArray" class="d-flex align-items-center justify-content-between">
        <i fa
          [ngClass]="{'text-white': buttonClass, 'mr-1': !last || first}"
          *ngFor="let icon of repeatArray; let last = last; let first = first"
          [name]="config.templateOptions.icon">
        </i>
        {{config.templateOptions.text}}
      </span>

      <span *ngIf="!repeatArray">{{config.templateOptions.text}}</span>
  </button>
  <button class="btn btn-sm btn-link mr-1" type="button" *ngIf="config.action === 'showMessage'" [placement]="config.placement" [ngbTooltip]="detail" (click)="action($event)">
    {{config.templateOptions.text}}
  </button>
  <span class="postfix mr-1" *ngIf="config.postfix">{{config.postfix}}</span>
  <span class="custom-button" *ngIf="!config.hidden && !config.templateOptions.text && repeatArray && repeatArray.length === 1 && !config.disableAction" (click)="action($event)">
    <i class="icon" fa [name]="config.templateOptions.icon"
      [ngStyle]="{'color': config.text_color}" [title]="config.title">
    </i>
    {{config.title}}
  </span>
  <span *ngIf="config.customLink" class="custom-link" (click)="action($event)">{{config.title}}</span>
  <span *ngIf="config.hidden && replacyValue">{{replacyValue}}</span>
  <small class="text-muted" *ngIf="config.templateOptions.description">
    {{config.templateOptions.description}}
  </small>
  <span *ngIf="config.delim">{{config.delim}}</span>
</div>
<span *ngIf="config.emptyValue && config.hidden">{{config.emptyValue}}</span>
<br *ngIf="config.list && !config.hidden && !config.delim && !config.noDelim">

<ng-template #detail>
  <div class="line">
    <label for="">Data:</label>
    <p>{{config.value.sent_at | dateFormat: 'datetime'}}</p>
  </div>

  <div class="line">
    <label for="">Status:</label>
    <p>{{config.value.status}}</p>
  </div>

  <div class="line">
    <label for="">Text:</label>
    <p>{{config.value.text}}</p>
  </div>
</ng-template>
