<div class="site-page">
  <div class="form-page">

    <div class="header">
      <img class="logo" [src]="settings.logo || '/assets/img/new-software.svg'">

      <h3 class="title">{{settings.company_name}}</h3>
      <h4 *ngIf="config" class="form-name">{{config.title}}</h4>
    </div>


    <div class="form-content">
      <app-form-builder-form
        [id]="settings.company_settings.register_form_id"
        (formConfig)="setFormConfig($event)">
      </app-form-builder-form>
    </div>
  </div>
</div>
