<div *ngIf="(!viewMode || config.list) && !config.hide">
  <div *ngIf="!config.list" class="form-group" [formGroup]="group">
    <div class="form-element" *ngIf="!config.many">
      <label class="col-form-label form-element-label" *ngIf="label && config.templateOptions.label" [attr.for]="key">
        {{config.templateOptions.label}}:
      </label>
      <div class="form-element-content flex-row" style="position: relative">
        <div class="form-control custom-select autocomplete-value"
          [ngClass]="{'active': !config.readonly}"
          (click)="openAutocomplete()">
          <div style="overflow: hidden; white-space: nowrap">{{displayValue}}</div>
        </div>
        <div class="btn-group" role="group"
          *ngIf="config.options && (config.templateOptions.add || config.templateOptions.edit || config.templateOptions.delete)" >
          <button type="button" class="btn btn-secondary"
            *ngIf="config.templateOptions.edit && displayValue"
            (click)="open('edit')">
            <i fa class="text-primary icon"
              [name]="'pencil'"></i>
          </button>
          <button type="button" class="btn btn-secondary"
            *ngIf="config.templateOptions.add"
            (click)="open('add')">
            <i fa class="text-success icon"
              [name]="'plus'" ></i>
          </button>
          <button type="button" class="btn btn-secondary"
            *ngIf="config.templateOptions.delete && displayValue"
            (click)="open('delete')">
            <i fa class="text-danger icon"
              [name]="'times'"></i>
          </button>
        </div>
        <div class="card autocomplete p-1" [hidden]="hideAutocomplete" style="top: 2.4rem">
          <input type="text" class="form-control mb-1" autocomplete="off"
            #search
            [(ngModel)]="searchValue"
            [ngModelOptions]="{standalone: true}"
            (blur)="resetList()"
            (keyup)="filter(searchValue)">
          <div #autocomplete class="autocomplete-list"
            infinite-scroll
            [infiniteScrollDistance]="modalScrollDistance"
            [infiniteScrollThrottle]="modalScrollThrottle"
            [scrollWindow]="false"
            (scrolled)="onModalScrollDown()"
            [hidden]="!(previewList && previewList.length)">
            <ul class="list-group w-100">
              <li class="list-group-item autocomplete-item p-1 pl-2" style="cursor: pointer"
                *ngFor="let option of previewList"
                (click)="setValue(option)">{{option.__str__}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="form-element" *ngIf="config.many">
      <label class="col-form-label form-element-label" *ngIf="label && config.templateOptions.label" [attr.for]="key">
        {{config.templateOptions.label}}:
      </label>
      <div class="form-element-content flex-column align-items-start" style="position: relative">
        <input type="text" class="form-control custom-select autocomplete-value" autocomplete="off"
          [(ngModel)]="searchValue"
          [ngModelOptions]="{standalone: true}"
          [ngClass]="{'active': !config.readonly}"
          (focus)="generateList()"
          (blur)="resetList()"
          (keyup)="filter(searchValue)">
        <div class="autocomplete" [hidden]="!(previewList && previewList.length)" style="top: 2.4rem">
          <div class="autocomplete-list"
            infinite-scroll
            [infiniteScrollDistance]="modalScrollDistance"
            [infiniteScrollThrottle]="modalScrollThrottle"
            [scrollWindow]="false"
            (scrolled)="onModalScrollDown()">
            <ul class="list-group w-100">
              <li class="list-group-item autocomplete-item p-1 pl-2" style="cursor: pointer"
                *ngFor="let option of previewList"
                (click)="setValue(option)">{{option.__str__}}</li>
            </ul>
          </div>
        </div>
        <div class="d-flex flex-wrap align-items-center mt-2">
          <span class="d-flex align-items-center badge badge-default mb-1 mr-2 p-2" style="white-space: normal"
            *ngFor="let item of results; let i = index">
            {{item.__str__}}
            <i fa class="text-white icon ml-2"
              (click)="deleteItem(i)"
              [name]="'times'"></i>
          </span>
        </div>
      </div>
    </div>

    <small class="text-muted" *ngIf="config.templateOptions.description">
      {{config.templateOptions.description}}
    </small>
    <div *ngIf="errors">
      <div class="text-danger mt-1" *ngIf="errors[config.key]">{{errors[config.key]}}</div>
    </div>
    <div *ngIf="message">
      <div *ngIf="message[config.key]" class="text-success mt-1">{{message[config.key]}}</div>
    </div>
  </div>

  <div class="form-list mb-3" *ngIf="config.list">
    <h6 class="card flex-row align-items-center mb-0" [ngClass]="{'bg-primary text-white': !isCollapsed}">
      <i
        fa
        class="p-2"
        [name]="isCollapsed ? 'eye' : 'eye-slash'"
        [border]=false
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
        style="cursor: pointer"></i>
          {{config.templateOptions.label}}
      <button *ngIf="config.templateOptions.label"
        type="button"
        class="text-white btn btn-sm group-button ml-auto mr-2"
        (click)="open('add')">
          Add
      </button>
    </h6>
    <div #tableWrapper id="collapseExample" [ngbCollapse]="isCollapsed" class="list px-2">
      <table *ngIf="dataOfList" class="table table-bordered mb-1">
        <thead>
          <tr>
            <th *ngFor="let col of config.metadata">
              {{col.templateOptions.label}}
            </th>
            <th style="width: 100px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let object of dataOfList">
            <td *ngFor="let field of object.metadata;">
              <ng-container
                formElement
                [label]="false"
                [config]="field"
                [group]="object.data"
                (event)="updateValue($event)">
              </ng-container>
            </td>
            <td>
              <span *ngIf="object.id" class="d-flex align-items-center">
                <i fa class="icon text-danger mx-2" title="Delete"
                  [name]="'times-circle'"
                  (click)="deleteObject(object)"></i>
                <i fa class="icon text-warning mx-2" title="Edit"
                  [name]="'pencil'"
                  (click)="editObject(object)"></i>
                <i *ngIf="skillEndpoint && !object.allData.default_rate" fa class="icon text-primary mx-2" title="Set as default"
                  [name]="'check'"
                  (click)="setAsDefault(object)"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="form-group form-element" [class.custom]="customTemplate" *ngIf="viewMode && !config.list && !config.hide">
  <label class="col-form-label form-element-label" *ngIf="label && config.templateOptions.label">
    {{config.templateOptions.label}}
    <span *ngIf="!customTemplate">:</span>
  </label>
  <div class="form-element-content">
    <span *ngIf="!displayValue && !results">-</span>
    <a *ngIf="!config.many" href="#" (click)="open('edit', $event)">{{displayValue}}</a>
    <div *ngIf="config.many && results">
      <a *ngFor="let item of results" href="#" (click)="open('edit', $event, item)">{{item.__str__}}</a>
    </div>
  </div>

  <template [ngTemplateOutlet]="custom"></template>

</div>

<template #modal let-c="close" let-d="dismiss">
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">{{modalData.title}}</h5>
        <button type="button" class="close ml-2" (click)="c()">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="modal-body">
      <div *ngIf="modalData.type !== 'delete'">
        <generic-form
          [endpoint]="modalData.endpoint"
          [mode]="modalData.mode"
          [data]="modalData.data"
          [id]="modalData.id"
          (event)="formEvent($event, c, type)"
          (errorForm)="formError($event)">
            <button type="submit" class="btn btn-primary" [disabled]="saveProcess">Save</button>
        </generic-form>
      </div>
      <div *ngIf="modalData.type === 'delete'">
        Are you sure?
      </div>
    </div>

    <div *ngIf="modalData.type === 'delete'" class="modal-footer">
      <button type="button" class="btn btn-danger"
        (click)="deleteElement(c)">Delete</button>
    </div>
  </div>
</template>

<template #spinner>
  <div class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>
</template>

<template #custom>
  <div class="d-flex flex-column justify-content-center">
    <span *ngFor="let field of customTemplate">
      <i fa *ngIf="field.value && field.icon" [name]="field.icon" class="text-primary"></i>
      <span *ngIf="field.value && !field.link && !field.prefix">{{field.value}}</span>
      <a *ngIf="field.value && field.link" href="#" (click)="open('edit', $event)">{{field.value}}</a>
      <a *ngIf="field.value && field.prefix" href="{{field.prefix + field.value}}">{{field.value}}</a>
    </span>
  </div>
</template>
