@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

@include media-breakpoint-down('md') {
  .list-related {
    overflow-x: auto;
  }
}

.additional-text {
  max-width: 300px;

  margin: 15px 0 -15px;

  text-align: center;
}

.badge i {
  font-size: 0.75rem;

  cursor: pointer;
}

.description {
  margin-left: 40px;

  @include media-breakpoint-down('md') {
    margin: 20px;
  }
}

.candidate-info {
  padding: 5px;
  margin-top: 5px;

  border-radius: 50px;

  opacity: 0.7;
  background-color: rgba($gray, 0.06);
}

.custom-button {
  color: $gray;
  opacity: 0.8;

  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  i {
    margin-right: 12px;
  }
}

.clear-button {
  visibility: hidden;

  opacity: .5;
  color: rgba($gray, .5);

  .form-element-content:hover & {
    visibility: visible;
  }
}
