<div class="form-group" [formGroup]="group">
  <label [attr.for]="key">{{config.templateOptions.label}}</label>
  <select
    class="form-control custom-select"
    #related
    (change)="eventHandler($event)"
    [formControlName]="key"
    [attr.id]="key"
    [attr.name]="key">
    <option value="" disabled>{{config.templateOptions.label}}</option>
    <option *ngFor="let option of config.options" [attr.value]="option.id" value="" [selected]="group.get(key).value === option.id">{{option.__str__}}</option>
  </select>
  <small class="text-muted" *ngIf="config.templateOptions.description">
    {{config.templateOptions.description}}
  </small>
  <div *ngIf="errors">
    <div class="text-danger mt-1" *ngIf="errors[config.key]">{{errors[config.key]}}</div>
  </div>
  <div *ngIf="message">
    <div *ngIf="message[config.key]" class="text-success mt-1">{{message[config.key]}}</div>
  </div>
</div>

