<div dropDown [element]="'.autocomplete'" [update]="update" *ngIf="(!viewMode || config.list) && !config.hide">
  <div *ngIf="!config.list" class="form-group" [formGroup]="group">
    <div class="form-element" *ngIf="!config.many">
      <label class="col-form-label form-element-label" [class.required]="config.templateOptions.required" *ngIf="label && config.templateOptions.label" [attr.for]="key">
        {{config.templateOptions.label}}:
      </label>
      <info [description]="config.templateOptions.description"></info>
      <div class="form-element-content flex-row edit" style="position: relative">
        <div class="form-control autocomplete-value"
          (click)="openAutocomplete()">
          <div style="overflow: hidden; white-space: nowrap">{{displayValue}}</div>
        </div>
        <div class="form-element-content-actions"
          *ngIf="(config.options || config.type === 'address') && (config.templateOptions.add || config.templateOptions.edit || config.templateOptions.delete) && !(config.errorMessage && config.errorMessage.visible)" >
          <button type="button"
            *ngIf="config.templateOptions.edit && displayValue && checkPermission('update')"
            (click)="open('update')">
            <i fa class="text-primary icon"
              [name]="'pencil'"></i>
          </button>
          <button type="button"
            *ngIf="config.templateOptions.add && checkPermission('post')"
            (click)="open('post')">
            <i fa class="text-success icon"
              [name]="'plus'" ></i>
          </button>
          <button type="button"
            *ngIf="config.templateOptions.delete && displayValue && checkPermission('delete')"
            (click)="open('delete')">
            <i fa class="text-danger icon"
              [name]="'times'"></i>
          </button>
        </div>
        <div class="autocomplete" [hidden]="hideAutocomplete" style="top: 1.4rem">
          <input type="text" class="form-control mb-1" autocomplete="off"
            #search="ngModel"
            #searchElement
            [(ngModel)]="searchValue"
            [ngModelOptions]="{standalone: true}"
            (blur)="resetList()">
          <div class="autocomplete-list"
            infinite-scroll
            [infiniteScrollDistance]="modalScrollDistance"
            [infiniteScrollThrottle]="modalScrollThrottle"
            [scrollWindow]="false"
            (scrolled)="onModalScrollDown()"
            [hidden]="!(previewList && previewList.length)">
            <ul class="list-group w-100">
              <li class="list-group-item autocomplete-item p-1 pl-2" style="cursor: pointer"
                *ngFor="let option of previewList; trackBy: trackByFn"
                (click)="setValue(option, true)">{{option.__str__}}</li>
            </ul>
            <div class="autocomplete-preloader" *ngIf="skipScroll">
              <spinner></spinner>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="config.additional_text" class="additional-text">{{config.additional_text}}</div>
    </div>

    <div class="form-element" *ngIf="config.many">
      <label class="col-form-label form-element-label" *ngIf="label && config.templateOptions.label" [attr.for]="key">
        {{config.templateOptions.label}}:
      </label>
      <info [description]="config.templateOptions.description"></info>
      <div *ngIf="config.many && results && !config.useOptions" class="form-element-content flex-column align-items-start edit" [class.many]="config.many && results" style="position: relative">
        <input type="text" class="form-control autocomplete-value" autocomplete="off"
          #search="ngModel"
          #searchElement
          [(ngModel)]="searchValue"
          [ngModelOptions]="{standalone: true}"
          (focus)="generateList()"
          (blur)="resetList()">

        <div class="form-element-content-actions"
          *ngIf="config.options && config.templateOptions.add" >
            <button type="button"
              *ngIf="config.templateOptions.add && checkPermission('post')"
              (click)="open('post')">
                <i class="text-success icon"
                  fa
                  [name]="'plus'" >
                </i>
            </button>
        </div>
        <div class="autocomplete" [hidden]="!(previewList && previewList.length)" style="top: 1.4rem">
          <div class="autocomplete-list"
            infinite-scroll
            [infiniteScrollDistance]="modalScrollDistance"
            [infiniteScrollThrottle]="modalScrollThrottle"
            [scrollWindow]="false"
            (scrolled)="onModalScrollDown()">
            <ul class="list-group w-100">
              <li class="list-group-item autocomplete-item p-1 pl-2" style="cursor: pointer"
                *ngFor="let option of previewList; trackBy: trackByFn"
                (click)="setValue(option, true)">{{option.__str__}}</li>
            </ul>
            <div class="autocomplete-preloader" *ngIf="skipScroll">
              <spinner></spinner>
            </div>
          </div>
        </div>
        <div *ngIf="!config.templateOptions.info" class="d-flex flex-wrap align-items-center mt-2">
          <span class="badge badge-outline mt-2 mr-1" style="white-space: normal;"
            *ngFor="let item of results; let i = index">
            {{item.__str__}}
            <i fa class="ml-2"
              (click)="deleteItem(i, item)"
              [name]="'times'"></i>
          </span>
        </div>
        <ng-container *ngIf="config.templateOptions.info">
          <div *ngFor="let item of results; let i = index" class="candidate-info">
            <span>{{item.__str__}}</span> | <span>{{item.score}} <i fa name="star"></i></span> | <span>{{item.distance}} km</span>
          </div>
        </ng-container>
      </div>

      <div #autocomplete class="form-element-content flex-column align-items-start edit" style="position: relative"
        *ngIf="config.many && results && config.useOptions"
        [class.many]="config.many && results">

        <input type="text" class="form-control autocomplete-value" autocomplete="off"
          #search="ngModel"
          #searchElement
          [(ngModel)]="searchValue"
          [ngModelOptions]="{standalone: true}"
          (focus)="generateList()">

          <div class="autocomplete" [hidden]="hideAutocomplete" style="top: 1.4rem">
            <div class="autocomplete-list">
              <ul class="list-group w-100">
                <li class="list-group-item autocomplete-item p-1 pl-2" style="cursor: pointer"
                  *ngFor="let option of previewList; trackBy: trackByFn">
                  <label class="d-flex align-items-center w-100">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      [(ngModel)]="option.checked"
                      name="checked"
                      [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="setValue(option, true)"
                      hidden>
                    <div class="custom-checkbox">
                      <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.08284 4.87574C2.92663 5.03195 2.67337 5.03195 2.51716 4.87574L1.12071 3.47929C0.888359 3.24694 0.511641 3.24694 0.279289 3.47929C0.0469372 3.71164 0.0469373 4.08836 0.279289 4.32071L2.37574 6.41716C2.61005 6.65147 2.98995 6.65147 3.22426 6.41716L8.52071 1.12071C8.75306 0.888359 8.75306 0.511642 8.52071 0.279289C8.28836 0.0469374 7.91164 0.0469372 7.67929 0.279289L3.08284 4.87574Z" fill="white" stroke="#FDFDFD" stroke-width="0.2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </div>
                    {{option.__str__}}
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <div class="d-flex flex-wrap align-items-center mt-2">
            <span class="badge badge-outline mt-2 mr-1" style="white-space: normal"
              *ngFor="let item of results; let i = index">
              {{item.__str__}}
              <i fa class="ml-2"
                (click)="deleteItem(i, item)"
                [name]="'times'"></i>
            </span>
          </div>
      </div>
    </div>
  </div>

  <div class="form-list" *ngIf="config.list">
    <h6 class="card flex-row align-items-center" [ngClass]="{'bg-primary text-white': !isCollapsed}">
      <i
        fa
        class="p-2"
        [name]="isCollapsed ? 'eye' : 'eye-slash'"
        [border]=false
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
        style="cursor: pointer"></i>
          {{config.templateOptions.label}}
      <button *ngIf="config.delay && checkPermission('post')"
        type="button"
        class="text-white btn btn-sm group-button ml-auto mr-2"
        (click)="addObject()">
          Add
      </button>
    </h6>
    <div #tableWrapper id="collapseExample" [ngbCollapse]="isCollapsed" class="list-related p-2">
      <table *ngIf="dataOfList" class="table table-bordered mb-1">
        <thead>
          <tr>
            <ng-container *ngFor="let col of config.metadata">
              <th *ngIf="!col.hide">
                {{col.templateOptions.label}}
              </th>
            </ng-container>
            <th style="width: 100px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let object of dataOfList; let index = index">
            <ng-container *ngFor="let field of object.metadata">
              <td *ngIf="!field.hide">
                <ng-container
                  formElement
                  [label]="false"
                  [config]="field"
                  [group]="object.data"
                  (event)="updateValue($event)">
                </ng-container>
              </td>
            </ng-container>
            <td>
              <span *ngIf="object.id" class="d-flex align-items-center">
                <!-- <i fa class="icon text-danger mx-2" title="Delete"
                  [name]="'times-circle'"
                  (click)="deleteObject(object)"></i> -->
                <!-- <i fa class="icon text-warning mx-2" title="Edit"
                  [name]="'pencil'"
                  (click)="editObject(object)"></i> -->
                <i *ngIf="skillEndpoint && !object.allData.default_rate" fa class="icon text-primary mx-2" title="Set as default"
                  [name]="'check'"
                  (click)="setAsDefault(object)"></i>
              </span>
              <span *ngIf="!object.id" class="d-flex align-items-center">
                <i fa class="icon text-danger mx-2" title="Delete" [name]="'times-circle'" (click)="removeItem(index)"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="text-danger my-2" *ngIf="config.message">{{config.message}}</div>
    </div>
  </div>
</div>

<div class="form-group form-element"
  [class.custom]="customTemplate"
  *ngIf="viewMode && !config.list && !config.hide && !((!this.displayValue && !results.length) && config.hideIfNull)">
    <label class="col-form-label form-element-label" *ngIf="label && config.templateOptions.label">
      {{config.templateOptions.label}}<span *ngIf="!customTemplate">:</span>
    </label>
    <div class="form-element-content" [class.many]="config.many && results">
      <span *ngIf="!displayValue && !(customTemplate && customTemplate.length) && (!results || results.length === 0)">-</span>
      <a [class.readonly-value]="editMode" *ngIf="!config.many && displayValue && this.linkPath && !(customTemplate && customTemplate.length)" href="{{hideDetail ? '' : this.linkPath}}" (click)="open('update')">{{displayValue}}</a>
      <div [ngClass]="{'d-flex align-items-top flex-wrap': config.key === 'tags'}" *ngIf="config.many && results && !config.templateOptions.deleteList">
        <span [ngClass]="{'badge badge-outline mb-2 mr-1': config.key === 'tags'}" *ngFor="let item of results; let l = last">
          <a *ngIf="config.key !== 'tags'" [class.readonly-value]="editMode" href="/" (click)="open('update', item)">{{item.__str__}};</a>
          <span *ngIf="config.key === 'tags'" [class.readonly-value]="editMode">{{item.__str__}}</span>
        </span>
      </div>
      <div *ngIf="config.many && results && config.templateOptions.deleteList"  class="d-flex flex-wrap align-items-center mt-2">
        <span class="badge badge-outline mt-2 mr-1" style="white-space: normal" *ngFor="let item of results; let i = index">
          {{item.__str__}}
          <i fa class="text-white ml-2" (click)="deleteItem(i, item, config.templateOptions.deleteList)" [name]="'times'"></i>
        </span>
      </div>
    </div>

    <template [ngTemplateOutlet]="custom"></template>

</div>


<ng-container *ngIf="!config.hide">
  <div *ngIf="errors && errors[config.key] && isArray(errors[config.key]) && errors[config.key].length > 1">
    <div class="text-danger mt-1">{{errors[config.key][0]}}</div>
    <a *ngIf="errors[config.key][1] && errors[config.key][2]"
      [attr.href]="errors[config.key][2]"
      (click)="open('update', errors[config.key][3])">
        {{errors[config.key][1]}}
    </a>
  </div>
  <div *ngIf="errors && errors[config.key] && (errors[config.key].length === 1 || !isArray(errors[config.key]))">
    <div class="text-danger mt-1 mb-2">{{errors[config.key]}}</div>
  </div>
  <div *ngIf="message">
    <div *ngIf="message[config.key]" class="text-success mt-1">{{message[config.key]}}</div>
  </div>
  <div *ngIf="!viewMode && config.errorMessage && config.errorMessage.visible">
    <div class="text-danger mt-1">{{config.errorMessage.message}}</div>
  </div>
</ng-container>

<template #modal let-c="close">
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">{{modalData.title}}</h5>
        <button type="button" class="close ml-2" (click)="c()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="modal-body">
      <div *ngIf="modalData.type !== 'delete'">
        <div class="description" *ngIf="modalData.description" [innerHTML]="modalData.description"></div>

        <generic-form
          [endpoint]="modalData.endpoint"
          [mode]="modalData.mode"
          [data]="modalData.data"
          [needData]="modalData.needData"
          [edit]="modalData.edit"
          [id]="modalData.id"
          [metadataQuery]="modalData.mode === 'edit' ? config.metadata_query : config.add_metadata_query"
          (event)="formEvent($event, c, type)"
          (errorForm)="formError($event)">
            <button *ngIf="checkPermission('update')" type="submit" class="btn btn-primary button-save" [disabled]="saveProcess">
              Save
              <spinner *ngIf="saveProcess"></spinner>
            </button>
        </generic-form>
      </div>
      <div *ngIf="modalData.type === 'delete'">
        Are you sure?
      </div>
    </div>

    <div *ngIf="modalData.type === 'delete'" class="modal-footer">
      <button type="button" class="btn btn-danger"
        (click)="deleteElement(c)">Delete</button>
    </div>
  </div>
</template>

<template #spinner>
  <div class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>
</template>

<template #custom>
  <div *ngIf="customTemplate && customTemplate.length" class="d-flex flex-column justify-content-center">
    <span *ngFor="let field of customTemplate">
      <i fa *ngIf="field.value && field.icon" [name]="field.icon" class="text-primary"></i>
      <span *ngIf="field.value && !field.link && !field.prefix && !field.outside">{{field.value}}</span>
      <a *ngIf="field.value && field.link" href="{{linkPath}}" (click)="open('update')">{{field.value}}</a>
      <a *ngIf="field.value && field.prefix" href="{{field.prefix + field.value}}">{{field.value}}</a>
      <a *ngIf="field.value && field.outside" href="{{field.value}}">{{field.value}}</a>
    </span>
  </div>
  <div *ngIf="customTemplate && !customTemplate.length" class="d-flex flex-column justify-content-center">-</div>
</template>

<template #extend let-data="data">
  <div class="candidate-info">
    <span>{{data.__str__}}</span>|<span>{{data.score}} <i fa name="star"></i></span>|<span>{{candidate.distance}} km</span>
  </div>
</template>
