@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

@include media-breakpoint-down('md') {
  .list-related {
    overflow-x: auto;
  }
}

.additional-text {
  max-width: 300px;

  margin: 15px 0 -15px;

  text-align: center;
}

.badge i {
  font-size: .75rem;

  cursor: pointer;
}
