<div class="container-fluid">
  <dynamic-form
    [config]="config"
    (event)="eventHandler($event)"
    (buttonAction)="buttonHandler($event)">
  </dynamic-form>
</div>

<div class="container-fluid" >
  <h6 class="card flex-row align-items-center mb-3" [ngClass]="{'bg-primary text-white': !companyFile.isCollapsed}">
    <i fa
      class="p-2"
      [name]="companyFile.isCollapsed ? 'eye' : 'eye-slash'"
      [border]=false
      (click)="companyFile.isCollapsed = !companyFile.isCollapsed"
      [attr.aria-expanded]="!companyFile.isCollapsed"
      aria-controls="collapseExample"
      style="cursor: pointer"></i>
    <span>Company File</span>
    <button type="button" class="btn btn-default btn-sm mx-3" (click)="refreshCompanyFiles()">Refresh</button>
    <span>Last refreshed - {{companyFile.refreshedDate}}</span>
  </h6>
  <div id="collapseExample" [ngbCollapse]="companyFile.isCollapsed" class="px-2">
    <div class="row" *ngFor="let file of companyFile.list">
      <div class="col-12 col-md-3 col-lg-2 mb-2">
        <label>{{file.name}}</label>
      </div>
      <div class="col-12 col-md-3 col-lg-2 mb-2">
        <input type="text" class="form-control" [(ngModel)]="file.username" placeholder="Username">
      </div>
      <div class="col-12 col-md-3 col-lg-2 mb-2">
        <input type="password" class="form-control" [(ngModel)]="file.password" placeholder="Password">
      </div>
      <div class="col-12 col-md-3 col-lg-2 mb-2">
        <button type="button" class="btn btn-default mr-2" (click)="testCompanyFile(file)">Test</button>
        <i fa [name]="file.status ? 'check' : 'times'"
          [class.text-success]="file.status"
          [class.text-danger]="!file.status"></i>
      </div>
    </div>
  </div>

  <h6 class="card flex-row align-items-center mb-3" [ngClass]="{'bg-primary text-white': !payrollAccounts.isCollapsed}">
    <i fa
      class="p-2"
      [name]="payrollAccounts.isCollapsed ? 'eye' : 'eye-slash'"
      [border]=false
      (click)="payrollAccounts.isCollapsed = !payrollAccounts.isCollapsed"
      [attr.aria-expanded]="!payrollAccounts.isCollapsed"
      aria-controls="collapseExample"
      style="cursor: pointer"></i>
    <span>Payroll accounts</span>
    <button type="button" class="btn btn-default btn-sm mx-3" (click)="refreshCompanyFiles()">Refresh</button>
    <span>Last refreshed - {{payrollAccounts.refreshedDate}}</span>
  </h6>
  <div id="collapseExample" [ngbCollapse]="payrollAccounts.isCollapsed" class="px-2">
    <h4>Expenses account</h4>
    <template
      *ngFor="let account of payrollAccounts.subcontractor; let first = first"
      [ngTemplateOutlet]="accountTemplate"
      [ngOutletContext]="{account: account, first: first, type: 'expenses'}">
    </template>
    <br>
    <template
      *ngFor="let account of payrollAccounts.candidate; let first = first"
      [ngTemplateOutlet]="accountTemplate"
      [ngOutletContext]="{account: account, first: first, type: 'expenses'}">
    </template>
    <hr>
    <h4>Income account</h4>
    <template
        *ngFor="let account of payrollAccounts.company_client; let first = first"
        [ngTemplateOutlet]="accountTemplate"
        [ngOutletContext]="{account: account, first: first, type: 'income'}">
      </template>
  </div>

</div>

<template #accountTemplate let-a="account" let-first="first" let-t="type">
  <div class="row">
    <label class="col-12 col-md-3 col-lg-3 d-flex align-items-center" [class.pl-5]="!first" [attr.for]="a.key">{{a.label}}</label>
    <div class="col-12 col-md-3 col-lg-2 mb-2">
      <select class="custom-select w-100" [(ngModel)]="a.value">
        <option *ngIf="first" value="" selected>Select company file</option>
        <option *ngIf="!first" value="" selected>Select {{t}} account</option>
        <option *ngFor="let file of a.options" [attr.id]="a.key" [value]="file.id">{{file.name}}</option>
      </select>
    </div>
    <div class="col-12 col-md col-lg mb-2 d-flex align-items-center">
      <button *ngIf="first" type="button" class="btn btn-default btn-sm mx-3" (click)="getAccounts(true)">Refresh</button>
      <span *ngIf="first">Last refreshed - {{a.refreshed}}</span>
    </div>
  </div>
</template>
