<div class="container">
  <div class="card mt-3 mb-3">
    <h5 class="card-header p-3 bg-primary text-white">Registration</h5>

    <form class="card-content p-3" [formGroup]="contactForm" novalidate *ngIf="metadata">

      <div class="row">
        <div class="form-group col-12 col-md-2">
          <label for="title" *ngIf="titleField">{{ titleField.label }}</label>
          <select class="form-control" id="title" formControlName="title">
            <option *ngFor="let item of titleField.choices" [value]="item.value">{{ item.display_name }}</option>
          </select>
        </div>

        <div class="form-group col-12 col-md-5">
          <label for="first_name" *ngIf="firstNameField">{{ firstNameField.label }}</label>
          <input type="text" class="form-control" id="first_name" formControlName="first_name">
        </div>

        <div class="form-group col-12 col-md-5">
          <label for="last_name" *ngIf="lastNameField">{{ lastNameField.label }}</label>
          <input type="text" class="form-control" id="last_name" formControlName="last_name">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12 col-md-6">
          <label for="email" *ngIf="emailField">{{ emailField.label }}</label>
          <input type="text" class="form-control" id="email" formControlName="email">
        </div>

        <div class="form-group col-12 col-md-6">
          <label for="phone_mobile" *ngIf="phoneMobileField">{{ phoneMobileField.label }}</label>
          <input type="text" class="form-control" id="phone_mobile" formControlName="phone_mobile">
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <button type="button" class="btn btn-secondary w-100" [ngClass]="{'bg-primary text-white': isCompany}" (click)="onCompany()">Company</button>
          <p class="text-muted">
            <small>* Looking for workers <br></small>
            <small>* Supplier or contractor</small>
          </p>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-secondary w-100" [ngClass]="{'bg-primary text-white': isRecruitee}" (click)="onRecruitee()">Recruitee</button>
          <p class="text-muted"><small>* Looking for work</small></p>
        </div>
      </div>

      <div class="div" *ngIf="isCompany" [formGroup]="companyContactForm">
        <h5 class="mt-3 mb-3">Company</h5>

        <div class="row">
          <div class="form-group col-12 col-md-4">
            <label for="country" *ngIf="countryField">{{ countryField.label }}</label>
            <select class="form-control" id="title" formControlName="country" (change)="selectCountry(this.companyContactForm.controls['country'])">
              <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
            </select>
          </div>

          <div class="form-group col-12 col-md-4" *ngIf="regions">
            <label for="state" *ngIf="stateField">{{ stateField.label }}</label>
            <select class="form-control" id="title" formControlName="state" (change)="selectRegion(this.companyContactForm.controls['state'])">
              <option *ngFor="let region of regions" [ngValue]="region">{{ region.name }}</option>
            </select>
          </div>

          <div class="form-group col-12 col-md-4" *ngIf="cities">
            <label for="city" *ngIf="cityField">{{ cityField.label }}</label>
            <select class="form-control" id="title" formControlName="city">
              <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12 col-md-6">
            <label for="company" *ngIf="companyNameField">{{ companyNameField.label }}</label>
            <input type="text" class="form-control" id="company" formControlName="name">
          </div>

          <div class="form-group col-12 col-md-6">
            <label for="bussiness_id" *ngIf="businessIdField">{{ businessIdField.label }}</label>
            <input type="text" class="form-control" id="bussiness_id" formControlName="bussiness_id">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12 col-md-6">
            <label for="postal_address" *ngIf="streetAddressField">{{ streetAddressField.label }}</label>
            <input type="text" class="form-control" id="postal_address" placeholder="Street House-Apartment" formControlName="address">
          </div>

          <div class="form-group col-12 col-md-6">
            <label for="postal_code" *ngIf="postalCodeField">{{ postalCodeField.label }}</label>
            <input type="text" class="form-control" id="postal_code" formControlName="postal_code">
          </div>
        </div>
      </div>


      <div class="div" *ngIf="isRecruitee" [formGroup]="recruiteeContactForm">
        <h5 class="mt-3 mb-3">Private Person / Recruitee</h5>

        <div class="row">
          <div class="form-group col-12 col-md-4">
            <label for="phone_mobile" *ngIf="birthdayField">{{ birthdayField.label }}</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #datepicker="ngbDatepicker" formControlName="birthday">
              <div class="input-group-addon" (click)="datepicker.toggle()">
                <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
              </div>
            </div>
          </div>

          <div class="form-group col-12 col-md-8">
            <label for="tax_number" *ngIf="taxFileNumberField">{{ taxFileNumberField.label }}</label>
            <input type="text" class="form-control" id="tax_number" formControlName="tax_number">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12 col-md-4">
            <label for="country" *ngIf="countryField">{{ countryField.label }}</label>
            <select class="form-control" id="title" formControlName="country" (change)="selectCountry(this.recruiteeContactForm.controls['country'])">
              <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
            </select>
          </div>

          <div class="form-group col-12 col-md-4" *ngIf="regions">
            <label for="state" *ngIf="stateField">{{ stateField.label }}</label>
            <select class="form-control" id="title" formControlName="state" (change)="selectRegion(this.recruiteeContactForm.controls['state'])">
              <option *ngFor="let region of regions" [ngValue]="region">{{ region.name }}</option>
            </select>
          </div>

          <div class="form-group col-12 col-md-4" *ngIf="cities">
            <label for="city" *ngIf="cityField">{{ cityField.label }}</label>
            <select class="form-control" id="title" formControlName="city">
              <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12 col-md-6">
            <label for="postal_address" *ngIf="streetAddressField">{{ streetAddressField.label }}</label>
            <input type="text" class="form-control" id="postal_address" placeholder="Street House-Apartment" formControlName="address">
          </div>

          <div class="form-group col-12 col-md-6">
            <label for="postal_code" *ngIf="postalCodeField">{{ postalCodeField.label }}</label>
            <input type="text" class="form-control" id="postal_code" formControlName="postal_code">
          </div>
        </div>

        <div class="row">
          <div class="form-group col">
            <div class="pb-1">{{ pictureField.label }}</div>
              <div class="d-inline-flex">
                <label class="btn btn-info" for="upload" *ngIf="pictureField">{{ uploadField }}</label>
                <input type="file" id="upload" [hidden]="true" formControlName="picture">
                <div class="form-group mr-2 ml-2 pt-1">or</div>
                <label class="btn btn-info" for="upload">{{ takeAFotoField }}</label>
                <input type="file" id="upload" [hidden]="true">
              </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12">
            <label for="city" *ngIf="tagsField">{{ tagsField.label }}</label>
            <select class="form-control" id="title">
              <option *ngFor="let item of tags" [value]="item.value">{{ item.name }}</option>
            </select>
          </div>

          <div class="form-group col-12">
            <label for="city" *ngIf="skillsField">{{ skillsField.label }}</label>
            <select class="form-control" id="title">
              <option class="text-muted" selected>Choose a skill</option>
            </select>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <label class="d-inline-flex align-items-center justify-content-start">
              <input type="checkbox" class="mr-3" style="min-width: 1rem">
              <span>
                I agree that the information provided above is correct and I take personal responsibility in case it is not.<br>
                I also aknowledge that registering for a second/duplicate account for myself, when detected, is subject to a fine.
              </span>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <button type="submit" class="btn btn-primary pl-4 pr-4 mt-3">Register</button>
        </div>
      </div>

    </form>
  </div>
</div>
