<div class="container">
  <div class="card mt-3 mb-3">
    <h5 class="card-header p-3 bg-primary text-white">Registration</h5>

    <div class="card-content p-3">
      <generic-form
        [endpoint]="endpoint"
        [data]="data"
        [response]="response"
        [errors]="error"
        [relatedField]="relatedField"
        (event)="eventHandler($event)"
        (buttonAction)="buttonActionHandler($event)">
        <div class="form-group">
          <button type="submit" class="btn btn-primary pl-4 pr-4 mt-3">Register</button>
        </div>
      </generic-form>
    </div>

  </div>
</div>
