<navigation></navigation>

<div class="container" *ngIf="!token">
  <div class="login-wrapper">
    <div class="login-title">
      <img src="/assets/img/logo.svg" alt="R3sourcer">
      <p>R3sourcer company</p>
    </div>

    <div class="login-form">
      <div class="login-label">
        <h5 class="title">Login</h5>
        <p class="description">Please enter your email and password</p>
      </div>

      <generic-form
        [endpoint]="endpoint"
        [data]="data"
        [errors]="error"
        [showResponse]="true"
        (redirect)="redirectHandler($event)"
        (responseForm)="responseHandler($event)"
        (errorForm)="errorHandler($event)"
        (event)="formEvent($event)">
        <div class="links form-group">
          <label class="form-element-checkbox">
            <input type="checkbox" class="form-check-input" hidden>
            <div class="custom-checkbox">
              <i fa name="check"></i>
            </div>
            <span>Remember me</span>
          </label>
          <a class="forgot" href="#">Forgot Password?</a>
        </div>
        <button class="btn btn-primary login-button" type="submit">Lоgin <spinner *ngIf="loginProcess"></spinner></button>
      </generic-form>
    </div>

  </div>
</div>

<div class="register-link">
  <a href="/ecore/register/">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 42 42">
      <polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 " />
    </svg>
    New candidate account
  </a>
</div>
