<navigation></navigation>
<div class="container" *ngIf="!token">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-sm-9 col-md-7 col-lg-4 mt-5">
      <h5 class="login-title">{{label}}</h5>
      <div class="login-content">
        <generic-form
          [endpoint]="endpoint"
          [errors]="error"
          (redirect)="redirectHandler($event)"
          (responseForm)="responseHandler($event)">
          <div class="form-group text-right">
            <button type="submit" class="login-button">LOGIN</button>
            <a *ngIf="type === 'extranet'" class="login-link" href="#">Forgot Password?</a>
          </div>
        </generic-form>
      </div>
    </div>
  </div>
</div>
