<i
  *ngIf="!config.values"
  fa
  [class.text-danger]="config.value === false"
  [class.text-success]="config.value === true"
  [class.text-muted]="config.value == null"
  [name]="config.value ? 'check-circle' : config.value === false ? 'times-circle' : 'minus-circle'">
</i>
<span [ngClass]="[iconClass]" *ngIf="config.values && !config.content">{{value}}</span>
<span [ngClass]="[iconClass]" *ngIf="config.values && config.content" placement="bottom" [ngbPopover]="actionsTemplate" style="cursor: pointer">{{value}} <span class="arrow-dowm">&nbsp;</span></span>
<br *ngIf="!config.delim">

<ng-template #actionsTemplate>
  <ng-container
    listElement
    [config]="config.content"
    (buttonAction)="buttonHandler($event)">
  </ng-container>
</ng-template>
