<div *ngIf="config" class="form-builder-form">
  <app-dynamic-form
    [formBuilder]="true"
    [config]="config.ui_config"
    [errors]="error"
    [hiddenFields]="hiddenFields"
    (event)="eventHandler($event)"
    (submitForm)="submitForm($event)">
    <div class="footer position-relative">
      <small class="required-message text-danger">* Required fields</small>
      <button type="submit" class="btn btn-primary">
        {{config.save_button_text}}
      </button>
    </div>
  </app-dynamic-form>
</div>

<app-toast></app-toast>
