@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.footer {
  text-align: center;
}

.required-message {
  position: absolute;
  left: 0;
}

.form {

  header {
    padding: 0 66px 20px;

    text-align: center;

    border-bottom: 2px solid rgba(#e5e5e5, .8);
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 24px 66px 0;

    border-top: 2px solid rgba(#e5e5e5, .8);
  }

  .content {
    padding: 28px 66px 36px;
  }

  &__steps {
    margin-bottom: 2px;

    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;

    color: $brand-primary;
  }

  &__name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
  }

  &__button {
    width: calc(188 / 418 * 100%);

    padding: 13px 20px;

    text-align: center;

    &.btn-default {
      background-color: #f9f9f9;
      border: 1px solid #e0e0e0;

      &:hover:not([disabled]) {
        background-color: #e0e0e0;
        color: inherit;
      }

      &[disabled] {
        cursor: not-allowed;
        color: inherit;
      }
    }
  }
}
