<div *ngIf="config" class="form-builder-form">
  <section class="form">
    <header>
      <span class="form__steps">step {{currentStep + 1}} of {{steps.length}}</span>
      <h3>{{steps[currentStep].title}}</h3>
    </header>

    <div class="content">
      <app-dynamic-form
        [formBuilder]="true"
        [config]="steps[currentStep].metadata"
        [form]="form"
        [errors]="error"
        [hiddenFields]="hiddenFields"
        (event)="eventHandler($event)">
      </app-dynamic-form>
    </div>

    <footer>
      <button type="button" class="form__button btn btn-default"
        [disabled]="currentStep === 0"
        (click)="back()">
          Back
      </button>

      <button type="button" class="form__button btn btn-primary"
        *ngIf="currentStep + 1 !== steps.length"
        (click)="next()">
          Next step
      </button>

      <button type="submit" class="form__button btn btn-primary"
        *ngIf="currentStep + 1 === steps.length"
        [title]="form.invalid && 'Please fill all the REQUIRED fields'"
        [disabled]="form.invalid || saveProcess"
        (click)="submitForm()">
          Register
          <app-spinner *ngIf="saveProcess"></app-spinner>
      </button>
    </footer>
  </section>
</div>

<app-toast></app-toast>
