<form class="dynamic-form" [formGroup]="form" (ngSubmit)="handleSubmit($event)">
  <ng-container
    *ngFor="let field of config;"
    formElement
    [config]="field"
    [group]="form"
    [errors]="errors"
    [formId]="formId"
    (event)="eventHandler($event)"
    (buttonAction)="buttonActionHandler($event)"
    [message]="message">
  </ng-container>
  <div class="text-danger mt-1 mb-3" *ngIf="errors && errors.non_field_errors">
    <div *ngFor="let error of errors.non_field_errors">{{error}}</div>
    <div *ngIf="errors.detail">{{errors.detail}}</div>
  </div>
  <div class="text-success mt-1 mb-3" *ngIf="message && message.message">
    {{message.message}}
  </div>
  <ng-content></ng-content>
</form>
