<div class="form-group" [hidden]="config.hide || viewMode">
  <div class="form-element" (click)="updateDate()">
    <label class="col-form-label form-element-label" *ngIf="label && config.templateOptions.label" [attr.for]="key">
      {{config.templateOptions.label}}:
    </label>
    <div class="input-group form-element-content datepicker">
      <input [hidden]="config.templateOptions.type === 'time'" class="form-control"
        #d
        data-role="datebox"
        [(ngModel)]="date"
        [attr.id]="key"
        [attr.name]="key">
      <input [hidden]="!(config.templateOptions.type === 'datetime' || config.templateOptions.type === 'time')" class="form-control"
        #t
        date-role="datebox"
        [(ngModel)]="time">
    </div>
  </div>
  <small class="text-muted" *ngIf="config.templateOptions.description">
    {{config.templateOptions.description}}
  </small>
  <div *ngIf="errors">
    <div class="text-danger mt-1" *ngIf="errors[config.key]">{{errors[config.key]}}</div>
  </div>
  <div *ngIf="group.get(key).getError('required') && !errors[config.key]">
    <div class="text-danger mt-1">This field is required.</div>
  </div>
  <div *ngIf="message">
    <div *ngIf="message[config.key]" class="text-success mt-1">{{message[config.key]}}</div>
  </div>
</div>

<div class="form-group" *ngIf="viewMode && !config.hide">
  <div class="form-element" (click)="updateDate()">
    <label class="col-form-label form-element-label" *ngIf="label && config.templateOptions.label" [attr.for]="key">
      {{config.templateOptions.label}}:
    </label>
    <div class="form-element-content">{{displayValue}}</div>
  </div>
  <small class="text-muted" *ngIf="config.templateOptions.description">
    {{config.templateOptions.description}}
  </small>
</div>

