<div class="form-group">
  <div class="d-flex" (click)="updateDate()">
    <div class="w-100">
      <label *ngIf="label && config.templateOptions.label" [attr.for]="key">{{config.templateOptions.label}}</label>
      <div class="input-group">
        <input
        class="form-control"
        #d
        #datepicker="ngbDatepicker"
        ngbDatepicker
        [(ngModel)]="date"
        [attr.id]="key"
        [attr.name]="key">
        <div class="input-group-addon" (click)="datepicker.toggle()" style="cursor: pointer">
          <i fa [name]="'calendar'" [border]=true></i>
        </div>
      </div>
      <small class="text-muted" *ngIf="config.templateOptions.description">
        {{config.templateOptions.description}}
      </small>
      <div *ngIf="errors">
        <div class="text-danger mt-1" *ngIf="errors[config.key]">{{errors[config.key]}}</div>
      </div>
      <div *ngIf="message">
        <div *ngIf="message[config.key]" class="text-success mt-1">{{message[config.key]}}</div>
      </div>
    </div>
    <div style="min-width: 8rem;" *ngIf="config.templateOptions.type === 'datetime'">
      <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
    </div>
  </div>
</div>
