<div class="container-fluid">
  <div *ngFor="let table of tables">
    <dynamic-list
      *ngIf="table.metadata && table.data"
      [config]="table.metadata"
      [data]="table.data"
      [first]="table.first"
      [id]="table.id"
      [active]="table.active"
      [limit]="table.limit"
      [offset]="table.offset"
      [sorted]="table.sorted"
      [innerTables]="table.innerTables"
      [update]="table.update"
      (list)="listHandler($event)"
      (event)="eventHandler($event)">
    </dynamic-list>
  </div>
</div>
