<div class="datatable-wrapper" *ngFor="let table of tables; let last = last">
  <dynamic-list
    *ngIf="table.metadata && table.data"
    [inForm]="inForm"
    [config]="table.metadata"
    [data]="table.data"
    [refresh]="table.refresh"
    [first]="table.first"
    [id]="table.id"
    [active]="table.active"
    [limit]="table.limit"
    [offset]="table.offset"
    [sorted]="table.sorted"
    [innerTables]="table.innerTables"
    [update]="table.update"
    [minimized]="table.minimized"
    [maximize]="table.maximize"
    [endpoint]="table.endpoint"
    [parentEndpoint]="table.parentEndpoint"
    [inForm]="inForm"
    [actionData]="table.actionData"
    [supportData]="supportData"
    [responseField]="responseField"
    [paginated]="paginated"
    [actions]="actions"
    [delay]="delay"
    [allowPermissions]="allowPermissions"
    [metadataQuery]="metadataQuery"
    [addMetadataQuery]="addMetadataQuery"
    [editEndpoint]="editEndpoint"
    [addData]="table.addData"
    (checkedObjects)="checkedHandler($event)"
    (list)="listHandler($event)"
    (event)="eventHandler($event)">
  </dynamic-list>
  <div class="spinner" [class.invisible]="!(!(table.metadata && table.data) || uploading)">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

<div #list class="d-flex justify-content-start datatable-list pt-2 flex-wrap" *ngIf="minimizedTable.length">
  <ng-container *ngFor="let table of minimizedTable">
    <div class="datatable-item px-1 pt-1">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h6 class="d-flex justify-content-between align-items-center mb-0">
            <span class="mr-3 title" placement="top" ngbTooltip="{{table.metadata.list.label}}">{{table.metadata.list.label}}</span>
            <div class="d-flex fustify-content-center align-items-center">
              <i fa
                class="ml-2 icon"
                [name]="'window-minimize'"
                [border]="true"
                (click)="action('minimize', table)"
                aria-hidden="true"></i>
              <i fa
                class="ml-2 icon"
                [name]="'window-maximize'"
                [border]="true"
                (click)="action('maximize', table)"
                aria-hidden="true"></i>
              <i fa
                class="ml-2 icon"
                [name]="'times'"
                [border]="true"
                (click)="action('close', table)"
                aria-hidden="true"></i>
            </div>
          </h6>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<button title="Load more" class="load-more"
  *ngIf="tables[0] && tables[0].data && !inForm && (tables[0].offset < tables[0].data.count) && !uploading"
  (click)="loadMoreHandler()">
    <i fa name="angle-down" class="text-white"></i>
</button>
