@import '../../../styles/variables.scss';

.sign-in {
  &-title {
    text-transform: uppercase;
    color: $brand-primary;
  }
  &-group {
    padding: 0;
    margin: 0;
    .registration {
      list-style: none;
      text-align: right;
      text-transform: uppercase;
      color: white;
      i {
        color: inherit;
      }
    }
  }
  &-item {
    margin-bottom: 1.5rem;
    border-left: 2px solid black;
    border-radius: .2rem;
    list-style: none;
    box-shadow: 4px 4px 2px -2px rgba(#ccc, .8);
    transition: .5s box-shadow;
    a {
      display: flex;
      align-items: center;
      padding: 2rem;
      border-radius: inherit;
      background-color: white;
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
    svg {
      height: 2.5rem;
      width: auto;
      margin-right: 2rem;
      path {
        fill: $brand-primary;
      }
    }
    &:hover {
      box-shadow: 4px 4px 4px 0 rgba(#ccc, .8);
    }
    &:nth-child(odd) {
      border-left-color: $brand-primary;
    }
  }
  &-button {
    background-color: $brand-primary;

    &:hover,
    &:focus {
      color: white;
    }
  }
}
