body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;

  font-size: 16px;
  line-height: 20px;

  color: $gray;

  background-color: #f5f5f5;

  -webkit-font-smoothing: antialiased;
}

label,
b {
  font-weight: 500;
}

button {
  font-family: inherit;

  cursor: pointer;
}

option {
  background-color: white;
}

select {
  font-family: inherit;
}

a {
  color: inherit;

  &:hover,
  &:focus,
  &.active {
    color: $brand-primary;
    opacity: 1;

    &.not-underline {
      text-decoration: none;
    }

    @each $item in $themes {
      .#{$item}-theme & {
        color: map-get($theme-colors, $item);
      }
    }
  }
}

i {
  opacity: 1;
}

input[type='checkbox']:checked ~ .custom-checkbox {
  border-color: $brand-primary;

  background-color: $brand-primary;
  color: white;

  @each $item in $themes {
    .#{$item}-theme & {
      border-color: map-get($theme-colors, $item);

      background-color: map-get($theme-colors, $item);

      &.success {
        border-color: $brand-success;

        background-color: $brand-success;
      }

      &.danger {
        border-color: $brand-danger;

        background-color: $brand-danger;
      }

      &.warning {
        border-color: $brand-warning;

        background-color: $brand-warning;
      }
    }
  }

  i {
    opacity: 1;
  }
}

input {
  border-color: rgba(#333, 0.2);

  font-family: inherit;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba($brand-primary, 0.2) inset;
    box-shadow: 0 0 0px 1000px rgba($brand-primary, 0.2) inset;

    transition: background-color 5000s ease-in-out 5000s;

    @each $item in $themes {
      .#{$item}-theme & {
        -webkit-box-shadow: 0
          0
          0px
          1000px
          rgba(map-get($theme-colors, $item), 0.2)
          inset;
        box-shadow: 0
          0
          0px
          1000px
          rgba(map-get($theme-colors, $item), 0.2)
          inset;
      }
    }
  }
}

input.not-empty,
select.not-empty {
  border-color: rgba(#333, 0.3);

  background-color: #fefefe;

  & ~ .addon {
    border-color: rgba(#333, 0.8) !important;
  }
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 1rem;
  height: 1rem;

  margin-right: 0.5rem;
  padding-left: 1px;

  border: 1px solid #bdbdbd;
  border-radius: 2px;

  cursor: pointer;

  i {
    opacity: 0;
  }
}

.arrow-dowm {
  display: inline-block;
  position: relative;
  top: 7px;
  left: 5px;

  width: 8px;
  height: 8px;

  background: #fefefe url(/assets/img/down-arrow.svg) no-repeat;
  background-position: center center;
  background-size: 8px 8px;
}

form.ng-invalid button[type='submit'] {
  position: relative;

  background-color: rgba($brand-primary, 0.55) !important;
  border-color: transparent !important;

  @each $item in $themes {
    .#{$item}-theme & {
      background-color: rgba(map-get($theme-colors, $item), 0.55) !important;
    }
  }

  &.button-save:hover::after,
  &.save:hover::after {
    position: absolute;
    display: block;
    top: -35px;
    left: 0;

    padding: 0.2rem;

    background-color: $gray;
    content: 'Please fill all the REQUIRED fields';
    z-index: 1;
  }
}

.candidate-tabs {
  & > .nav-tabs {
    justify-content: center !important;

    .nav-item:nth-child(12) {
      width: 50%;

      font-weight: bold;
      text-align: right;

      a.nav-link {
        display: inline-flex;
      }
    }

    .nav-item:nth-child(13) {
      width: 50%;

      font-weight: bold;

      a.nav-link {
        display: inline-flex;
      }
    }
  }
}

.shifts-header .tooltip.bs-tooltip-bottom {
  left: auto !important;
  right: 15px !important;

  .arrow {
    left: 86% !important;
  }
}

.message-detail .tooltip-inner {
  min-width: auto;
}

.current-day {
  font-size: 12px;

  border-radius: 50% !important;

  background-color: rgba($gray, 0.2);
  div {
    color: white !important;
  }
}

.fillin-map .close-button {
  position: absolute;
  right: 0;
  top: 0;

  padding: 5px 10px;
  z-index: 2;
}

/*---------- Bootstrap ---------- */

*[role='tablist'] a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.col-form-label {
  padding-bottom: 2px;
}

.edit-form .spinner.invisible {
  height: 0;
  margin: 0;
}

.rounded {
  border-color: rgba(0, 0, 0, 0.2) !important;
}

.ngb-dp-week {
  .btn-primary,
  .outside,
  .btn-secondary,
  .btn-light {
    padding: 7px;

    font-size: 12px;
    line-height: 16px;

    border-radius: 50%;
  }

  .btn-light {
    background-color: #fff;
  }

  .btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }

  .btn-secondary {
    color: $gray;
  }

  .outside {
    opacity: 0.2;
  }

  .ngb-dp-day:focus {
    outline: none;
  }
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: transparent;
}

.btn-default {
  color: $gray;
  background: #fdfdfd;
  border: none;
}

.form-check {
  padding-left: 0;
}

.form-element-checkbox {
  margin-bottom: 4px;
}

.ngb-dp-weekday {
  font-size: 10px;
  font-style: normal;
  line-height: 12px;

  color: $gray !important;
  opacity: 0.6;
}

.ngb-dp-month-name {
  height: auto !important;

  font-size: 16px !important;
  line-height: 1;

  color: black;
  opacity: 0.8;
}

.popover {
  z-index: 1;
}

.modal-backdrop {
  z-index: 3 !important;
}

.extend-modal .modal-body {
  margin-top: 40px;
  margin-bottom: 20px;
}

.small-modal {
  .modal-dialog {
    max-width: 400px;

    .form-element-content {
      width: auto;
      max-width: none;
    }

    .button-save {
      display: block;

      margin: 0 auto;
      margin-top: 30px;

      width: 160px;
      height: 40px;
    }
  }
}

.medium-modal .modal-dialog {
  max-width: 600px;
}

.modal {
  z-index: 3;

  &[id*='jtdb'] {
    z-index: 22;

    .modal-backdrop {
      z-index: 21 !important;
    }
  }

  &.shiftdates .modal-content,
  &.visible-mode .modal-content {
    @include media-breakpoint-up('md') {
      overflow: visible;
    }

    @include media-breakpoint-down('sm') {
      .form-group {
        margin-bottom: 5px;
      }

      .modal-header {
        padding: .5rem 1rem;

        h5 {
          font-size: 1rem;
        }
      }

      max-height: 95vh;
    }
  }

  &.message-detail .modal-content {
    padding: 20px;

    .dynamic-form {
      margin-top: 0;
    }
  }
}

.message-detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 40px;

  margin-bottom: 16px;

  .message-label {
    margin-left: 20px;

    font-size: 32px;
    line-height: 36px;
  }

  button {
    align-self: flex-start;
  }
}

.input-group .form-control,
.input-group .form-control:hover {
  z-index: 1;
}

.tooltip {
  color: $gray;
  opacity: 1;

  z-index: 3;

  &.show {
    opacity: 1;
  }

  .arrow {
    width: 10px;
    height: 10px;
  }

  .arrow::before {
    width: 10px;
    height: 10px;

    border: none;

    background-color: white;

    .dark-tooltip & {
      background-color: #4f4f4f;
    }
  }

  &-inner {
    min-width: 200px;
    max-width: 350px;

    font-size: 12px;

    background-color: white;
    color: inherit;
    box-shadow: 0 0 8px 2px rgba($gray, 0.3);

    .dark-tooltip & {
      color: #f2f2f2;
      background: #4f4f4f;
    }

    .calendar-item & {
      min-width: auto;

      color: white;
      background-color: #4f4f4f;
      box-shadow: none;
    }
  }

  &.bs-tooltip-right .arrow::before {
    right: -2px;

    transform: rotate(45deg);
    box-shadow: -4px 4px 5px 0 rgba($gray, 0.2);
  }

  &.bs-tooltip-left .arrow {
    right: 2px;

    &::before {
      transform: rotate(45deg);
      box-shadow: 4px -4px 5px 0 rgba($gray, 0.2);
    }
  }

  &.bs-tooltip-bottom .arrow {
    top: 2px;

    &::before {
      transform: rotate(45deg);
      box-shadow: -4px -4px 5px 0 rgba($gray, 0.2);

      .calendar-item & {
        box-shadow: none;
        background-color: #4f4f4f;
      }
    }
  }
}

.dark-tooltip .arrow::before {
  background-color: #4f4f4f;
}

.btn {
  border-radius: 100px;
}

.btn-primary {
  border-color: $brand-primary;
  background-color: $brand-primary;

  &:focus {
    box-shadow: 0 0 2px rgba($brand-primary, 0.5);

    @each $item in $themes {
      .#{$item}-theme & {
        box-shadow: 0 0 2px rgba(map-get($theme-colors, $item), 0.5);
      }
    }
  }
}

.btn-default {
  background-color: #fdfdfd;
}

.btn-link {
  color: $brand-primary;

  @each $item in $themes {
    .#{$item}-theme & {
      color: map-get($theme-colors, $item);
    }
  }
}

.badge {
  font-size: 0.75rem;
  font-weight: normal;

  line-height: 1;

  padding: 0.56rem;

  border-radius: 50px;

  background-color: rgba($brand-primary, 0.2);
  color: inherit;

  @each $item in $themes {
    .#{$item}-theme & {
      background-color: rgba(map-get($theme-colors, $item), 0.2);
    }
  }
}

.btn-outline-primary {
  font-size: 0.625rem;
  padding: 0.25rem;

  @each $item in $themes {
    .#{$item}-theme & {
      border-color: map-get($theme-colors, $item);
      color: map-get($theme-colors, $item);

      &:hover {
        background-color: map-get($theme-colors, $item);
        color: white;

        &.disabled {
          background-color: #fff;
          color: map-get($theme-colors, $item);
          cursor: default;
        }
      }
    }
  }
}

.modal-lg {
  @include media-breakpoint-up('xl') {
    max-width: 1170px;
  }
}

.modal-header {
  background-color: #fff;

  align-items: center;
}

.modal-content {
  max-height: 95vh;

  overflow: auto;

  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);

  .modal-header-wrapper {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1200;
  }

  .modal-body {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .modal-title {
    overflow: hidden;
    white-space: nowrap;
  }

  @include media-breakpoint-down('md') {
    max-height: 85vh;
  }
}

.accordion button {
  width: 100%;

  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none !important;
  }
}

.group-button {
  font-size: 0.7rem;
  border-color: lighten($brand-primary, 15%);
  background-color: lighten($brand-primary, 15%);

  @each $item in $themes {
    .#{$item}-theme & {
      border-color: lighten(map-get($theme-colors, $item), 15%) !important;
      background-color: lighten(map-get($theme-colors, $item), 15%) !important;
    }
  }

  &:hover,
  &:focus {
    border-color: darken($brand-primary, 10%);
    background-color: darken($brand-primary, 10%);

    @each $item in $themes {
      .#{$item}-theme & {
        border-color: darken(map-get($theme-colors, $item), 10%) !important;
        background-color: darken(map-get($theme-colors, $item), 10%) !important;
      }
    }
  }
}

.form-group {
  margin-bottom: 10px;

  .mobile-device & {
    margin-bottom: 0;
  }
}

.form-list .form-group,
.form-list .form-control {
  margin-bottom: 0;
}

.form-control {
  font-size: 14px;
  line-height: 16px;

  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;

  @each $item in $themes {
    .#{$item}-theme & {
      border-color: map-get($theme-colors, $item);
    }
  }
}

.list-group-item:last-child {
  border-radius: 0;
}

.nav-tabs {
  align-items: flex-end;
  flex-wrap: wrap;

  padding: 0 40px;

  border: none;
  border-bottom: 2px solid rgba(#e5e5e5, 0.8);

  .mobile-device & {
    padding: 0 20px;
  }

  .nav-link {
    padding: 6px;
    padding-bottom: 8px;
    margin-right: 15px;

    font-size: 14px;
    line-height: 14px;

    border: none;

    color: rgba(black, 0.43);

    &.active {
      padding: 6px;

      background-color: transparent;
      border-color: none;

      color: inherit;

      border-bottom: 2px solid $brand-primary;
    }
  }
}

.tab-pane {
  padding: 32px 40px;
  padding-bottom: 0;

  @include media-breakpoint-down('md') {
    padding: 20px;
  }
}

.page-item.active .page-link {
  border-color: $brand-primary;

  background-color: $brand-primary;
  z-index: 1;
}

@each $item in $themes {
  .#{$item}-theme .bg-primary {
    background-color: map-get($theme-colors, $item) !important;
  }
}

@each $item in $themes {
  .#{$item}-theme .btn-primary {
    border-color: map-get($theme-colors, $item);
    background-color: map-get($theme-colors, $item) !important;

    &.active {
      background-color: darken(map-get($theme-colors, $item), 10%) !important;
    }
  }
}

@each $item in $themes {
  .#{$item}-theme .text-primary {
    color: map-get($theme-colors, $item) !important;
  }
}

@each $item in $themes {
  .#{$item}-theme .page-item.active .page-link {
    border-color: map-get($theme-colors, $item);

    background-color: map-get($theme-colors, $item);
  }

  .#{$item}-theme .page-link {
    color: map-get($theme-colors, $item);
  }
}

@each $item in $themes {
  .#{$item}-theme .nav-link.active {
    border-color: map-get($theme-colors, $item);
  }
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
}

/*---------- jtsage-datebox-bootstrap4 ---------- */

.ui-datebox-container {
  top: 24px;
  margin-bottom: 5px;
  padding: 0px 6px;

  border: 1px solid rgba($gray, 0.1);
  z-index: 2 !important;
}

.ui-datebox-container .form-control {
  padding-right: 0;
}

.ui-datebox-container .btn-group-vertical {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  .btn {
    margin-bottom: 0px;
    padding: 5px;

    font-size: 12px;

    &:last-child:not(:first-child),
    &:first-child:not(:last-child),
    &:not(:first-child):not(:last-child) {
      border-radius: 50px;
    }
  }
}

.ui-datebox-flipcontent div {
  width: 70px !important;
}

.ui-datebox-flipcenter {
  width: 236px !important;
  height: 36px !important;
}

.ui-datebox-container.dropdown-menu {
  width: auto;
  min-width: 210px;
  max-width: 250px;

  .ui-datebox-gridheader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      margin-bottom: 0;
    }
  }

  .ui-datebox-gridplus {
    order: 2;

    span::before {
      content: '\f105';

      font-size: 18px;
    }
  }

  .ui-datebox-gridminus {
    color: $gray;

    span::before {
      font-size: 18px;

      content: '\f104';
    }
  }

  .ui-datebox-datebox-group {
    text-align: center;

    input {
      border-radius: 50px;
    }

    .fa-plus::before {
      font-size: 18px;

      content: '\f106';
    }

    .fa-minus::before {
      font-size: 18px;

      content: '\f107';
    }
  }

  .ui-datebox-controls {
    .btn {
      border-radius: 50px;

      &:hover {
        border-color: $brand-primary;

        background-color: $brand-primary;

        color: white;

        @each $item in $themes {
          .#{$item}-theme & {
            border-color: map-get($theme-colors, $item);

            background-color: map-get($theme-colors, $item);
          }
        }
      }
    }
  }

  .btn-sm,
  .ui-datebox-griddate {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 27px;
    height: 27px;

    font-size: 0.7rem;
    line-height: 0.7rem;

    padding: 0;

    &.ui-datebox-griddate-label,
    &.ui-datebox-griddate-empty {
      font-weight: normal;
      color: rgba($gray, 0.4);
    }

    &.btn-info {
      background-color: rgba($gray, 0.2) !important;
    }
  }

  .btn-sm {
    border: none;
    border-radius: 50%;

    &:hover {
      border: none;

      background-color: $brand-primary;
      color: white;

      @each $item in $themes {
        .#{$item}-theme & {
          background-color: map-get($theme-colors, $item) !important;
        }
      }
    }

    &.btn-disabled {
      opacity: 0.3;

      &:hover {
        background-color: transparent;
        color: inherit;
        cursor: default;
      }
    }
  }

  .btn-info {
    background-color: $brand-primary;

    @each $item in $themes {
      .#{$item}-theme & {
        background-color: map-get($theme-colors, $item);
      }
    }
  }
}

.ui-datebox-container .ui-datebox-controls {
  a {
    margin-bottom: 5px;

    border-radius: 50px;

    &:hover {
      background-color: $brand-primary;

      color: white;

      @each $item in $themes {
        .#{$item}-theme & {
          background-color: map-get($theme-colors, $item);
        }
      }
    }
  }
}

.jtsage-datebox-backdrop-div {
  z-index: 1;
}

.datepicker {
  .input-group-addon {
    width: 38px;
  }

  h4 {
    font-size: 1rem;
  }
}

/*---------- Custom styles ---------- */

.scroll-hidden {
  @include media-breakpoint-down('lg') {
    overflow: hidden;
  }
}

.site-page {
  margin-top: 72px;
}

.form-control.not-empty[readonly] {
  background-color: transparent;
}

.contact-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  line-height: 1.2;

  font-weight: 600;

  border-radius: 50%;

  color: white;

  background: $brand-primary;
  background: -webkit-linear-gradient(to bottom, $brand-primary, #f2fcfe);
  background: linear-gradient(to bottom, $brand-primary, #f2fcfe);

  @each $item in $themes {
    .#{$item}-theme & {
      background: map-get($theme-colors, $item);
      background: -webkit-linear-gradient(
        to bottom,
        map-get($theme-colors, $item),
        #f2fcfe
      );
      background: linear-gradient(
        to bottom,
        map-get($theme-colors, $item),
        #f2fcfe
      );
    }
  }
}

.btn-shadow {
  box-shadow: 0px 4px 6px 0 rgba(black, 0.1);

  &:hover {
    box-shadow: none;
  }
}

.description {
  color: rgba($gray, 0.7);
}

.icon {
  font-size: 14px !important;
  cursor: pointer;
}

iframe.send-sms {
  width: 100%;
  height: 80vh;
}

.send-message.close {
  position: fixed;
  right: -1rem;
  top: 0.5rem;
  color: $brand-primary;
  z-index: 1000;

  @each $item in $themes {
    .#{$item}-theme & {
      color: map-get($theme-colors, $item);
    }
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.badge.badge-outline {
  padding: 0.25rem 0.4rem;

  font-size: 0.75rem;

  border: 1px solid $brand-primary;

  background-color: white;
  color: $brand-primary;

  @each $item in $themes {
    .#{$item}-theme & {
      border-color: map-get($theme-colors, $item);
      color: map-get($theme-colors, $item);
    }
  }
}

@each $item in $themes {
  .#{$item}-theme .page-item.active .page-link {
    background-color: map-get($theme-colors, $item);
    border-color: map-get($theme-colors, $item);
  }

  .#{$item}-theme .page-link {
    color: map-get($theme-colors, $item);
  }
}

@each $item in $themes {
  .#{$item}-theme button.btn.active {
    border-color: map-get($theme-colors, $item);

    background-color: map-get($theme-colors, $item);
  }
}

.form-page {
  padding: 0 10px 16px;

  &.profile-page {
    position: relative;
    top: 50px;
  }

  .mobile-device & {
    top: 0px;

    padding: 0;
  }
}

.modal-content .has-tabs .button-save {
  display: none;
}

.modal-content .has-tabs .close {
  display: none;
}

.modal-content .has-tabs .save {
  margin-left: auto;
}

.form-navigation {
  width: calc(100% - 285px);
  max-width: 80%;

  margin: 0 auto 16px;
  padding-top: 16px;

  .datatable-body & {
    width: auto;
    max-width: none;
    padding-top: 0;
    margin-top: -16px;
  }

  a {
    font-size: 14px;
    line-height: 16px;

    color: $brand-primary;

    @each $item in $themes {
      .#{$item}-theme & {
        color: map-get($theme-colors, $item);
      }
    }
  }

  svg {
    margin-bottom: 1px;

    @each $item in $themes {
      .#{$item}-theme & path {
        fill: map-get($theme-colors, $item);
      }
    }
  }

  @include media-breakpoint-down('lg') {
    width: 100%;
    max-width: 100%;
  }
}

.form-content {
  position: relative;

  width: calc(100% - 285px);
  max-width: 80%;
  margin: 0 auto;

  padding: 32px 0;

  background-color: #fff;
  box-shadow: 0 0 8px rgba($gray, 0.1);

  .mobile-device & {
    padding: 10px 0;
  }

  @include media-breakpoint-down('lg') {
    width: 100%;
    max-width: 100%;
  }

  .button-delete {
    position: absolute;
    top: 25px;
    right: 24px;

    font-size: 14px;
    line-height: 18px;

    color: $gray;
    opacity: 0.3;

    background-color: transparent;

    @include media-breakpoint-down('md') {
      top: 4px;
      right: 4px;
    }

    &:hover,
    &:focus {
      opacity: 1;

      background-color: transparent;
      border-color: transparent;
    }
  }

  .button-close {
    margin-left: auto;
    margin-right: 20px;

    font-weight: normal;

    color: #333;
    opacity: 0.3;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  .has-tabs .button-edit {
    display: none;
  }

  .has-tabs .button-save {
    display: none;
  }

  .has-tabs .button-close {
    display: none;
  }

  .datatable-body {
    padding-left: 0;
    padding-right: 0;
  }

  .btn {
    font-size: 14px;
    line-height: 18px;
  }
}

.button-save {
  padding: 8px 20px;

  &[disabled] {
    cursor: not-allowed;
  }
}

@include media-breakpoint-down('sm') {
  .button-save {
    width: 100%;

    padding-top: 12px;
    padding-bottom: 12px;
  }
}


.dynamic-form {
  margin: 0 20px;
}

.edit-form.has-tabs .dynamic-form {
  margin-top: 40px;
}

.has-tabs {
  .dynamic-form {
    margin: 40px;

    margin-bottom: 0;

    .mobile-device & {
      margin-top: 0;
    }

    @include media-breakpoint-down('md') {
      margin: 20px;
    }
  }
}

.readonly-value {
  opacity: 0.6;
}

.sebm-google-map-container-inner {
  height: 100% !important;
}

.load-more {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: none;

  opacity: 0.8;

  background-color: $brand-success;
  box-shadow: 3px 3px 7px rgba(51, 51, 51, 0.2);

  &:hover {
    opacity: 1;
  }

  &:focus,
  &:active {
    outline: none;
  }

  i {
    position: relative;
    top: 0px;

    font-size: 20px;

    animation-name: loadmore;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.info-block {
  padding: 12px 16px;

  text-align: left;

  h6 {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 16px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;

    padding-left: 16px;

    font-size: 12px;
    line-height: 14px;

    list-style: none;

    color: rgba($gray, 0.7);
  }

  .icon {
    position: absolute;
    top: 4px;
    left: 5px;

    font-size: 6px !important;

    color: $brand-primary;

    @each $item in $themes {
      .#{$item}-theme & {
        color: map-get($theme-colors, $item);
      }
    }
  }
}

.big-btn {
  height: 40px;
  width: 160px;
}

.permissions .nav {
  margin-left: 3rem;
}

@keyframes loadmore {
  0% {
    opacity: 1;
  }

  50% {
    top: 2.5px;
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/*---------- Slider ---------- */

.noUi-connect {
  background-color: $brand-primary;
}

.noUi-horizontal {
  height: 4px;

  .noUi-handle {
    left: -7px;

    height: 14px;
    width: 14px;

    border-radius: 50%;
    border-color: $brand-primary;
    border-width: 2px;

    cursor: pointer;

    &:before,
    &:after {
      content: none;
    }
  }
}

html:not([dir='rtl']) .noUi-horizontal .noUi-handle {
  right: -7px;
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
  top: 14px;
  left: -10px;

  padding: 0;
  background-color: transparent;
  border: none;

  color: $brand-primary;
}

.evaluate-label {
  opacity: .7;
  margin: 20px;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: rgba(#bdbdbd, .3);
}

.star.star-lg {
  font-size: 38px;
}

.full {
  color: #ffd042;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffd042;
}

ngb-rating:focus {
  outline: none;
}


/* Mobile */

.mobile-timesheets {
  .nav.nav-tabs {
    padding: 0;
    justify-content: space-around !important;

    .nav-link {
      margin-right: 0;
    }
  }
}
