body {
  height: 89vh;
  font-family: 'Roboto', sans-serif;
}

body.r3sourcer {
  height: 91vh;
  background-color: #f1f1f1;
}

.icon {
  font-size: 14px !important;
  cursor: pointer;
}

.modal-content {
  max-height: 90vh;
  margin-top: 5vh;
  overflow: auto;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, .2);

  .modal-header-wrapper {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
  }

  .modal-title {
    overflow: hidden;
    white-space: nowrap;
  }
}

.datepicker h4 {
  font-size: 1rem;
}

label, b {
  font-weight: 500;
}

iframe.send-sms {
  width: 100%;
  height: 80vh;
}

.send-message.close {
  position: fixed;
  right: -1rem;
  top: .5rem;
  color: $brand-primary;
  z-index: 1000;

  @each $item in $themes {
    .#{$item}-theme & {
      color: map-get($theme-colors, $item);
    }
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.color-preview {
  display: inline-block;
  width: 3rem;
  height: 2rem;
  border-radius: .2rem;
  transition: all .4s;
}

input:checked ~ .color-preview {
  transform: scale(1.2);
}

.image-preview {
  width: 150px;
  margin-bottom: 1rem;
  border-radius: .3rem;
  border: 5px solid white;
  box-shadow: 0 0 0 2px black;
}

.group-button {
  font-size: .7rem;
  background-color: lighten($brand-primary, 15%);

  @each $item in $themes {
    .#{$item}-theme & {
      background-color: lighten(map-get($theme-colors, $item), 15%) !important;
    }
  }

  &:hover,
  &:focus {
    background-color: darken($brand-primary, 10%);

    @each $item in $themes {
      .#{$item}-theme & {
        background-color: darken(map-get($theme-colors, $item), 10%) !important;
      }
    }
  }
}



@each $item in $themes {
  .#{$item}-theme .bg-primary {
    background-color: map-get($theme-colors, $item) !important;
  }
}

@each $item in $themes {
  .#{$item}-theme .btn-primary {
    border-color: map-get($theme-colors, $item);
    background-color: map-get($theme-colors, $item) !important;
  }
}

@each $item in $themes {
  .#{$item}-theme .text-primary {
    color: map-get($theme-colors, $item) !important;
  }
}

@each $item in $themes {
  .#{$item}-theme a {
    color: map-get($theme-colors, $item);
  }
}

@each $item in $themes {
  .#{$item}-theme .nav-link.active {
    background-color: map-get($theme-colors, $item) !important;
  }
}
