
@import '../../node_modules/bootstrap/scss/variables.scss';

// Color variables
$brand-primary:             #28A3FC;
$breadcrumb-bg:               transparent;
$breadcrumb-divider:          ">";
$breadcrumb-item-padding:     .2rem;
$gray: #333;

// Theme color
$themes: ('default', 'labour', 'indigo', 'teal', 'brown');
$theme-colors: (
  'default': #28A3FC,
  'labour': #f58926,
  'indigo': #3f51b5,
  'teal': #009688,
  'brown': #795548
);

//Hamburger
$hamburger-padding-x: .4rem;
$hamburger-padding-y: .8rem;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: black;
