// Color variables
$brand-primary:             #F58920;

//Hamburger
$hamburger-padding-x: .4rem;
$hamburger-padding-y: .8rem;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: white;
