@import '../../node_modules/bootstrap/scss/functions.scss';
@import '../../node_modules/bootstrap/scss/variables.scss';

// Color variables
$primary: #28a3fc;
$success: rgb(50, 186, 94);
$danger: rgb(250, 92, 70);
$info: #28a3fc;
$breadcrumb-bg: transparent;
$breadcrumb-divider: '>';
$breadcrumb-item-padding: 0.2rem;
$gray: #333;

$brand-primary: $primary;
$brand-success: $success;
$brand-danger: $danger;
$brand-warning: $warning;
$brand-info: $info;
$brand-secondary: $secondary;

// Theme color
$themes: ('default', 'labour', 'indigo', 'teal', 'brown');
$theme-colors: (
  'default': #28a3fc,
  'labour': #f58926,
  'indigo': #3f51b5,
  'teal': #009688,
  'brown': #795548
);

//Hamburger
$hamburger-padding-x: 0.4rem;
$hamburger-padding-y: 0.8rem;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: black;
