<span *ngIf="!config.setColorForLabel">{{config.label}}</span>
<span *ngIf="config.setColorForLabel" [ngClass]="[iconClass]">{{config.label}}</span>
<img *ngIf="src" [src]="src" width="60" height="60">
<i *ngIf="icon && !config.setColorForLabel" fa [name]="icon" [ngClass]="[iconClass]" [title]="config.title || ''"></i>
<span *ngIf="config.delim && !last">{{config.delim}}</span>
<a *ngIf="file" [href]="file" target="_blank">
  <i fa name="file" class="mr-2"></i>
  {{getExtension(file) | uppercase}} File
</a>
<div *ngIf="contactAvatar" class="contact-avatar">{{contactAvatar}}</div>
<br *ngIf="!config.hidden && !config.delim">
