<i *ngIf="icon && !config.setColorForLabel" fa [name]="icon" class="mr-1" [ngClass]="[iconClass]" [title]="config.title || ''" [ngStyle]="{'fontSize.px': config.fontSize}"></i>

<ng-container *ngIf="config.label && config.label.slice">
  <span *ngIf="!config.setColorForLabel">{{config.label}}&nbsp;</span>
  <span *ngIf="config.setColorForLabel" [ngClass]="[iconClass]">{{config.label}}&nbsp;</span>
</ng-container>
<ng-container *ngIf="config.label && !config.label.slice">
  <span *ngIf="!config.setColorForLabel">{{config.label[config.value]}}&nbsp;</span>
  <span *ngIf="config.setColorForLabel" [ngClass]="[iconClass]">{{config.label[config.value]}}&nbsp;</span>
</ng-container>

<span class="description" *ngIf=emptyValue>{{config.emptyValue}}</span>

<img alt="Signature" width="112" height="36" class="signature"
  *ngIf="src && config.signature"
  [src]="src">

<ng-container *ngIf="src && !config.signature">
  <img *ngIf="src" [src]="src" width="60" height="60">
</ng-container>
<span class="mr-1" *ngIf="config.delim && !last">{{config.delim}}</span>
<div *ngIf="file" [class.mobile]="isMobileDevice">
  <a #filelink
    [href]="file"
    target="_blank">
      <i #emmi fa name="file" class="file-icon"></i>
      <i fa name="download" class="download-icon"></i>
      <span *ngIf="config.display">{{config.display}}</span>
      <span *ngIf="!config.display">{{getExtension(file) | uppercase}} File</span>
  </a>
  <i *ngIf="file" class="upload-button" (click)="downloadFile()" fa name="download"></i>
</div>
<div *ngIf="contactAvatar" class="contact-avatar">{{contactAvatar}}</div>
<br *ngIf="!config.hidden && !config.delim">
