<h6 *ngIf="config.label" class="card bg-primary p-2 text-white">{{config.label}}</h6>
<div class="items">
  <ng-container *ngFor="let field of config.children">
    <div [ngStyle]="{'flex': field.width || 1, 'flex-basis': field.width * 100}" [hidden]="field.hidden || field.hide">
      <ng-container
        formElement
        [config]="field"
        [group]="group"
        [errors]="errors"
        (event)="eventHandler($event)"
        (buttonAction)="buttonActionHandler($event)"
        [message]="message">
      </ng-container>
    </div>
  </ng-container>
</div>
