@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.items {
  display: flex;
  flex-wrap: wrap;

  padding: 24px 0;

  border-bottom: 1px solid rgba($gray, .05);

  @include media-breakpoint-down('md') {
    width: 100%;
    max-width: 100%;

    div {
      flex: none !important;

      width: 100%;
    }
  }
}
