<app-navigation
  logo="/assets/img/new-software.svg"
  [user]="user"
  [pages]="pagesList"
  (update)="updateNavigation($event)">
</app-navigation>

<div class="site-page">
  <div class="form-page">
    <div class="form-content">
      <app-check-card *ngIf="!checkInformation"></app-check-card>
      <billing-plan
        [saveProcess]="saveProcess"
        [cancelProcess]="cancelProcess"
        [currentPlan]="currentPlan"
        [workerCount]="(currentPlan && currentPlan.worker_count) || 1"
        (selectedPlan)="selectPlan($event)"
        (cancelingPlan)="cancelPlan($event)"></billing-plan>
      <billing-info [payments]="payments" [currentPlan]="currentPlan"></billing-info>
    </div>
  </div>
</div>

<app-toast></app-toast>
