<div class="form-group" [formGroup]="group">
  <label [attr.for]="key" *ngIf="config.templateOptions.label">
    {{config.templateOptions.label}}
  </label>
  <textarea
    class="form-control"
    #textarea
    [formControlName]="key"
    [attr.type]="config.templateOptions.type ? config.templateOptions.type : 'text'"
    [attr.id]="key"
    [attr.name]="key"
    [attr.placeholder]="config.templateOptions.placeholder ? config.templateOptions.placeholder : ''"></textarea>
  <small class="text-muted" *ngIf="config.templateOptions.description">
    {{config.templateOptions.description}}
  </small>
  <div *ngIf="errors">
    <div class="text-danger mt-1" *ngIf="errors[config.key]">{{errors[config.key]}}</div>
  </div>
  <div *ngIf="message">
    <div *ngIf="message[config.key]" class="text-success mt-1">{{message[config.key]}}</div>
  </div>
</div>
