<div class="form-group" [formGroup]="group" *ngIf="!config.hide && !viewMode">
  <div class="form-element">
    <label class="col-form-label form-element-label" *ngIf="label && config.templateOptions.label && config.templateOptions.text" [attr.for]="key">
      {{config.templateOptions.label}}:
    </label>
    <div class="form-element-content edit">
      <label class="form-element-checkbox" *ngIf="label && config.templateOptions.label">
        <i class="mr-1" *ngIf="config.templateOptions.type === 'icon'"
          [ngClass]="[checkboxClass]"
          [ngStyle]="{'color': checkboxColor}"
          fa [name]="config.templateOptions.values[group.get(key).value]"></i>
        <input type="checkbox" class="form-check-input" hidden
          #checkbox
          (change)="eventHandler($event)"
          [formControl]="group.get(key)"
          [attr.id]="key"
          [attr.name]="key">
        <div *ngIf="config.templateOptions.type !== 'icon'" class="custom-checkbox">
          <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.08284 4.87574C2.92663 5.03195 2.67337 5.03195 2.51716 4.87574L1.12071 3.47929C0.888359 3.24694 0.511641 3.24694 0.279289 3.47929C0.0469372 3.71164 0.0469373 4.08836 0.279289 4.32071L2.37574 6.41716C2.61005 6.65147 2.98995 6.65147 3.22426 6.41716L8.52071 1.12071C8.75306 0.888359 8.75306 0.511642 8.52071 0.279289C8.28836 0.0469374 7.91164 0.0469372 7.67929 0.279289L3.08284 4.87574Z" fill="white" stroke="#FDFDFD" stroke-width="0.2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        {{config.templateOptions.text || config.templateOptions.label}}
      </label>
      <app-info [description]="config.templateOptions.description"></app-info>
    </div>
  </div>
  <div *ngIf="errors">
    <div class="text-danger mt-1" *ngIf="errors[config.key]">{{errors[config.key]}}</div>
  </div>
  <div *ngIf="message">
    <div *ngIf="message[config.key]" class="text-success mt-1">{{message[config.key]}}</div>
  </div>
</div>

<div class="form-group" *ngIf="viewMode && !config.hide">
  <div class="form-element">
    <label class="col-form-label form-element-label" *ngIf="label && config.templateOptions.label && config.templateOptions.text" [attr.for]="key">
      {{config.templateOptions.label}}:
    </label>
    <div class="form-element-content">
      <div class="form-element-checkbox">
        <span *ngIf="config.templateOptions && config.templateOptions.type === 'text'">
          {{this.checkboxValue}}
        </span>
        <i fa [name]="checkboxValue"
          [ngClass]="[checkboxClass]"
          *ngIf="config.templateOptions && config.templateOptions.type === 'icon'"></i>
        <i class="pr-2" fa [name]="checkboxValue" [ngClass]="[checkboxClass]" *ngIf="config.templateOptions && config.templateOptions.type === 'checkbox'"></i>
        <label class="mb-0" *ngIf="label && config.templateOptions.label">{{config.templateOptions.text || config.templateOptions.label}}</label>
        <app-info [description]="config.templateOptions.description"></app-info>
      </div>
    </div>
  </div>
</div>
