<div class="form-group" [formGroup]="group" *ngIf="!config.read_only">
  <div class="form-check">
    <label [attr.for]="key" class="form-check-label" [ngClass]="{'pl-0': config.read_only}">
      <input
        #checkbox
        class="form-check-input"
        [formControl]="group.get(key)"
        type="checkbox"
        [attr.id]="key"
        [attr.name]="key">
      {{config.templateOptions.label}}
    </label>
    <small class="text-muted" *ngIf="config.templateOptions.description">
      {{config.templateOptions.description}}
    </small>
    <div *ngIf="errors">
      <div class="text-danger mt-1" *ngIf="errors[config.key]">{{errors[config.key]}}</div>
    </div>
    <div *ngIf="message">
      <div *ngIf="message[config.key]" class="text-success mt-1">{{message[config.key]}}</div>
    </div>
  </div>
</div>

<div class="form-group d-flex fustify-content-start align-items-center" *ngIf="config.read_only">
  <label class="mr-5 mb-0">{{config.templateOptions.label}}</label>
  <span
    *ngIf="config.templateOptions && config.templateOptions.type === 'text'">
      {{this.checkboxValue}}
  </span>
  <i fa [name]="checkboxValue"
    [ngClass]="[checkboxClass]"
    *ngIf="config.templateOptions && config.templateOptions.type === 'icon'">
  </i>
</div>
