<div class="form-group" [formGroup]="group" *ngIf="!config.hide && !viewMode">
  <div class="form-element">
    <div class="form-element-checkbox">
      <i class="mr-1" *ngIf="config.templateOptions.type === 'icon'"
        [ngClass]="[checkboxClass]"
        [ngStyle]="{'color': checkboxColor}"
        fa [name]="config.templateOptions.values[group.get(key).value]"></i>
      <input type="checkbox" class="form-check-input" hidden
        #checkbox
        (change)="eventHandler($event)"
        [formControl]="group.get(key)"
        [attr.id]="key"
        [attr.name]="key">
      <div *ngIf="config.templateOptions.type !== 'icon'" class="custom-checkbox">
        <i fa name="check"></i>
      </div>
      <label *ngIf="label && config.templateOptions.label" [attr.for]="key" class="col-form-label">{{config.templateOptions.label}}</label>
    </div>
  </div>
  <small class="text-muted" *ngIf="config.templateOptions.description">
    {{config.templateOptions.description}}
  </small>
  <div *ngIf="errors">
    <div class="text-danger mt-1" *ngIf="errors[config.key]">{{errors[config.key]}}</div>
  </div>
  <div *ngIf="message">
    <div *ngIf="message[config.key]" class="text-success mt-1">{{message[config.key]}}</div>
  </div>
</div>

<div class="form-group" *ngIf="viewMode && !config.hide">
  <div class="form-element">
    <div class="form-element-checkbox">
      <span *ngIf="config.templateOptions && config.templateOptions.type === 'text'">
        {{this.checkboxValue}}
      </span>
      <i fa [name]="checkboxValue"
        [ngClass]="[checkboxClass]"
        *ngIf="config.templateOptions && config.templateOptions.type === 'icon'"></i>
      <i class="pr-1" fa [name]="checkboxValue" [ngClass]="[checkboxClass]" *ngIf="config.templateOptions && config.templateOptions.type === 'checkbox'"></i>
    </div>
    <label *ngIf="label && config.templateOptions.label" class="col-form-label">{{config.templateOptions.label}}</label>
  </div>
  <small class="text-muted" *ngIf="config.templateOptions.description">
    {{config.templateOptions.description}}
  </small>
</div>
