@import '../../../../styles/variables.scss';

label {
  display: flex;
  align-items: center;
}

p {
  margin-bottom: 8px;
}

.form-info {

  &-wrapper {
    position: relative;

    display: flex;
    flex-wrap: wrap;

    margin-top: -40px;
    margin-bottom: 20px;
  }

  &-title span {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
  }

  &-left {
    margin-right: 1rem;
  }

  &-image {
    position: relative;

    img,
    .contact-avatar {
      width: 80px;
      height: 80px;

      margin-bottom: .5rem;

      border-radius: 50%;

      background-color: #f5f5f5;
    }

    .available,
    .unavailable {
      position: absolute;
      right: 0;
      bottom: .1rem;

      padding-top: 1px;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 1rem;
      height: 1rem;

      font-size: .7rem;

      border-radius: 50%;

      color: white;
    }

    .available {
      background-color: $brand-success;
    }

    .unavailable {
      background-color: $brand-danger;
    }

    .map {
      width: 265px;
      height: 150px;
    }
  }

  &-edit-link {
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgba($gray, .3);

    i {
      margin-right: .2rem;
    }

    &:hover,
    &:hover i {
      color: $brand-primary;

      @each $item in $themes {
        .#{$item}-theme & {
          color: map-get($theme-colors, $item);
        }
      }
    }
  }

  &-block {
    width: 30%;
    min-width: 200px;

    margin-right: auto;

    .description {
      font-size: 12px;
      line-height: 14px;

      .address-hq {
        margin-left: 8px;

        color: $brand-primary;
      }
    }

    .job-title {
      font-size: 14px;
      line-height: 20px;
    }

    .client-link {
      font-size: 14px;
      line-height: 20px;

      color: $brand-primary;

      opacity: .8;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-title {
    position: relative;
    display: flex;
    align-items: center;

    margin-bottom: 4px;

    font-size: 1rem;

    .score {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &-status {
    display: flex;

    &-wrapper {
      display: inline-flex;
      align-items: flex-start;
      flex-direction: column;
    }

    .badge {
      line-height: 1.2;
    }

    .badge.badge-outline {
      margin-bottom: .2rem;

      border-color: $brand-success;
      color: $brand-success;

      &.danger {
        color: $brand-danger;
        border-color: $brand-danger;
      }

      &.success {
        color: $brand-success;
        border-color: $brand-success;
      }

      &.info {
        color: $brand-info;
        border-color: $brand-info;
      }

      &.warning {
        color: $brand-warning;
        border-color: $brand-warning;
      }
    }

    .badge:last-child {
      margin-bottom: 0;
    }

    .title {
      margin-right: 11px;

      font-size: 14px;
      line-height: 22px;
    }
  }
}

.date {
  margin-top: 60px;

  font-size: 12px;
  line-height: 20px;

  text-align: right;
}

.more {
  color: $brand-primary;

  @each $item in $themes {
    .#{$item}-theme & {
      color: map-get($theme-colors, $item);
    }
  }
}
