<div class="form-group">
  <template [ngTemplateOutlet]="list" [ngOutletContext]="{list: groups}"></template>
</div>

<template #list let-l="list">
  <div *ngFor="let item of l">
    <div *ngIf="item.model_fields" class="d-flex justify-content-center flex-column">
      <div class="d-flex align-items-center p-2 group">
        <b class="text-muted">{{item.lookup_label}}</b>
        <i *ngIf="item.isCollapsed"
           fa
           [name]="'plus-square'"
           class="icon text-primary ml-auto"
           (click)="item.isCollapsed = !item.isCollapsed">
        </i>
        <i *ngIf="!item.isCollapsed"
           fa
           [name]="'minus-square'"
           class="icon text-muted ml-auto"
           (click)="item.isCollapsed = !item.isCollapsed">
        </i>
      </div>
      <div class="pl-4" [ngbCollapse]="item.isCollapsed">
        <template [ngTemplateOutlet]="list" [ngOutletContext]="{list: item.model_fields}"></template>
      </div>
    </div>
    <div *ngIf="item.name">
      <template [ngTemplateOutlet]="field" [ngOutletContext]="{field: item}"></template>
    </div>
  </div>
</template>

<template #field let-i="field">
  <div class="d-flex align-items-center p-2 field">
    <span>{{i.label}}</span>
    <button type="button" class="btn btn-sm ml-auto"
            [class.btn-default]="!i.id"
            [class.btn-success]="i.id"
            (click)="toggleActiveState(i)">
      Active
    </button>
    <button type="button" class="btn btn-sm ml-2"
            [class.btn-default]="i.required"
            [class.btn-success]="i.required"
            (click)="toggleRequireProperty(i)">
      Required
    </button>
  </div>
</template>

<template #modal let-c="close" let-d="dismiss">
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">{{(choosenType && fields[choosenType].label) || modalData.title}}</h5>
        <button type="button" class="close ml-2" (click)="c()">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="modal-body">
      <div class="d-flex flex-column" *ngIf="modalData.type === 'field' && !modalData.id && !choosenType">
        <span
          [ngClass]="{'badge badge-default my-1 py-2': i !== 1}"
          [class.mb-4]="f"
          style="cursor: pointer"
          *ngFor="let type of types; let f = first; let i = index"
          (click)="setType(type)">
            {{fields[type].label}}
        </span>
      </div>
      <generic-form
        *ngIf="(modalData.type === 'field' && choosenType) || modalData.type === 'group'"
        [data]="modalData.data"
        [endpoint]="modalData.endpoint"
        [id]="modalData.id"
        (event)="formEvent($event, c, modalData.container, modalData.edit, modalData.type)">
        <button type="submit" class="btn btn-primary">Save</button>
      </generic-form>
    </div>
  </div>
</template>
