<div class="form-group">
  <div class="form-group search">
    <input type="text" class="form-control w-100" [(ngModel)]="search" (keyup)="filter(search)" placeholder="Search">
    <i fa [name]="'search'" class="text-muted search-icon" ></i>
  </div>
  <button *ngIf="activeFields.length" type="button" class="btn btn-primary my-2" (click)="openActiveFields()">Edit positions</button>
  <template [ngTemplateOutlet]="list" [ngOutletContext]="{list: groups}"></template>
</div>


<template #list let-l="list">
  <div *ngFor="let item of l">
    <div *ngIf="item.model_fields && !item.hidden" class="d-flex justify-content-center flex-column">
      <div class="d-flex align-items-center p-2 group">
        <b class="text-muted">{{item.label}}</b>
        <div class="ml-auto d-flex align-items-center flex-wrap">
          <button type="button" class="btn btn-sm m-1"
                  [class.btn-default]="!item.id"
                  [class.btn-success]="item.id"
                  (click)="toggleActiveState(item)">
            Active
          </button>
          <button type="button" class="btn btn-sm m-1 ml-2"
                  [class.btn-default]="item.setRequired"
                  [class.btn-success]="item.required || item.setRequired"
                  (click)="toggleRequireProperty(item)">
            Required
          </button>
          <i
             fa
             [name]="item.isCollapsed ? 'plus-square' : 'minus-square'"
             class="icon text-primary m-1 ml-2"
             [class.text-primary]="item.isCollapsed"
             [class.text-muted]="!item.isCollapsed"
             (click)="item.isCollapsed = !item.isCollapsed">
          </i>
        </div>
      </div>
      <div class="pl-4" [ngbCollapse]="item.isCollapsed">
        <template [ngTemplateOutlet]="list" [ngOutletContext]="{list: item.model_fields}"></template>
      </div>
    </div>
    <div *ngIf="item.name && !item.model_fields && !item.hidden">
      <template [ngTemplateOutlet]="field" [ngOutletContext]="{field: item}"></template>
    </div>
  </div>
</template>

<template #field let-i="field">
  <div class="d-flex align-items-center p-2 field">
    <span>{{i.label}}</span>
    <button type="button" class="btn btn-sm ml-auto"
            [class.btn-default]="!i.id"
            [class.btn-success]="i.id"
            (click)="toggleActiveState(i)">
      Active
    </button>
    <button type="button" class="btn btn-sm ml-2"
            [class.btn-default]="i.setRequired"
            [class.btn-success]="i.required || i.setRequired"
            (click)="toggleRequireProperty(i)">
      Required
    </button>
  </div>
</template>

<template #modal let-c="close" let-d="dismiss">
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">{{(choosenType && fields[choosenType].label) || modalData.title}}</h5>
        <button type="button" class="close ml-2" (click)="c()">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="modal-body">
      <div class="d-flex flex-column" *ngIf="modalData.type === 'field' && !modalData.id && !choosenType">
        <span
          [ngClass]="{'badge badge-default my-1 py-2': i !== 1}"
          [class.mb-4]="f"
          style="cursor: pointer"
          *ngFor="let type of types; let f = first; let i = index"
          (click)="setType(type)">
            {{fields[type].label}}
        </span>
      </div>
      <generic-form
        *ngIf="(modalData.type === 'field' && choosenType) || modalData.type === 'group'"
        [data]="modalData.data"
        [endpoint]="modalData.endpoint"
        [id]="modalData.id"
        (event)="formEvent($event, c, modalData.container, modalData.edit, modalData.type)">
        <button type="submit" class="btn btn-primary">Save</button>
      </generic-form>
    </div>
  </div>
</template>

<template #modalActiveFields let-c="close" let-d="dismiss">
    <div class="modal-content-wrapper">
      <div class="modal-body">
        <div class="d-flex flex-column" *ngFor="let item of activeFields; let l = last; let f = first">
          <h4 class="badge badge-primary d-flex align-items-center p-2" [class.mb-0]="l">
            <span class="mr-auto">{{item.label}}</span>
            <i *ngIf="!f" fa [name]="'angle-up'" class="icon text-white m-1" (click)="changePosition(item, 'up')"></i>
            <i *ngIf="!l" fa [name]="'angle-down'" class="icon text-white m-1 ml-3" (click)="changePosition(item, 'down')"></i>
          </h4>
        </div>
      </div>
    </div>
  </template>
