@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.form-tabs {
  margin: 0 -40px;

  @include media-breakpoint-down('md') {
    margin: 0 -20px;
  }
}

.label {
  display: flex;

  font-size: 28px;
  line-height: 36px;

  color: #4f4f4f;
}

button {
  font-size: 14px;
  font-weight: normal;
}

button.edit-mode {
  align-self: center;

  margin-left: auto;

  border: none;

  background-color: #fdfdfd;
  color: rgba(black, .55);
  box-shadow: 0 0 8px rgba(black, .15);

  &:hover {
    background-color: #fdfdfd;
  }
}

button.close {
  margin-left: auto;
  margin-right: 20px;

  color: #333;
  opacity: .3;

  &:hover,
  &:focus {
    opacity: .8;
  }
}

button.save {
  color: white;
}
