@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.form-tabs {
  margin: 0 -40px;

  @include media-breakpoint-down('md') {
    margin: 0 -20px;
  }
}

.label {
  display: flex;

  font-size: 28px;
  line-height: 36px;

  color: #4f4f4f;
}

button {
  align-self: center;

  margin-left: 24px;

  border-color: rgba($gray, .1);

  background-color: #fdfdfd;
  color: rgba(black, .5);
  box-shadow: 0 0 8px rgba(black, .15);

  &:hover {
    background-color: #fdfdfd;
    border-color: #fdfdfd;
  }

  &.active {
    background-color: $brand-primary;
    color: white;
    box-shadow: 0 0 6px rgba(black, .1);
  }
}
