<div class="form-tabs">
  <ngb-tabset [class.candidate-tabs]="config.candidateTabs">
    <ng-container *ngFor="let field of config.children; let i = index">
      <ngb-tab *ngIf="!field.hide && (!config.editForm ? field.main : true)" [title]="field.name || (field.templateOptions && field.templateOptions.label)">
        <ng-template ngbTabContent>
          <div class="label" *ngIf="field.main">
            {{field.label}}
            <button type="button" class="btn edit-mode"
              *ngIf="canUpdate && mode === 'view' && !hideEditButton()"
              (click)="changeMode('edit')">
                <i fa name="pencil"></i>
                Edit mode
            </button>

            <button type="button" class="btn close"
              *ngIf="mode === 'edit'"
              (click)="changeMode('view')">
                Close without save
            </button>

            <button type="submit" class="btn btn-primary btn-shadow save"
              [class.ml-auto]="mode !== 'edit'"
              *ngIf="mode === 'edit' || !config.editForm">
                {{mode !== 'edit' ? 'Save' : 'Save changes'}}
                <spinner *ngIf="saving"></spinner>
            </button>
          </div>

          <ng-container appFormElement [config]="field" [group]="group" [errors]="errors" [message]="message" (event)="eventHandler($event)"
            (buttonAction)="buttonActionHandler($event)">
          </ng-container>
        </ng-template>
      </ngb-tab>
    </ng-container>
  </ngb-tabset>
</div>
