<div class="filter-element p-2" [class.active]="!isCollapsed">
  <label class="filter-label" [class.active]="!isCollapsed">
    {{config.label}}
    <i fa class="p-2 ml-auto"
      [name]="icons[theme][isCollapsed]"
      [border]=false
      [class.text-primary]="icons[theme] === 'r3sourcer' && !isCollapsed"
      (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" style="cursor: pointer">
    </i>
  </label>
  <div [ngbCollapse]="isCollapsed" class="filter-select-wrapper">
    <div *ngFor="let item of data" class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="item.checked" name="checked"> {{item.label}}
      </label>
    </div>
    <button type="button" class="btn btn-sm btn-primary" (click)="onChange()">Filter</button>
  </div>
</div>
