<ng-container *ngIf="!token">
  <webui-navigation></webui-navigation>

  <div class="container">
    <div class="login-wrapper">
      <div class="login-title">
        <img src="{{ settings.logo || '/assets/img/logo.svg' }}" alt="" />
        <p>{{ settings.company_name || 'R3sourcer' }}</p>
      </div>

      <div class="login-form">
        <div class="login-label">
          <h5 class="title">{{'login.title' | translate}}</h5>
          <p class="description">{{'login.subtitle' | translate}}</p>
        </div>

        <webui-generic-form
          [endpoint]="endpoint"
          [data]="data"
          [errors]="error"
          [checkEmail]="true"
          [showResponse]="true"
          (redirect)="redirectHandler()"
          (responseForm)="responseHandler($event)"
          (errorForm)="errorHandler()"
          (event)="formEvent($event)"
        >
          <div class="links form-group">
            <label class="form-element-checkbox" [class.active]="rememberMe">
              <input type="checkbox" class="form-check-input" [(ngModel)]="rememberMe" hidden />
              <webui-checkbox [checked]="rememberMe"></webui-checkbox>
              <span>{{'login.remember_me' | translate}}</span>
            </label>
            <a class="forgot" href="" (click)="openResetForm()">{{'login.forgot_password' | translate}}</a>
          </div>
          <button class="btn btn-primary login-button" type="submit">
            {{'login.login' | translate}} <webui-spinner *ngIf="loginProcess"></webui-spinner>
          </button>
          <webui-language-selector></webui-language-selector>
        </webui-generic-form>
      </div>
    </div>
  </div>

  <div *ngIf="subdomain" class="register-link">
    <a [routerLink]="['/registration']">
      <webui-icon-plus webuiIcon size="sm" color="primary"></webui-icon-plus>
      {{'login.register' | translate}}
    </a>
  </div>
</ng-container>

<ng-container *ngIf="token">
  <webui-site-loader></webui-site-loader>
</ng-container>

<!-- <webui-toast></webui-toast> -->

<ng-template #modal let-modal>
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">{{'password.reset' | translate}}</h5>

        <webui-close-button class="ms-auto" (click)="modal.dismiss()"></webui-close-button>
      </div>
    </div>
    <div class="py-3">
      <webui-generic-form [showResponse]="true" [showToastr]="false" endpoint="/core/contacts/forgot_password/">
        <div class="d-flex align-items-center">
          <button type="submit" class="btn btn-primary ms-auto">{{'reset' | translate}}</button>
        </div>
      </webui-generic-form>
    </div>
  </div>
</ng-template>
