<ng-container *ngIf="!token">
  <app-navigation></app-navigation>

  <div class="container">
    <div class="login-wrapper">
      <div class="login-title">
        <img
          src="{{ settings.logo || '/assets/img/logo.svg' }}"
          alt="R3sourcer"
        />
        <p>{{ settings.company_name || 'R3sourcer' }}</p>
      </div>

      <div class="login-form">
        <div class="login-label">
          <h5 class="title">Login</h5>
          <p class="description">Please enter your email and password</p>
        </div>

        <app-generic-form
          [endpoint]="endpoint"
          [data]="data"
          [errors]="error"
          [checkEmail]="true"
          [showResponse]="true"
          (redirect)="redirectHandler($event)"
          (responseForm)="responseHandler($event)"
          (errorForm)="errorHandler($event)"
          (event)="formEvent($event)"
        >
          <div class="links form-group">
            <label class="form-element-checkbox" [class.active]="rememberMe">
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="rememberMe"
                hidden
              />
              <app-checkbox [checked]="rememberMe"></app-checkbox>
              <span>Remember me</span>
            </label>
            <a class="forgot" href="" (click)="openResetForm()"
              >Forgot Password?</a
            >
          </div>
          <button class="btn btn-primary login-button" type="submit">
            Lоgin <app-spinner *ngIf="loginProcess"></app-spinner>
          </button>
        </app-generic-form>
      </div>
    </div>
  </div>

  <div *ngIf="subdomain" class="register-link">
    <a [routerLink]="['/registration']">
      <app-icon-plus appIcon size="sm" color="primary"></app-icon-plus>
      Register
    </a>
  </div>
</ng-container>

<ng-container *ngIf="token">
  <app-site-loader></app-site-loader>
</ng-container>

<app-toast></app-toast>

<ng-template #modal let-modal>
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">Password Reset</h5>

        <app-close-button
          class="ml-auto"
          (click)="modal.dismiss()"
        ></app-close-button>
      </div>
    </div>
    <div class="pb-3 form-builder-form">
      <app-generic-form
        [showResponse]="true"
        endpoint="/core/contacts/forgot_password/"
      >
        <div class="d-flex align-items-center">
          <button type="submit" class="btn btn-success ml-auto">Reset</button>
        </div>
      </app-generic-form>
    </div>
  </div>
</ng-template>
