.info-block {
  padding: 12px 16px;

  text-align: left;

  h6 {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 16px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;

    padding-left: 16px;

    font-size: 12px;
    line-height: 14px;

    list-style: none;

    color: rgba($gray, 0.7);
  }

  .icon {
    position: absolute;
    // top: 4px;
    left: 5px;

    font-size: 6px !important;

    color: $primary;

    @each $item in $themes {
      .#{$item}-theme & {
        color: map-get($theme-colors, $item);
      }
    }
  }
}
