@use 'sass:math';
@import '../mixins';

$width: 510px;

.modal-backdrop {
  bottom: -100px;
  z-index: 3 !important;
}

.approve-modal {
  @media (max-width: 767.98px) and (orientation: landscape) {
    &.change .modal-dialog {
      max-width: $width;
    }

    &.approve .modal-dialog {
      max-width: $width;

      .content-info {
        flex-direction: row;
      }

      .flex-fill {
        flex: auto;
      }

      .evaluation-content {
        align-self: flex-start;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 33px;
      }

      .group-title {
        width: 100px;
        margin-bottom: 5px;
      }

      .time-line {
        margin-bottom: 0 !important;
      }

      .signature-content {
        margin-right: auto;
      }

      .form-navigation {
        display: none;
      }
    }
  }

  .modal-dialog {
    max-width: $width;
    margin: 15px auto;
    padding: 0 15px;
    box-sizing: content-box;

    .form-element {
      &-content:not(.full-width) {
        flex-wrap: nowrap;

        width: auto;

        @include media-breakpoint-down('sm') {
          max-width: 100%;
        }
      }

      &-label {
        color: #4f4f4f;
        margin-bottom: 3px;
      }
    }

    .dynamic-form {
      margin: 0;

      .input-group {
        &:first-child {
          margin-right: 8px;
        }

        &-addon {
          padding: 5px 6px 5px 4px;

          border: 1px solid rgba($gray, 0.6) !important;
          border-left: none !important;
          border-radius: 0 4px 4px 0 !important;
        }
      }

      .form-control[date-role='datebox'],
      .form-control[data-role='datebox'] {
        height: auto;
        min-height: none;
        border: 1px solid rgba($gray, 0.6);
        border-right: none !important;
        border-radius: 4px 0 0 4px;
        padding: 5px 0 5px 6px;

        transition: none;
      }

      .time-wrapper > .input-group {
        max-width: 145px;
      }
    }

    @include media-breakpoint-down('sm') {
      max-width: 345px;
    }

    @media (max-width: 767.98px) and (orientation: landscape) {
      max-width: 450px;
    }
  }
}

.approve-signature-modal {
  $content-padding: 20px;

  .modal-header {
    padding: $content-padding 40px;

    img {
      border-radius: 0.5rem;
      object-fit: cover;
    }

    @media (max-width: 767.98px) and (orientation: landscape) {
      &-wrapper {
        display: none;
      }
    }

    @include media-breakpoint-down('sm') {
      padding: math.div($content-padding, 2) 16px;
    }
  }

  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .modal-title {
    font-size: 28px;
    line-height: 30px;

    @include media-breakpoint-down('sm') {
      font-size: 24px;
      line-height: 28px;
    }

    img {
      border-radius: 0.5rem;
    }
  }

  .contact-avatar {
    width: 54px;
    height: 54px;
  }

  .secondary-title {
    font-size: 16px;
    line-height: 20px;

    color: $gray;
    opacity: 0.7;

    @include media-breakpoint-down('sm') {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .modal-body {
    padding: 0;
  }

  .steps {
    display: flex;
    align-items: flex-start;

    padding: 0 16px;
    margin-left: 0;

    transition: 0.4s ease margin-left;
    overflow: hidden;

    .dynamic-form {
      width: 311px;

      @media (max-width: 767.98px) and (orientation: landscape) {
        max-width: 555px;
      }
    }

    &.signature-step {
      margin-left: -327px;

      @media (max-width: 767.98px) and (orientation: landscape) {
        margin-left: -555px;
      }

      @media (max-width: 767.98px) and (orientation: portrait) {
        .signature-title {
          margin-top: 50px;
        }
      }
    }

    .content-info {
      padding-left: 0;
      padding-right: 0;
    }

    .evaluation-content {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  .group-title {
    margin-bottom: 6px;

    font-size: 20px;
    line-height: 24px;

    &.times {
      position: relative;
      top: 26px;

      margin-top: -10px;
    }

    @include media-breakpoint-down('sm') {
      width: 130px;
      margin-bottom: 0;

      &.times {
        top: 21px;

        margin-top: -26px;
      }

      &.times:not(.change-form) {
        display: none;
      }
    }
  }

  @include media-breakpoint-up('md') {
    .mobile-version {
      display: none;
    }
  }

  @include media-breakpoint-down('sm') {
    .desktop-version {
      display: none;
    }
  }

  .content-info {
    display: flex;
    flex-wrap: wrap;

    padding: $content-padding 40px;
    padding-top: 0;

    .form-wrapper {
      width: 100%;

      @media (max-width: 767.98px) and (orientation: landscape) {
        width: 540px;

        .items {
          flex-direction: row;
        }

        .items > div:first-child {
          margin-right: 16px;
        }

        .form-element {
          max-width: 260px;
        }

        .dynamic-form {
          width: auto;
          max-width: none;
        }
      }
    }

    .time-line,
    .description {
      font-size: 16px;
      line-height: 1.25;
    }

    .description {
      opacity: 0.4;
    }

    webui-form-input .form-element-label {
      color: $success;
    }

    @include media-breakpoint-up('md') {
      border-bottom: 1px solid #e9ecef;

      & > div {
        width: 50%;
      }

      .time-line,
      .description {
        font-size: 14px;
      }

      .flex-fill:first-child {
        margin-top: 1rem;
      }

      .form-wrapper {
        margin-bottom: -16px;
      }

      .time-wrapper {
        width: 80%;
      }
    }

    @include media-breakpoint-down('sm') {
      flex-direction: column;

      padding: 1rem;
      padding-bottom: 2px;

      .time-line .label {
        width: 155px;
      }

      .date {
        margin-bottom: 4px;

        font-size: 20px;
        line-height: 24px;
      }

      .time-wrapper {
        width: 120px;
      }

      .form-element-label {
        font-size: 16px;
        color: #4f4f4f;
      }

      .mobile-datepicker {
        height: 40px;

        padding-left: 16px;
        @media (max-width: 767.98px) and (orientation: landscape) {
          height: 36px;
        }
      }

      webui-form-input .form-element {
        &-label {
          width: 190px;

          font-size: 16px;
          line-height: 22px;
        }

        &-content {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    @media (max-width: 767.98px) and (orientation: landscape) {
      min-width: 540px;

      .date {
        margin-bottom: 12px;
      }

      .time-line {
        margin-bottom: 6px;

        &:last-child {
          margin-bottom: 12px;
        }
      }
    }
  }

  .evaluation-content {
    font-size: 20px;

    margin-top: 1rem;

    @include media-breakpoint-down('sm') {
      display: flex;
      align-items: center;

      margin-top: 8px;

      .group-title {
        width: 155px;
      }
    }

    .rating {
      padding-right: 5px;
      margin-right: 2px;

      &.filled {
        border-right: 1px solid $warning;
      }
    }
  }

  .evaluation-content.evaluated {
    font-size: 14px;

    .evaluation-wrapper,
    .star-lg {
      font-size: 14px;

      @include media-breakpoint-down('sm') {
        font-size: 20px;
      }
    }
  }

  .signature-content {
    padding: $content-padding;

    @include media-breakpoint-down('sm') {
      padding: 8px 1rem 0;

      .signature-title {
        margin-bottom: 6px;
      }
    }
  }

  .clear-button {
    width: 140px;

    border-radius: 100px;
    border: 1px solid #e0e0e0;

    color: #4f4f4f;
    background-color: #f9f9f9;

    &:focus {
      box-shadow: none;
    }

    @include media-breakpoint-down('sm') {
      display: none;
    }
  }

  .modal-footer {
    width: $width - 2px;

    padding: $content-padding 40px;
    padding-top: 0;
    margin: 0 auto;

    border-top: none;

    .btn {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      line-height: 20px;
      margin: 0;
    }

    @include media-breakpoint-up('md') {
      &.signature-step-footer {
        justify-content: space-between;
      }

      .btn-success {
        width: 203px;
      }
    }

    @include media-breakpoint-down('sm') {
      width: 100%;

      padding: 12px 16px;

      border-top: 1px solid rgba($gray, 0.1);

      &.signature-step-footer {
        justify-content: center;
      }

      @media (orientation: portrait) {
        .clear-button {
          display: none;
        }
      }

      .btn {
        width: 100%;
        margin: 0;
      }
    }

    @media (max-width: 767.98px) and (orientation: landscape) {
      .btn-primary,
      .btn-success {
        width: 220px;
      }

      .change & .btn-primary,
      .change & .btn-success {
        width: 280px;
      }

      .next-button {
        margin: 0 auto;
      }
    }
  }
}

.extend-modal {
  .modal-dialog {
    max-width: 805px;
  }

  .modal-body {
    margin-top: 40px;
    margin-bottom: 20px;

    .form-element-label {
      font-family: 'Source Sans Pro', sans-serif;
      text-transform: uppercase;
      color: rgba($gray, 0.4);
    }

    .shift .form-element-content {
      min-height: 36px;
      align-items: center;
    }

    .form-element-content {
      width: auto;
      height: auto;
      max-height: none;
      min-height: auto;

      input {
        padding: 10px 12px;
        height: auto;
        min-height: auto;
        border: 1px solid rgba($gray, 0.6);
        border-radius: 0.25rem;
      }

      .input-group-addon {
        display: none;
      }
    }
  }

  .form-element .custom-checkbox {
    width: 16px;
    height: 16px;

    svg {
      width: 9px;
      height: 7px;
    }
  }

  .button-save {
    display: block;
    margin: 0 auto;
    width: 160px;
  }

  .tooltip-inner {
    max-width: 360px;
  }
}

.small-modal {
  .modal-dialog {
    max-width: 400px;

    .form-element-content {
      width: auto;
      max-width: none;
    }

    .button-save {
      @include flex-center;

      margin: 0 auto;

      width: 160px;
      height: 40px;

      line-height: 16px;
    }
  }
}

.medium-modal .modal-dialog {
  max-width: 600px;
}

.modal {
  z-index: 3;

  &[id*='jtdb'] {
    z-index: 22;

    .modal-backdrop {
      z-index: 21 !important;
    }
  }

  &.shiftdates .modal-content,
  &.visible-mode .modal-content {
    @include media-breakpoint-up('md') {
      overflow: visible;
    }

    @include media-breakpoint-down('sm') {
      .form-group {
        margin-bottom: 5px;
      }

      .modal-header {
        padding: 0.5rem 1rem;

        h5 {
          font-size: 1rem;
        }
      }

      max-height: 95vh;
    }
  }

  &.message-detail .modal-content {
    padding: 20px;

    .dynamic-form {
      margin-top: 0;
    }
  }
}

.message-detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 40px;

  margin-bottom: 16px;

  .message-label {
    margin-left: 20px;
    margin-bottom: 0;

    font-size: 32px;
    line-height: 36px;
  }

  button {
    align-self: flex-start;
  }
}

.modal-lg {
  @include media-breakpoint-up('xl') {
    max-width: 1170px;
  }
}

.modal-header {
  background-color: #fff;

  align-items: center;
  justify-content: flex-start;
}

.modal-content {
  overflow: auto;

  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);

  .modal-header-wrapper {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 5;
  }

  .modal-body {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .modal-title {
    overflow: hidden;
    white-space: nowrap;
  }
}

.modal-content .has-tabs .button-save {
  display: none;
}

.modal-content .has-tabs .close-btn {
  display: none;
}

.modal-content .has-tabs .save {
  margin-left: auto;
}
