<div #datatable [ngClass]="{'pt-2 pl-2 pr-2 mb-5': !poped, 'poped card': poped}" class="mw-100 datatable">
  <div move [parent]="datatable" *ngIf="poped" class="card-header bg-primary text-white" (active)="activeTable($event)">
    <h5 class="d-flex justify-content-between align-items-center mb-0 lead" *ngIf="config.list">
      <span>{{config.list.label}}</span>
      <div class="d-flex fustify-content-center align-items-center">
        <i
          fa
          class="ml-2"
          [name]="'window-minimize'"
          [border]="true"
          (click)="minimizeTable()"
          aria-hidden="true"
          style="cursor: pointer"></i>
        <i
          fa
          class="ml-2"
          [name]="'window-maximize'"
          [border]="true"
          (click)="unpopedTable()"
          aria-hidden="true"
          style="cursor: pointer"></i>
        <i
          fa
          class="ml-2"
          [name]="'times'"
          [border]="true"
          (click)="closeTable()"
          aria-hidden="true"
          style="cursor: pointer"></i>
      </div>
    </h5>
  </div>
  <div [class.card-block]="poped" [hidden]="minimized">
    <filter-block *ngIf="(first || poped) && filtersOfList.length" [config]="filtersOfList" (event)="filterHandler($event)"></filter-block>
    <action-element *ngIf="config.list.actions" [config]="config.list.actions" (event)="actionHandler($event)"></action-element>
    <h5 class="d-flex justify-content-between align-items-center lead" *ngIf="config.list && !poped">
      <span>{{config.list.label}}</span>
      <i
        fa
        *ngIf="!first"
        [name]="'window-restore'"
        [border]="true" class="text-muted hidden-sm-down"
        (click)="popedTable()"
        aria-hidden="true"
        style="cursor: pointer"></i>
    </h5>
    <table class="table table-bordered table-striped table-sm" *ngIf="config.list">
      <thead class="thead-default hidden-sm-down">
        <tr>
          <th class="text-center" style="width: 2rem">
            *
            <input type="checkbox" [(ngModel)]="selectedAll" (ngModelChange)="selectAll()">
          </th>
          <th *ngFor="let field of config.list.columns;" class="align-middle" [class.datatable-title-hover]="field.sort">
            <i fa
              *ngIf="field.sorted"
              [name]="field.sorted === 'desc' ? 'sort-desc' : 'sort-asc'"
              [border]=true
              class="pr-2"
              (click)="sorting(field)"
              style="cursor: pointer"></i>
            <i fa
              *ngIf="field.sorted"
              [name]="'sort'"
              [border]=true
              class="pr-2 text-muted"
              (click)="resetSort(field, true)"
              style="cursor: pointer"></i>
            <ng-container
              listElement
              [head]="true"
              [config]="field"
              (event)="sorting(field)">
            </ng-container>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="body">
        <tr *ngFor="let row of body" [class.table-warning]="row.highlight">
          <td class="text-center">
            <input type="checkbox" [(ngModel)]="select[row.id]" [checked]="select[row.id]">
          </td>
          <td *ngFor="let cell of row.content" [attr.data-label]="cell.label">
            <div class="d-flex justify-content-between">
              <ng-container
                listElement
                [config]="cell.content"
                (event)="eventHandler($event)"
                (buttonAction)="buttonHandler($event)">
              </ng-container>
              <div *ngIf="cell.contextMenu" ngbDropdown class="d-inline-block">
                <i fa
                  id="dropdownBasic1"
                  class="text-muted p-2"
                  [class.dropdown-toggle]="false"
                  [name]="'ellipsis-v'"
                  [border]=true
                  style="cursor: pointer"
                  ngbDropdownToggle></i>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item" *ngFor="let field of cell.contextMenu" (click)="openModal(modal, field)">{{field.label}}</button>
                </div>
              </div>
            </div>
            <div *ngIf="innerTables && innerTables[row.id] && innerTables[row.id][cell.name]">
              <list-table *ngIf="innerTables[row.id][cell.name].body" [config]="innerTables[row.id][cell.name]"></list-table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mb-2">{{data.count}} {{config.list.label}}</div>
    <ngb-pagination
      [collectionSize]="pageSize"
      [(page)]="page"
      [maxSize]="4"
      [rotate]="true"
      [ellipses]="true"
      [boundaryLinks]="true"
      size="sm"
      (pageChange)="pageChange()">
    </ngb-pagination>
  </div>
</div>


<template #modal let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary text-white">
    <h5 class="modal-title">{{modalInfo.label}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [ngSwitch]="modalInfo.type">
    <generic-form [endpoint]="modalInfo.endpoint" [id]="modalInfo.id" *ngSwitchCase="'form'">
      <button type="submit" class="btn btn-secondary bg-primary text-white">Save</button>
    </generic-form>
    <sebm-google-map [latitude]="modalInfo.latitude" [longitude]="modalInfo.longitude" *ngSwitchCase="'map'">
      <sebm-google-map-marker [latitude]="modalInfo.latitude" [longitude]="modalInfo.longitude"></sebm-google-map-marker>
    </sebm-google-map>
  </div>
</template>
