<div #datatable [ngClass]="{'poped card p-0': poped}" class="mw-100 datatable" (click)="activeTable()" [hidden]="minimized">
  <div move [parent]="datatable" *ngIf="poped" class="card-header bg-primary text-white" (active)="activeTable($event)">
    <h5 class="d-flex justify-content-between align-items-center mb-0 lead" *ngIf="config.list">
      <span [ngClass]="{'mr-5': poped}">{{config.list.label}}</span>
      <div class="d-flex fustify-content-center align-items-center">
        <i
          fa
          class="ml-2 icon"
          [name]="'window-minimize'"
          [border]="true"
          (click)="minimizeTable()"
          aria-hidden="true"></i>
        <i
          fa
          class="ml-2 icon"
          [name]="'window-maximize'"
          [border]="true"
          (click)="unpopedTable()"
          aria-hidden="true"></i>
        <i
          fa
          class="ml-2 icon"
          [name]="'times'"
          [border]="true"
          (click)="closeTable()"
          aria-hidden="true"></i>
      </div>
    </h5>
  </div>
  <div class="datatable-content">
    <div class="filter-wrapper" *ngIf="(first || poped) && showFilters" [class.open]="!filtersHidden" [class.in-form]="inForm">
      <filter-block [config]="filtersOfList" (event)="filterHandler($event)"></filter-block>
    </div>
    <div class="background" (click)="filtersHidden = !filtersHidden"></div>
    <div [class.card-block]="poped" class="datatable-body" [class.open-filters]="!filtersHidden && showFilters">
      <h2 class="datatable-label" *ngIf="(config.list && (inForm && (config.list.search_enabled || config.list.buttons) && !delay) || (!inForm && !poped))">
        <span *ngIf="!inForm" class="mr-auto mb-1">{{config.list.label}}</span>
        <list-buttons
          [buttons]="config.list.buttons"
          [first]="first"
          [inForm]="inForm"
          [label]="config.list.label"
          [poped]="poped"
          [allowPermissions]="allowPermissions"
          (event)="buttonAction($event)">
        </list-buttons>
      </h2>
      <div *ngIf="showFilters || config.list.search_enabled" class="datatable-header">
        <button [class.active]="!filtersHidden" class="btn btn-outline-secondary filter-button mr-3" (click)="filtersHidden = !filtersHidden" *ngIf="showFilters">
          <i fa name="filter" class="text-secondary"></i>
          Filters
        </button>
        <list-search-bar
          class="datatable-search"
          *ngIf="config.list.search_enabled"
          [count]="count"
          [label]="config.list.label"
          [list]="config.list.list"
          (event)="filterHandler($event)">
        </list-search-bar>
      </div>
      <action-element *ngIf="config.list.actions && !inForm" [config]="config.list.actions" (event)="actionHandler($event)"></action-element>
      <!-- <div class="datatable-tabs">
        <span class="tab" *ngFor="let tab of tabs" (click)="changeTab(tab)">
          <i fa [name]="tab.is_collapsed ? 'eye' : 'eye-slash'"></i>
          {{tab.label}}
        </span>
      </div> -->

      <div #tableWrapper class="table-wrapper">
        <table class="table table-sm" *ngIf="config.list">
          <thead class="thead-default hidden-sm-down">
            <tr>
              <th *ngIf="(!inForm && config.list.actions) || actions || edit" class="active first-cell" style="width: 2rem">
                <div *ngIf="(!inForm && config.list.actions) || actions">
                  <label for="all-checkbox">All</label>
                  <input
                    id="all-checkbox"
                    type="checkbox"
                    hidden
                    *ngIf="config.list.actions || actions"
                    [(ngModel)]="selectedAll"
                    (ngModelChange)="selectAll()">
                </div>
              </th>
              <th *ngFor="let field of config.list.columns;" [hidden]="field.tab && field.tab.is_collapsed">
                <ng-container
                  listElement
                  [head]="true"
                  [config]="field"
                  (event)="sorting(field)">
                </ng-container>
                <i fa
                  class="sort-icon"
                  *ngIf="field.sort && !delay"
                  [name]="field.sorted === 'asc' ? 'angle-up' : 'angle-down'"
                  [class.active]="field.sorted && !delay"
                  [border]=true
                  (click)="field.openSort = !field.openSort"></i>
                <ul *ngIf="field.sort && !delay && field.openSort" class="sort-parameters">
                  <li [class.active]="field.sorted === 'asc'" (click)="sorting(field, 'asc'); field.openSort = false">Alphabetically A-Z</li>
                  <li [class.active]="field.sorted === 'desc'" (click)="sorting(field, 'desc'); field.openSort = false">Alphabetically Z-A</li>
                </ul>
              </th>
              <th *ngIf="config.list.tabs" class="last-cell">More</th>
            </tr>
          </thead>
          <tbody *ngIf="body && !refresh">
            <ng-container *ngFor="let row of body">
              <tr [class.main]="row.additionalBody && !row.collapsed" [class.table-warning]="row.highlight && row.highlight.highlight"
                [ngStyle]="row.highlight && row.highlight.color && {'background-color': row.highlight.color}">
                <td *ngIf="(!inForm && config.list.actions) || actions || edit" class="first-cell">
                  <label *ngIf="config.list.actions || actions">
                    <input type="checkbox"
                      class="form-check-input"
                      [(ngModel)]="select[row.id]"
                      [checked]="select[row.id]"
                      (ngModelChange)="emitSelect()" hidden>
                    <div class="custom-checkbox">
                      <i fa name="check"></i>
                    </div>
                  </label>
                  <a class="first-cell-link not-underline" *ngIf="first && !inForm && !config.list.editDisable && checkPermission('get')" [routerLink]="[row.id + '/change']">
                    <i fa
                      name="pencil"
                      class="icon">
                    </i>&nbsp;Edit
                  </a>
                  <i fa
                    *ngIf="!first && !config.list.editDisable && checkPermission('get')"
                    name="pencil"
                    class="icon"
                    (click)="editObject(row.id, row.__str__)"></i>
                </td>

                <td *ngFor="let cell of row.content" [attr.data-label]="cell.label" [hidden]="cell.tab && cell.tab.is_collapsed">
                  <ng-container
                    listElement
                    [config]="cell.content"
                    (event)="eventHandler($event)"
                    (buttonAction)="buttonHandler($event)">
                  </ng-container>
                  <!-- <div *ngIf="cell.contextMenu" ngbDropdown class="d-inline-block">
                    <i fa
                      id="dropdownBasic1"
                      class="text-muted p-2 icon"
                      [class.dropdown-toggle]="false"
                      [name]="'ellipsis-v'"
                      [border]=true
                      ngbDropdownToggle></i>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" *ngFor="let field of cell.contextMenu" (click)="openModal(modal, field)">{{field.label}}</button>
                    </div>
                  </div> -->
                  <div *ngIf="innerTables && innerTables[row.id] && innerTables[row.id][cell.name]">
                    <list-table *ngIf="innerTables[row.id][cell.name].body" [config]="innerTables[row.id][cell.name]"></list-table>
                  </div>
                </td>

                <td *ngIf="config.list.tabs" class="last-cell">
                  <i fa
                    class="more-icon"
                    [name]="row.collapsed ? 'angle-down' : 'angle-up'"
                    (click)="row.collapsed = !row.collapsed">
                  </i>
                </td>

              </tr>
              <tr *ngIf="row.additionalBody && !row.collapsed">
                <td *ngIf="(!inForm && config.list.actions) || actions || edit">&nbsp;</td>
                <td [attr.colspan]="row.content.length">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th *ngFor="let acell of row.additionalBody.content">{{acell.label}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td *ngFor="let acell of row.additionalBody.content">
                          <div class="additional-data" *ngFor="let field of acell.content">
                            <span class="description">{{field.label}}</span>
                            <ng-container *ngFor="let innerField of field.content"
                              listElement
                              [config]="innerField"
                              (event)="eventHandler($event)"
                              (buttonAction)="buttonHandler($event)">
                            </ng-container>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td *ngIf="config.list.tabs">&nbsp;</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div *ngIf="refresh" class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
      <div *ngIf="pageSize" class="pagination d-flex flex-wrap align-items-center py-3">
        <ngb-pagination
          [collectionSize]="pageSize"
          [(page)]="page"
          [maxSize]="2"
          [rotate]="true"
          [ellipses]="true"
          [boundaryLinks]="true"
          size="sm"
          (pageChange)="pageChange()">
        </ngb-pagination>
        <div class="ml-2">{{data.count}} {{config.list.label}}</div>
      </div>
    </div>
  </div>
</div>


<template #modal let-c="close" let-d="dismiss">
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">{{modalInfo.label}}</h5>
        <button type="button" class="close ml-2" aria-label="Close" (click)="d('Cross click')">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body" [ngSwitch]="modalInfo.type">
      <generic-form
        *ngSwitchCase="'form'"
        [endpoint]="modalInfo.endpoint"
        [metadataQuery]="addMetadataQuery || metadataQuery"
        [data]="modalInfo.data"
        [id]="modalInfo.id"
        [mode]="modalInfo.mode"
        [edit]="modalInfo.edit"
        (event)="formEvent($event, c)"
        (errorForm)="formError($event)">
          <button type="submit" class="btn btn-secondary bg-primary text-white" [disabled]="saveProcess">
            Save
            <spinner *ngIf="saveProcess"></spinner>
          </button>
      </generic-form>
      <sebm-google-map
        *ngSwitchCase="'map'"
        [latitude]="modalInfo.latitude"
        [longitude]="modalInfo.longitude"
        [zoom]="13"
        [mapTypeControl]="true">
          <sebm-google-map-marker [latitude]="modalInfo.latitude" [longitude]="modalInfo.longitude"></sebm-google-map-marker>
      </sebm-google-map>
      <profile [id]="modalInfo.id" *ngSwitchCase="'profile'"></profile>
    </div>
  </div>
</template>

<template #confirmModal let-c="close">
  <div class="modal-header">
    <p>{{modalInfo.message}}</p>
    <button type="button" class="close" aria-label="Close" (click)="d(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="callAction(modalInfo, c)">{{modalInfo.agree_label}}</button>
    <button type="button" class="btn btn-secondary" (click)="c(false)">{{modalInfo.decline_label}}</button>
  </div>
</template>

<template #evaluateModal let-c="close">
  <div class="modal-header">
    <div class="d-flex align-items-center">
      <img class="mr-2" [src]="modalInfo.label.picture" alt="Photo" width="40" height="40">
      <h5 class="mb-0">{{modalInfo.label.name}}</h5>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="c(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <generic-form
      [needData]="modalInfo.needData"
      [endpoint]="modalInfo.endpoint"
      [data]="modalInfo.data"
      [edit]="modalInfo.edit"
      (event)="evaluateEvent($event, c)">
        <button class="btn btn-primary mr-auto text-white">Submit</button>
    </generic-form>
  </div>
</template>

<template #sendMessageModal let-c="close">
  <div class="modal-body">
    <iframe class="send-sms" [src]="modalInfo.url" frameborder="0"></iframe>
    <br>
  </div>
</template>

<template #showPreviewInvoice>
  <div class="modal-body">
    <pdf-viewer [src]="modalInfo.url" [render-text]="true" style="display: block;"></pdf-viewer>
    <br>
  </div>
</template>

<template #fillInMap>
  <sebm-google-map [latitude]="modalInfo.latitude" [longitude]="modalInfo.longitude" [zoom]="13" [mapTypeControl]="true">
    <sebm-google-map-marker [iconUrl]="marker.iconUrl" *ngFor="let marker of modalInfo.markers" [latitude]="marker.latitude" [longitude]="marker.longitude">
      <sebm-google-map-info-window>
        <strong>{{marker.name}}</strong>
        <br>
        <p>{{marker.description}}</p>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>
</template>
