<div class="form-group form-radio" [formGroup]="group" *ngIf="!config.read_only">
  <div class="form-element">
    <label class="col-form-label form-element-label" *ngIf="config.label">
      {{config.templateOptions.label}}:
    </label>
    <div class="edit d-flex justify-content-start flex-wrap pl-4"
      [ngClass]="{'flex-column': !config.templateOptions.inline, 'align-items-center flex-row mb-0 inline': config.templateOptions.inline}" >
      <div class="form-element-checkbox" *ngFor="let radio of config.templateOptions.options">
        <label [attr.for]="radio.key" class="form-check-label d-flex align-items-center">
          <input class="form-check-input mr-2"
            (change)="eventHandler($event)"
            type="radio"
            [formControlName]="key"
            [id]="radio.key"
            [value]="radio.key"
            [name]="key"
            [hidden]="config.templateOptions.type === 'color'"
            [checked]="radio.key === value">
          <span class="color-preview mr-2" *ngIf="config.templateOptions.type === 'color'" [ngStyle]="{backgroundColor: radio.value}"></span>
          <ng-container *ngIf="config.templateOptions.type === 'text'">
            {{radio.value}}
          </ng-container>
        </label>
      </div>
    </div>
  </div>

    <small class="text-muted" *ngIf="config.templateOptions.description">
      {{config.templateOptions.description}}
    </small>
    <div *ngIf="errors">
      <div class="text-danger mt-1" *ngIf="errors[config.key]">{{errors[config.key]}}</div>
    </div>
    <div *ngIf="message">
      <div *ngIf="message[config.key]" class="text-success mt-1">{{message[config.key]}}</div>
    </div>
</div>
