@import '../../../../styles/variables.scss';

label {
  font-size: 14px;
  line-height: 24px;

  font-weight: 600;

  text-transform: uppercase;

  opacity: .3;
  color: $gray;
}

.normal {
  margin-bottom: 0;

  font-weight: 400;
  opacity: 1;

  color: rgba($gray, .3);
}
