<div class="wrapper">
  <div class="title">Select Dates</div>

  <ng-container
    formElement
    [config]="viewConfig.shiftsDates"
    [group]="viewData"
    (event)="eventHandler($event)">
  </ng-container>

  <div class="form-element-inline-container">
    <b>Extend:</b>

    <ng-container
      formElement
      [config]="viewConfig.extendDates"
      [group]="viewData">
    </ng-container>

    <ng-container
      formElement
      [config]="viewConfig.extendCandidates"
      [group]="viewData">
    </ng-container>

    <info [placement]="'right'" [description]="fillinfo"></info>
  </div>

  <div class="shifts-header">
    <div class="title">Shifts</div>

    <button type="button" class="btn btn-primary">Autocomplete</button>
    <info [placement]="'left'" [description]="requirements"></info>
  </div>

  <div>
    <ng-container *ngIf="shifts">
      <ng-container *ngFor="let shift of shifts.controls">
        <template [ngTemplateOutlet]="date" [ngOutletContext]="{group: shift}"></template>
      </ng-container>
    </ng-container>
  </div>

</div>

<template #requirements>
  <div class="info-block">
    <h6>Fills shifts automatically using criteria:</h6>
    <ul>
      <li><i fa class="icon" name="circle"></i>Candidate Score</li>
      <li><i fa class="icon" name="circle"></i>Distanse to the jobsite</li>
    </ul>
  </div>
</template>

<template #fillinfo>
  <div class="info-block">
    <h6>Use information from last fullfilled shift:</h6>
    <ul *ngFor="let date of autoFillData">
      <li><i fa class="icon" name="circle"></i>{{date.shift_datetime | dateFormat: 'datetime'}}</li>
      <li *ngFor="let candidate of date.candidates"><i fa class="icon" name="circle"></i>{{candidate.__str__}}</li>
    </ul>
  </div>
</template>

<template #date let-group="group">
  <div class="row" [formGroup]="group">
    <ng-container
      formElement
      [config]="viewConfig.time"
      [group]="group">
    </ng-container>

    <ng-container
      formElement
      [config]="viewConfig.workers"
      [group]="group">
    </ng-container>
  </div>
</template>
