@import '../../../../styles/variables.scss';

.title {
  margin-bottom: 22px;

  font-size: 32px;
  line-height: 36px;
}

.wrapper {
  margin-top: -40px;
}

b {
  position: relative;
  top: -1px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.shifts-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  button {
    margin-left: auto;
  }
}

.shift {
  margin-bottom: 1rem;
}

.shift-date {
  margin-right: 6px;

  font-size: 16px;
  line-height: 20px;

  color: $brand-primary;
}

.btn-link {
  padding: 0;
  margin-left: 6px;

  color: $brand-primary;
  text-decoration: none;
  border-radius: .2rem;
}

.time {
  flex-basis: 120px;
}

.workers {
  flex-basis: 120px;
}

.candidates {
  flex-basis: 200px;
  flex-grow: 1;
}
