<div class="filter-element">
  <label class="filter-label">
    {{config.label}}
    <fa-icon class="text-danger ml-1" style="cursor: pointer"
      *ngIf="query"
      [icon]="['fas', 'times-circle']"
      (click)="resetFilter()">
    </fa-icon>
  </label>
  <div class="filter-limit-wrapper">
    <input type="number" class="form-control"
      *ngFor="let el of inputs; let i = index"
      [attr.min]="config.min"
      [attr.placeholder]="el.label"
      [(ngModel)]="el.data"
      (blur)="onChange()">
    <span class="delimiter">&ndash;</span>
  </div>
</div>
