<div class="calendar-header">
  <h2 class="mr-auto">Calendar</h2>

  <div class="btn-group range-buttons" btnRadioGroup [formControl]="currentRange">
    <label [btnRadio]="range.Month" role="button"  [class.active]="isMonthRange">Month</label>
    <label [btnRadio]="range.Week" role="button"  [class.active]="isWeekRange">Week</label>
    <label [btnRadio]="range.Day" role="button"  [class.active]="isDayRange" [disabled]="true">Day</label>
  </div>

  <div class="range-title-wrapper">
    <button type="button" class="prev" (click)="changeRange(false)">
      <i fa name="chevron-left"></i>
    </button>

    <span class="range-title">{{rangeTitle}}</span>

    <button type="button" class="next" (click)="changeRange(true)">
      <i fa name="chevron-right"></i>
    </button>
  </div>
</div>

<div class="filters filters-inline">
  <app-filter-related *ngIf="showClientFilter" (event)="changeQuery($event)" [config]="filters.client"></app-filter-related>
  <app-filter-related (event)="changeQuery($event)" [config]="filters.candidate"></app-filter-related>

  <div class="filter-element" #filter>
    <label class="filter-label related">Info layers</label>

    <div class="filter-related">
      <div class="d-flex justify-content-center align-items-center autocomplete-filter" style="position: relative">
        <div class="form-control autocomplete-value"
          (click)="openAutocomplete($event)">
            <div style="overflow: hidden; white-space: nowrap">{{status.displayValue(status.data)}} layers</div>
            <i fa [name]="status.hideAutocomplete ? 'angle-down' : 'angle-up'" class="text-md-white ml-2"></i>
        </div>

        <div class="autocomplete" [hidden]="status.hideAutocomplete" [ngStyle]="{'top.px': topHeight}">
          <div class="autocomplete-list">
            <ul class="list-group w-100">
              <li class="list-group-item autocomplete-item form-check">
                <ng-container *ngTemplateOutlet="statusItem; context: {type: '1', label: 'Fulfilled', className: 'success'}"></ng-container>
              </li>
              <li class="list-group-item autocomplete-item form-check">
                <ng-container *ngTemplateOutlet="statusItem; context: {type: '0', label: 'Unfulfilled', className: 'danger'}"></ng-container>
              </li>
              <li class="list-group-item autocomplete-item form-check">
                <ng-container *ngTemplateOutlet="statusItem; context: {type: '2', label: 'Pending', className: 'warning'}"></ng-container>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #statusItem let-type="type" let-display="label" let-className="className">
  <label class="d-flex align-items-center">
    <input
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="status.data[type]"
      (ngModelChange)="updateLayers()"
      hidden>
    <div [ngClass]="className + ' custom-checkbox'">
      <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.08284 4.87574C2.92663 5.03195 2.67337 5.03195 2.51716 4.87574L1.12071 3.47929C0.888359 3.24694 0.511641 3.24694 0.279289 3.47929C0.0469372 3.71164 0.0469373 4.08836 0.279289 4.32071L2.37574 6.41716C2.61005 6.65147 2.98995 6.65147 3.22426 6.41716L8.52071 1.12071C8.75306 0.888359 8.75306 0.511642 8.52071 0.279289C8.28836 0.0469374 7.91164 0.0469372 7.67929 0.279289L3.08284 4.87574Z" fill="white" stroke="#FDFDFD" stroke-width="0.2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    {{display}}
  </label>
</ng-template>

<div class="calendar">
  <div *ngIf="!calendarData" class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
  <ng-container *ngIf="isMonthRange">
    <ng-container *ngTemplateOutlet="monthCalendar"></ng-container>
  </ng-container>

  <ng-container *ngIf="isWeekRange">
    <ng-container *ngTemplateOutlet="weekCalendar"></ng-container>
  </ng-container>

  <ng-container *ngIf="isDayRange">
    <ng-container *ngTemplateOutlet="dayCalendar"></ng-container>
  </ng-container>
</div>

<ng-template #monthCalendar>
  <div class="grid-row">
    <span class="grid-item header-item" *ngFor="let day of calendarData?.header">{{day}}</span>
  </div>
  <div class="grid-row" *ngFor="let week of calendarData?.body">
    <ng-container *ngFor="let day of week">
      <span *ngIf="!day.tooltip" class="grid-item month-day"><span class="date" [class.today]="day.today">{{day.label}}</span></span>

      <span class="grid-item month-day"
        *ngIf="day.tooltip"
        [class.active]="day.isOpen"
        triggers="click:click"
        [ngbTooltip]="monthTooltip"
        placement="bottom"
        (shown)="day.isOpen = true"
        (hidden)="day.isOpen = false">

        <span class="date" [class.today]="day.today">{{day.label}}</span>

        <div class="shift-groups">
          <div *ngIf="day.tooltip[1].length" class="badge badge-success">{{day.tooltip[1].length}}</div>
          <div *ngIf="day.tooltip[0].length" class="badge badge-danger">{{day.tooltip[0].length}}</div>
          <div *ngIf="day.tooltip[2].length" class="badge badge-warning">{{day.tooltip[2].length}}</div>
        </div>

        <ng-template #monthTooltip>
          <div class="shift-tooltip">
            <ng-container *ngTemplateOutlet="shiftGroup; context: {shifts: day.tooltip[1], className: 'success', name: 'Filled', status: 'accepted', month: true}"></ng-container>

            <ng-container *ngTemplateOutlet="shiftGroup; context: {shifts: day.tooltip[0], className: 'danger', name: 'Unfilled', status: 'cancelled', month: true}"></ng-container>

            <ng-container *ngTemplateOutlet="shiftGroup; context: {shifts: day.tooltip[2], className: 'warning', name: 'Pending', status: 'undefined', month: true}"></ng-container>
          </div>
        </ng-template>
      </span>
    </ng-container>

  </div>
</ng-template>

<ng-template #weekCalendar>
  <div class="grid-row">
    <div class="times"></div>
    <span class="grid-item header-item" *ngFor="let day of calendarData?.header">{{day}}</span>
  </div>
  <div class="grid-row grid-body">
    <div [ngClass]="['calendar-line', line.class]" [style.top.px]="line.top" *ngFor="let line of calendarData?.lines"></div>
    <div class="times">
      <ng-container *ngTemplateOutlet="times"></ng-container>
    </div>
    <span class="grid-item week-item" *ngFor="let day of calendarData?.body">
      <ng-container *ngFor="let shift of day.data; let index = index">
        <div class="shift-item" appCalendarTooltip [ngStyle]="shift.timesheet" [style.margin-left.px]="index * 8">
          <div [ngClass]="['border', getColor(shift.is_fulfilled)]"></div>

          <div class="content">
            <span [ngClass]="['badge', getColor(shift.is_fulfilled)]">Start - {{shift.time}}</span>

            <ng-container *ngTemplateOutlet="shiftItem; context: { shift: shift, status: getStatus(shift.is_fulfilled)}"></ng-container>
          </div>

        </div>
      </ng-container>
    </span>
  </div>
</ng-template>

<ng-template #times>
  <span class="times-item" [style.top.px]="time.top" [style.bottom.px]="time.bottom" *ngFor="let time of calendarTimes">{{time.time}}</span>
</ng-template>

<ng-template #dayCalendar>
  <div class="grid-row">
    <span class="grid-item header-item" *ngFor="let day of calendarData?.header">{{day}}</span>
  </div>
</ng-template>

<ng-template #shiftGroup let-shifts="shifts" let-className="className" let-name="name" let-status="status">
  <div class="mb-3" *ngIf="shifts.length">
    <p class="shift-tooltip-title">
      {{name}} <span [ngClass]="'badge badge-' + className">{{shifts.length}}</span>
    </p>

    <div class="shift-name" *ngFor="let shift of shifts">
      <i fa name="circle" [ngClass]="'text-' + className"></i>

      <ng-container *ngTemplateOutlet="shiftItem; context: { shift: shift, status: status }"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #shiftItem let-shift="shift" let-status="status">
  <div>
    {{shift.position}} <br>
    <span class="shift-jobsite">{{shift.jobsite}}</span> <br>
    <div *ngIf="shift.candidates[status].length" class="shift-candidates">
      <span class="mr-1" style="min-width: 85px">Candidate ({{shift.candidates[status].length}}):</span>
      <div>
        <div *ngFor="let name of shift.candidates[status]">{{name}}</div>

        <ng-container *ngIf="shift.candidates[getStatus(0)].length && getStatus(0) !== status">
          <div *ngFor="let name of shift.candidates[getStatus(0)]">
            <i fa name="times" class="text-danger"></i>
            {{name}}
          </div>
        </ng-container>

        <ng-container *ngIf="shift.candidates[getStatus(1)].length && getStatus(1) !== status">
          <div *ngFor="let name of shift.candidates[getStatus(1)]">
            <i fa name="check" class="text-success"></i>
            {{name}}
          </div>
        </ng-container>

        <ng-container *ngIf="shift.candidates[getStatus(2)].length && getStatus(2) !== status">
          <div *ngFor="let name of shift.candidates[getStatus(2)]">
            <i fa name="minus-circle" class="text-warning"></i>
            {{name}}
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</ng-template>
