<h4>Acceptance Tests</h4>

<ngb-accordion *ngIf="tests" [closeOthers]="true">
  <ng-container *ngFor="let test of tests">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <div class="test-title-wrapper">
          <div class="test-title">
            <h5>{{test.acceptance_test.name}}</h5>
            <p class="description">{{test.company_workflow_node.name}}</p>
          </div>
          <span class="score" [style.color]="colors[getScore(test.score)]">
            {{test.score}}
            <i fa name="star"></i>
          </span>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <ol>
          <li *ngFor="let question of test.questions">
            <p class="question-title">{{question.question}}</p>
            <p class="question-details description">{{question.details}}</p>

            <p *ngIf="question.answer"><span class="answer">Answer:</span> {{question.answer.answer}} <i class="description">({{question.answer.score}})</i></p>
          </li>
        </ol>
      </ng-template>
    </ngb-panel>
  </ng-container>
</ngb-accordion>
