<div class="list-info-wrapper">
  <div class=list-info-left>
    <div class="list-info-image">
      <img *ngIf="picture" [src]="picture">
      <div *ngIf="contactAvatar" class="contact-avatar">
        {{contactAvatar}}
      </div>

      <span *ngIf="available && (picture || contactAvatar)" class="available">
        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.08284 4.87574C2.92663 5.03195 2.67337 5.03195 2.51716 4.87574L1.12071 3.47929C0.888359 3.24694 0.511641 3.24694 0.279289 3.47929C0.0469372 3.71164 0.0469373 4.08836 0.279289 4.32071L2.37574 6.41716C2.61005 6.65147 2.98995 6.65147 3.22426 6.41716L8.52071 1.12071C8.75306 0.888359 8.75306 0.511642 8.52071 0.279289C8.28836 0.0469374 7.91164 0.0469372 7.67929 0.279289L3.08284 4.87574Z" fill="white" stroke="#FDFDFD" stroke-width="0.2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
      <i *ngIf="!available && (picture || contactAvatar)" fa name="times" class="unavailable"></i>
    </div>

    <a class="list-info-edit-link not-underline" [class.pl-2]="!(picture || contactAvatar)" [routerLink]="[config.rowId + '/change']">
      <i fa name="pencil" class="edit"></i>
      Edit
    </a>
  </div>

  <div class="list-info-block">
    <h5 class="list-info-title">
      <span *ngIf="!this.averageScore && this.averageScore !== 0">
        {{title}}&nbsp;<i class="info" *ngIf="description" placement="right" [ngbTooltip]="this.description">i</i>
      </span>
      <span *ngIf="this.averageScore || this.averageScore === 0">
        {{title}}
        <span class="score" [style.color]="colors[getScore(this.averageScore)]" [style.borderColor]="colors[getScore(this.averageScore)]">
          {{this.averageScore}}
          <i fa name="star"></i>
        </span>
      </span>
    </h5>
    <p class="description">{{address}}</p>

    <div *ngIf="status && status.length" class="list-info-status">
      <span class="title">Status:</span>
      <div class="list-info-status-wrapper">
        <span class="badge badge-outline" [ngClass]="[checkClass(stat)]" *ngFor="let stat of statusList">{{stat.__str__}}</span>
        <a class="more" href *ngIf="more" (click)="showMore($event)">{{status.length - 4}} more</a>
      </div>
    </div>
  </div>
</div>
