<app-navigation [user]="user"> </app-navigation>

<div class="site-page pt-5 billing-page">
  <div class="form-page">
    <div class="form-content">
      <app-check-card [cardExist]="checkInformation" (cardChange)="onCardChange()"></app-check-card>

      <div class="row">
        <div class="col">
          <app-billing-plan
            [plans]="plans"
            [saveProcess]="saveProcess"
            [currentPlan]="currentPlan"
            [workerCount]="(currentPlan && currentPlan.worker_count) || 1"
            [currency]="currency"
            [cardExist]="checkInformation"
            (selectedPlan)="selectPlan($event)"
            (cancelingPlan)="cancelPlan()"
          ></app-billing-plan>

          <app-billing-info
            [plans]="plans"
            [currentPlan]="currentPlan"
          ></app-billing-info>
        </div>

        <div class="col">
            <app-billing-sms [currency]="currency" [cardExist]="checkInformation"></app-billing-sms>
        </div>
      </div>

      <app-billing-lists [payments]="payments"></app-billing-lists>
    </div>
  </div>
</div>

<!-- <app-toast></app-toast> -->

<app-master-guide *ngIf="user.data.is_primary"></app-master-guide>
