.billing-page {

  .form-content {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  h5 {
    margin-bottom: 1rem;

    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;

    opacity: .3;
  }

  .filters-label h5 {
    text-transform: none;
    opacity: 1;
  }
}
