@import '../../../../../../../styles/variables';
@import '../../../../../../../styles/mixins';

:host {
  display: block;

  margin-top: 20px;
}

h5 {
  margin-left: 20px;
}

.form-tabs {
  margin: 0 -40px;

  @include media-breakpoint-down('md') {
    margin: 0 -20px;
  }
}
