<div class="form-builder">
  <app-generic-form
    [endpoint]="endpoint"
    [data]="data"
    [id]="id"
    [showResponse]="false"
    (str)="eventForm($event)"
    (event)="eventHandler($event)">
    <button *ngIf="!id" type="submit" class="btn btn-primary">Save</button>

    <div class="mb-3">
      Form link: <b>{{formLink}}</b>
    </div>
    <div *ngIf="id" class="d-flex justify-content-between align-items-center mt-2">
      <button type="button" class="btn btn-primary" (click)="showPreview()">Preview</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </app-generic-form>
</div>

<ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 *ngIf="config" class="modal-title">{{config.title}}</h5>

        <app-close-button class="ml-auto" (click)="d()"></app-close-button>
      </div>
    </div>
    <div class="modal-body">
      <app-form-builder-form
        [id]="id"
        (formConfig)="setFormConfig($event)">
      </app-form-builder-form>
    </div>
  </div>
</ng-template>
