@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

app-calendar {
  min-width: 840px;
}

app-back-link {
  display: block;
  padding-top: 16px;
  margin-bottom: 8px;
}

.dashboard {
  display: flex;

  max-width: 1250px;

  margin: 100px auto 0;

  @include media-breakpoint-down('md') {
    flex-direction: column;
  }

  &-item {
    max-width: 840px;

    margin: 0 15px 15px;

    background-color: #fff;

    &.alone {
      margin: 0 auto;
    }
  }
}
