<div class="d-flex align-items-center mb-2">
  <button type="button" class="btn btn-primary subscribe-button"
    *ngIf="!currentPlan"
    (click)="setPlan()">
      Subscribe
  </button>

  <ng-container *ngIf="currentPlan">
      <h5 *ngIf="currentPlan" class="mb-0 mr-1">Subscription</h5>

      <button type="button" class="btn" title="Change"
        *ngIf="!changeAction && currentPlan"
        (click)="changePlan()">
          <i fa name="pencil" class="text-warning"></i>
      </button>

      <button type="button" class="btn" title="Unsubscribe"
        (click)="cancelPlan()">
          <i fa name="trash" class="text-danger"></i>
      </button>
  </ng-container>
</div>

<ng-template #subscription let-c="close" let-d="dismiss">
  <div class="modal-header-wrapper">
    <div class="modal-header">
      <h5 class="modal-title">Select your plan</h5>
      <button type="button" class="close ml-2" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-element">
        <label for="employees">
          Employees count:
        </label>
        <input class="form-control form-element-content" size="5" type="number" name="employees" id="employees" min="1" max="1005"
          [ngModel]="workerCount"
          (ngModelChange)="workerCount = $event > 1006 ? 1005 : $event < 1 ? 1 : $event">
      </div>
    </form>

    <div class="plan-info">
      <div *ngFor="let plan of plans" [class.active]="checkActivePlan(plan)" class="plan-item" (click)="selectPlan(plan)">
        <div class="plan-name">
          <h6>{{plan.name}} <small *ngIf="plan.save">save 25%</small></h6>
          <p>(Pre Pay {{plan.description}})</p>
          <i>Active</i>
        </div>
        <div class="plan-detail">
          <h4>${{planPay(plan, plan.procent)}}</h4>
          <h6>Per month</h6>
          <p>(${{planPayYear(plan, plan.procent)}} annually)</p>
          <p>+ ${{plan.pay}} per extra worker if over the plan, adjusted monthly.</p>
        </div>
      </div>
    </div>

    <p *ngIf="workerCount > 1000" class="message">Please contact our sales staff for customized offer: <a href="mailto:sales@r3sourcer.com">sales@r3sourcer.com</a></p>

    <div class="spinner-wrapper" *ngIf="saveProcess">
      Saving... <app-spinner></app-spinner>
    </div>
  </div>
</ng-template>
