@import '../../../../styles/variables.scss';

$width: 320px;
$height: 80px;

.picture {
  video {
    width: 100%;
    max-width: $width;
  }

  .photo {
    width: 100%;
    max-width: $width;
    text-align: center;
    background-color: darken($gray-lighter, .7);

    img {
      max-height: $height;
    }

  }
}

.image-preview {
  align-self: center;

  width: $height;
  height: $height;

  margin-bottom: .5rem;

  border-radius: 50%;

  background-color: #f5f5f5;
}

.contact-avatar {
  width: $height;
  height: $height;
}

.link {
  margin-left: 4px;

  font-size: 12px;
  line-height: 14px;

  color: $brand-primary;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.actions {
  display: inline-flex;

  span {
    margin-left: .5rem;
  }
}

.form-element-picture {
  display: flex;
  flex-direction: column;
}
