@import '../../../../styles/variables.scss';

$width: 320px;
$height: 240px;

.picture {
  video {
    width: 100%;
    max-width: $width;
  }

  .photo {
    width: 100%;
    max-height: $height;
    max-width: $width;
    text-align: center;
    background-color: darken($gray-lighter, .7);

    img {
      max-height: $height;
    }
  }
}

.image-preview {
  width: 150px;
  margin-bottom: 1rem;
  border-radius: .3rem;
  border: 5px solid white;
  box-shadow: 0 0 0 2px $gray;
}
