<div class="form-group">
  <label>{{config.templateOptions.label}}</label>
  <div class="vacancy-dates-wrapper mb-2">
    <ngb-datepicker
      [ngModel]="vacancyDate"
      [minDate]="minDate"
      [displayMonths]="displayMonths"
      [navigation]="navigation"
      (ngModelChange)="selectVacancyDate($event)"></ngb-datepicker>
  </div>

  <div class="d-flex align-items-center flex-wrap">
    <div class="vacancy-dates d-flex justify-content-between align-items-center p-2 m-2"
      *ngFor="let vacancyDate of vacancyDates">
      <span class="text-muted">{{vacancyDate.shift_date}}</span>
      <input type="number" min="0" class="workers form-control"
        [(ngModel)]="vacancyDate.workers">
      <i fa class="icon text-danger" [name]="'close'" (click)="removeVacancyDate(vacancyDate)"></i>
    </div>
  </div>
</div>

