<ng-container *ngIf="!loader">
  <app-navigation [user]="user" (changePasswordEmitter)="openChangePassword()">
  </app-navigation>

  <ng-container *ngIf="!identifyDevice()">
    <div
      class="site-page"
      [class.mobile-device]="isMobileDevice"
      *ngIf="pageData && !dashboard"
      [ngSwitch]="pageData.pathData.type"
    >
      <div *ngSwitchCase="'form'" class="form-page">
        <ng-container *ngIf="listName">
          <app-back-link
            [label]="this.backToListLabel"
            [path]="pageData.pathData.path"
            [key]="this.listName + '.back'"
          >
          </app-back-link>
        </ng-container>

        <div
          class="form-content"
          [class.timesheet-submit-form]="pageData.pathData.postfix === 'submit'"
          *ngIf="
            (!reload &&
              !(
                pageData.endpoint === '/acceptance-tests/acceptancetests/' &&
                pageData.pathData.id
              ) &&
              pageData.endpoint !== '/core/forms/') ||
            pageData.pathData.postfix === 'submit'
          "
        >
          <app-generic-form
            *ngIf="
              (!reload &&
                pageData.endpoint !== '/core/forms/' &&
                !pageData.pathData.postfix) ||
              pageData.pathData.postfix === 'submit'
            "
            [title]="
              pageData.pathData.postfix === 'submit'
                ? 'submit_timesheet'
                : ''
            "
            [endpoint]="pageData.endpoint"
            [id]="pageData.pathData.id"
            [edit]="pageData.pathData.postfix"
            [mode]="formMode"
            [errors]="errors"
            [data]="additionalData"
            [path]="pageData.pathData.path"
            [metadataQuery]="pageData.pathData.metadataQuery"
            (event)="formEvent($event)"
            (modeEvent)="modeEvent($event)"
            (errorForm)="formError($event)"
            (permissionError)="permissionErrorHandler($event)"
            (str)="changeFormLabel($event)"
          >
            <div class="d-flex">
              <button type="submit" class="btn btn-primary button-save save mt-2"
                *ngIf="!formStorage && formMode !== FormMode.View && (checkPermission('post') || checkPermission('update')) && (pageData.endpoint !== '/core/users/')"
                [disabled]="saveProcess">
                  {{ 'save' | translate: {"Default": "Save"} }}
                  <app-spinner *ngIf="saveProcess"></app-spinner>
              </button>
            </div>
          </app-generic-form>
        </div>
      </div>

      <ng-container *ngSwitchCase="'list'">
        <div
          class="datatable-list"
          *ngIf="!pageData.pathData.postfix"
          infinite-scroll
          [scrollWindow]="true"
          (scrolled)="onModalScrollDown()"
        >
          <app-generic-list
            [upload]="upload"
            [clientId]="getClientId()"
            [listNameCache]="listNameCache"
            [allowPermissions]="permissionMethods"
            [endpoint]="pageData.endpoint"
          >
          </app-generic-list>
        </div>

        <div class="datatable-list" *ngIf="pageData.pathData.postfix && pageData.pathData.postfix === 'fillin'">
          <app-generic-list
            [responseField]="fillInData.responseField || 'results'"
            [paginated]="fillInData.paginated || 'on'"
            [supportData]="fillInData.supportData"
            [metaType]="fillInData.metaType"
            [actions]="fillInData.actions"
            [clientId]="getClientId()"
            [listNameCache]="listNameCache"
            [allowPermissions]="permissionMethods"
            [endpoint]="pageData.endpoint"
            (checkedObjects)="checkedObjects($event)"
          ></app-generic-list>
          <div class="buttons mb-5">
            <button type="button" class="btn btn-secondary" (click)="back()">
              {{'cancel' | translate: {"Default": "Cancel"} }}
            </button>
            <button type="button" class="btn btn-primary pr-3" (click)="sendData()">
              {{'fill_in.label' | translate: {"Default": "Fill in"} }}
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <div class="dashboard" *ngIf="dashboard">
    <app-calendar
      class="dashboard-item"
      [class.alone]="!isManager"
    ></app-calendar>
  </div>

  <app-mobile-timesheets
    [clientId]="getClientId()"
    *ngIf="identifyDevice()"
  ></app-mobile-timesheets>

  <ng-template #modal let-modal>
    <div class="modal-content-wrapper">
      <div class="modal-header-wrapper">
        <div class="modal-header">
          <h5 class="modal-title">
            {{'change_password' | translate: {"Default": "Change Password"} }}
          </h5>

          <app-close-button
            class="ml-auto"
            (click)="modal.dismiss()"
          ></app-close-button>
        </div>
      </div>
      <div class="py-3">
        <app-generic-form
          [endpoint]="changePasswordEndpoint"
          [edit]="true"
          [needData]="false"
          (event)="resetEvent($event)"
        >
          <a class="forgot" href="" (click)="openResetForm()">
            {{'forgot_password' | translate: {"Default": "Forgot Password?"} }}
          </a>
          <div class="d-flex align-items-center">
            <button type="submit" class="btn btn-primary ml-auto">
              {{ 'save' | translate: {"Default": "Save"} }}
            </button>
          </div>
        </app-generic-form>
      </div>
    </div>
  </ng-template>

  <ng-template #forgotPassword let-modal>
    <div class="modal-content-wrapper">
      <div class="modal-header-wrapper">
        <div class="modal-header">
          <h5 class="modal-title">
            {{'password_reset' | translate: {"Default": "Password Reset"} }}
          </h5>

          <app-close-button
            class="ml-auto"
            (click)="modal.dismiss()"
          ></app-close-button>
        </div>
      </div>
      <div class="py-3">
        <app-generic-form
          endpoint="/core/contacts/forgot_password/"
          [data]="passwordData"
          (event)="resetEvent($event)"
        >
          <div class="d-flex align-items-center">
            <button type="submit" class="btn btn-primary ml-auto">
              {{'reset' | translate: {"Default": "Reset"} }}
            </button>
          </div>
        </app-generic-form>
      </div>
    </div>
  </ng-template>
</ng-container>
<app-site-loader *ngIf="loader"></app-site-loader>
