<div class="timeline">
  <div *ngFor="let state of config.options; let l = last" class="d-inline-block mb-3">
    <div class="d-flex flex-column">
      <div class="timeline-element-wrapper" style="position: relative">
        <div class="timeline-element card p-3"
          [ngClass]="{
            'need-requirements': state.state === 0,
            'allowed': state.state === 1,
            'active': state.state === 2,
            'visited': state.state === 3,
            'not-allowed': state.state === 4
          }"
          (click)="open(state)">
          <span *ngIf="state.state === 2">
            {{(state.name_after_activation) ? state.name_after_activation : state.name_before_activation}}
          </span>
          <span *ngIf="state.state !== 2">
            {{state.name_before_activation}}
          </span>
        </div>
        <i fa class="mx-3"
          *ngIf="!l"
          [name]="'chevron-right'"></i>
        <div class="timeline-requirements"
          *ngIf="state.state === 0 && state.requirements && state.requirements.length > 0">
          <div class="timeline-requirements-item p-2">
            <h6>Requirements:</h6>
            <ul class="list-unstyled m-0">
              <li *ngFor="let item of state.requirements; let i = index">{{i + 1}}.&nbsp;{{item}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<template #stateModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">{{modalData.title}}</h5>
    <button type="button" class="close" (click)="c()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" *ngIf="modalData">
    <generic-form [endpoint]="objectEndpoint" [id]="modalData.id" [data]="stateData" (event)="sendEventHandler($event, c)">
      <button type="submit" class="btn btn-primary">Save</button>
    </generic-form>
  </div>
</template>
