@import '../../../../styles/variables.scss';

.badge {
  line-height: 1.2;
}

.timeline {
  padding-bottom: 25px;

  &-select {
    padding-right: 30px;

    background: #fff url(/assets/img/down-arrow.svg) no-repeat;
    background-position: right .75rem center;
    background-size: 8px 8px;

    -ms-progress-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &-wrapper {
      display: flex;
      align-items: center;

      & .timeline-element {
        margin-bottom: 0;
      }
    }
  }

  &-element {
    display: inline-block;
    margin-bottom: 16px;

    transition: .3s;

    &-wrapper {
      display: inline-block;

      &.dropdown-wrapper {
        display: none;
      }
    }

    &-wrapper:hover .timeline-requirements {
      display: block;
    }

    &.active:hover:not(.timeline-select),
    &.active:focus:not(.timeline-select),
    &.allowed:hover:not(.timeline-select),
    &.allowed:focus:not(.timeline-select) {
      cursor: pointer;
      box-shadow: 2px 2px 4px rgba($brand-inverse, .3);
    }

  }

  &-requirements {
    position: relative;
    display: none;

    &-item {
      position: absolute;
      top: 9px;
      max-width: 300px;
      background-color: white;
      border: 1px solid $gray-light;
      border-radius: .3rem;
      z-index: 10;

      &::before, &::after {
        content: '';
        position: absolute;
        left: 20px;
        top: -20px;
        border: 10px solid transparent;
        border-bottom: 10px solid $gray-light;
      }
      &::after {
        border-bottom: 10px solid white;
        top: -18px;
      }
    }
  }

  .info {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 1rem;
    height: 1rem;

    margin-left: 8px;

    padding-right: 1px;

    font-size: 12px;
    line-height: 12px;

    border-radius: 50%;
    border: 1px solid $gray;

    color: $gray;
    opacity: .5;
    cursor: pointer;

    &:hover {
      border-color: $brand-primary;
      color: $brand-primary;

      opacity: 1;

      @each $item in $themes {
        .#{$item}-theme & {
          border-color: map-get($theme-colors, $item);
          color: map-get($theme-colors, $item);
        }
      }
    }
  }

  .info-block {
    text-align: left;

    h6 {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .active {
    border-color: $brand-success;
    background-color: $brand-success;
    color: darken($brand-success, 25%);
  }

  .allowed {
    border-color: $brand-success;
    color: $brand-success;
  }

  .not-allowed {
    border-color: #828282;
    color: rgba($gray, .7);

    opacity: .2;
  }

  .need-requirements {
    border-color: #828282;
    color: rgba($gray, .7);
  }

  .visited {
    border-color: $gray;
    background-color: rgba($gray, .5);
    color: rgba($gray, .7);
  }

  .next {
    margin: 0 6px;
  }
}
