@import '../../../../styles/variables.scss';

.timeline {
  padding-bottom: 25px;

  &-element {
    transition: .3s;

    &-wrapper:hover .timeline-requirements {
      display: block;
    }

    &.active:hover,
    &.active:focus,
    &.allowed:hover,
    &.allowed:focus {
      cursor: pointer;
      box-shadow: 2px 2px 4px rgba($brand-inverse, .3);
    }

  }

  &-requirements {
    position: relative;
    display: none;

    &-item {
      position: absolute;
      top: 9px;
      max-width: 300px;
      background-color: white;
      border: 1px solid $gray-light;
      border-radius: .3rem;
      z-index: 10;

      &::before, &::after {
        content: '';
        position: absolute;
        left: 20px;
        top: -20px;
        border: 10px solid transparent;
        border-bottom: 10px solid $gray-light;
      }
      &::after {
        border-bottom: 10px solid white;
        top: -18px;
      }
    }
  }

  .active {
    border-color: $brand-success;
    background-color: $brand-success;
    color: darken($brand-success, 25%);
  }

  .allowed {
    border-color: $brand-success;
    color: $brand-success;
  }

  .not-allowed {
    border-color: rgba($brand-danger, .7);
  }

  .need-requirements {
    border-color: rgba($brand-danger, .7);
    color: $brand-success;
  }

  .visited {
    background-color: rgba($brand-inverse, .5);
    color: rgba($brand-inverse, .7);
  }

  .arrow {
    margin: 0 6px;
  }
}
