@import '../../../../styles/variables.scss';

.badge {
  line-height: 1.2;
}

.state-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .state-item {
    width: 48%;
  }

  .state-substate {
    width: 200px;

    padding: 10px;
    margin-bottom: 5px;

    border-radius: 5px;
    border: 1px solid $gray;

    cursor: pointer;
  }
}

.timeline {
  padding-bottom: 25px;

  &-select {
    margin-left: 11px;
    padding-right: 30px;

    background: #fff url(/assets/img/down-arrow.svg) no-repeat;
    background-position: right .75rem center;
    background-size: 8px 8px;

    -ms-progress-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &-wrapper {
      display: flex;
      align-items: center;

      .btn.btn-sm {
        padding: 1px 2px 0px 2px;
        margin-left: .5rem;

        font-size: 12px;
        line-height: 14px;

        border-color: $brand-success;
        color: $brand-success;

        &:hover {
          border-color: $brand-success;

          background-color: $brand-success;
          color: white;
        }
      }

      & .timeline-element {
        margin-bottom: 0;
      }
    }
  }

  &-element {
    display: inline-block;
    margin-bottom: 16px;

    transition: .3s;

    cursor: default;

    &-wrapper {
      display: inline-block;

      &.dropdown-wrapper {
        display: none;
      }
    }

    &-wrapper:hover .timeline-requirements {
      display: block;
    }

    &.active:hover:not(.timeline-select),
    &.active:focus:not(.timeline-select),
    &.allowed:hover:not(.timeline-select),
    &.allowed:focus:not(.timeline-select) {
      cursor: pointer;
      box-shadow: 2px 2px 4px rgba($brand-inverse, .3);
    }

  }

  .info-block {
    padding: 12px 16px;

    text-align: left;

    h6 {
      font-size: 12px;
      line-height: 16px;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      position: relative;

      padding-left: 16px;

      font-size: 12px;
      line-height: 14px;

      list-style: none;

      color: rgba($gray, .7);
    }

    .icon {
      position: absolute;
      top: 4px;
      left: 5px;

      font-size: 6px !important;

      color: $brand-primary;

      @each $item in $themes {
        .#{$item}-theme & {
          color: map-get($theme-colors, $item);
        }
      }
    }
  }

  button i {
    line-height: 14px;
  }

  option {
    color: rgba($gray, .8);
  }

  .active {
    border-color: $brand-success;
    background-color: $brand-success;
    color: darken($brand-success, 25%);
  }

  .allowed {
    border-color: $brand-success;
    color: $brand-success;
  }

  .not-allowed {
    border-color: #828282;
    color: rgba($gray, .7);

    opacity: .2;
  }

  .need-requirements {
    border-color: #828282;
    color: rgba($gray, .7);
  }

  .visited {
    border-color: $gray;
    background-color: rgba($gray, .5);
    color: rgba($gray, .7);
  }

  .next {
    margin: 0 6px;
  }
}
