<div class="form-group" [formGroup]="group">
  <label [attr.for]="config.key" *ngIf="config.templateOptions.label">
    {{config.templateOptions.label}}
  </label>
  <input
    class="form-control"
    #input
    (blur)="eventHandler($event)"
    [formControlName]="config.key"
    [attr.type]="config.templateOptions.type ? config.templateOptions.type : 'text'"
    [attr.id]="config.key"
    [attr.name]="config.key"
    [attr.placeholder]="config.templateOptions.placeholder ? config.templateOptions.placeholder : ''">
  <small class="text-muted" *ngIf="config.templateOptions.description">
    {{config.templateOptions.description}}
  </small>
  <div *ngIf="errors">
    <div class="text-danger mt-1" *ngIf="errors[config.key]">{{errors[config.key]}}</div>
  </div>
</div>
