<div *ngIf="!config.hide" class="form-group" [formGroup]="group" style="position: relative">
  <div class="form-element">
    <label class="col-form-label form-element-label" [attr.for]="key" *ngIf="label && config.templateOptions.label">
      {{config.templateOptions.label}}:
    </label>
    <div class="form-element-content">
      <input
        *ngIf="config.type !== 'static' && !viewMode"
        class="form-control"
        autocomplete="off"
        #input
        (blur)="eventHandler($event)"
        (focus)="generateList()"
        (keyup)=filter(key)
        [formControlName]="key"
        [attr.type]="config.templateOptions.type ? config.templateOptions.type : 'text'"
        [attr.id]="key"
        [attr.name]="key"
        [attr.placeholder]="config.templateOptions.placeholder ? config.templateOptions.placeholder : ''"
        [readonly]="config.read_only"
        [value]="config.value === 0 || config.value ? config.value : group.get(key).value === 0 || group.get(key).value ? group.get(key).value : ''">
      <div class="autocomplete" [hidden]="!(filteredList && filteredList.length) || hideAutocomplete">
        <div class="autocomplete-list"
          infinite-scroll
          [infiniteScrollDistance]="modalScrollDistance"
          [infiniteScrollThrottle]="modalScrollThrottle"
          [scrollWindow]="false"
          (scrolled)="onModalScrollDown()">
          <ul class="list-group w-100">
            <li class="list-group-item autocomplete-item p-1 pl-2" style="cursor: pointer"
              *ngFor="let item of list"
              (click)="select(item.name)">{{item.name}}</li>
          </ul>
        </div>
      </div>
      <div *ngIf="viewMode && config.type !== 'static'" >{{displayValue}}</div>
      <div *ngIf="config.type === 'static' && config.templateOptions.type !== 'score'">{{displayValue}}</div>
      <ngb-rating *ngIf="viewMode && config.templateOptions.type === 'score'"
        [rate]="config.value"
        max="5"
        [readonly]="true">
        <template let-fill="fill" let-index="index">
          <span *ngIf="fill === 100" class="star full">&#9733;</span>
          <span *ngIf="fill === 0" class="star">&#9733;</span>
          <span *ngIf="fill < 100 && fill > 0" class="star">
            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
          </span>
        </template>
      </ngb-rating>
    </div>
  </div>
  <small class="text-muted" *ngIf="config.templateOptions.description">
    {{config.templateOptions.description}}
  </small>
  <div *ngIf="errors">
    <div class="text-danger mt-1" *ngIf="errors[config.key]">{{errors[config.key]}}</div>
  </div>
  <div *ngIf="message">
    <div *ngIf="message[config.key]" class="text-success mt-1">{{message[config.key]}}</div>
  </div>
</div>

