<div #filterBlock class="filter-wrapper" [class.open]="!filterBlockHidden">
  <webui-filter-block
    [key]="config.list"
    [config]="filtersOfList"
    (event)="filterHandler($event)"
  ></webui-filter-block>
</div>

<div class="map" *ngIf="markers">
  <google-map
    [options]="options"
  >
    <map-marker
      *ngFor="let marker of markers; trackBy: trackByFn"
    >
      <map-info-window>
        <strong>{{ marker.name }}</strong>
        <br />
        <p *ngIf="marker.contact">{{ marker.__str__ }}</p>
        <p *ngIf="marker.contact">
          {{ marker.contact.name }} {{ marker.contact.phone_mobile }}
        </p>
      </map-info-window>
    </map-marker>
  </google-map>
</div>

<div *ngIf="markers" class="legend">
  <ng-container *ngFor="let type of types; trackBy: trackByFn">
    <div *ngIf="icons[type].exist" class="item">
      <img [src]="icons[type].path" />
      {{ icons[type].name }}
    </div>
  </ng-container>
</div>

<div class="map-preloader" *ngIf="preloader">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
