<div class="group">
  <div class="group__content">
    <h5 class="header group__label">
      <span>{{ 'subscription_details.label' | translate }}</span>

      <button type="button" class="btn hov-opacity" (click)="changePlan()">
        <fa-icon icon="pencil-alt" class="text-success"></fa-icon>
      </button>

      <button type="button" class="btn hov-opacity" (click)="cancelPlan()">
        <fa-icon icon="trash" class="text-danger"></fa-icon>
      </button>
    </h5>

    <ng-container *ngIf="currentPlan">
      <div class="field">
        <label class="field__label">{{ 'price.label' | translate }}:</label>
        <span>{{ currentPlan.price | currency: currency }}</span>
      </div>
      <div class="field">
        <label class="field__label">{{ 'workers.label' | translate }}:</label>
        <span>{{ currentPlan.worker_count }}</span>
      </div>
      <div class="field">
        <label class="field__label">{{ 'type.label' | translate }}:</label>
        <span style="text-transform: capitalize">
          {{ types[currentPlan.subscription_type] }}
        </span>
      </div>
      <div class="field">
        <label class="field__label">{{ 'status.label' | translate }}:</label>
        <span>{{ currentPlan.active && 'Active' }}</span>
      </div>
      <div class="field">
        <label class="field__label"
          >{{ 'current_period_start.label' | translate }}:</label
        >
        <span>
          {{ currentPlan.current_period_start | dateFormat: 'datetime' }}
        </span>
      </div>
      <div class="field">
        <label class="field__label"
          >{{ 'current_period_end.label' | translate }}:</label
        >
        <span>
          {{ currentPlan.current_period_end | dateFormat: 'datetime' }}
        </span>
      </div>
    </ng-container>

    <div>
      <button
        type="button"
        class="btn btn-primary"
        *ngIf="!currentPlan"
        [disabled]="!cardExist"
        (click)="setPlan()"
      >
        {{ 'action.subscribe' | translate }}
      </button>
    </div>
  </div>
</div>

<!-- <button type="button"
  class="btn btn-sm btn-primary action-button"
  [disabled]="!cardExist">Save Card</button> -->

<ng-template #subscription let-c="close" let-d="dismiss">
  <div class="modal-header-wrapper">
    <div class="modal-header">
      <div>
        <h5 class="modal-title">{{ 'select_plan.label' | translate }}</h5>
        <p class="secondary-title">{{ 'select_plan.subLabel' | translate }}</p>
      </div>

      <webui-close-button class="ms-auto" (click)="d()"></webui-close-button>
    </div>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-element">
        <label for="employees">{{ 'employees' | translate }}:</label>
        <input
          class="form-control form-element-content"
          size="5"
          type="number"
          name="employees"
          id="employees"
          min="1"
          max="1005"
          [ngModel]="workerCount"
          (ngModelChange)="
            workerCount = $event > 1006 ? 1005 : $event < 1 ? 1 : $event
          "
        />
      </div>
    </form>

    <div class="plan-info">
      <div
        *ngFor="let plan of plans"
        [class.active]="checkActivePlan(plan)"
        class="plan-item"
        (click)="selectPlan(plan)"
      >
        <div class="plan-name">
          <h4 class="mb-2 pt-3">
            {{ plan.heading }}
            <small *ngIf="plan.discount_comment">
              {{ plan.discount_comment }}
              {{
                plan.percentage_discount ? plan.percentage_discount + '%' : ''
              }}
            </small>
          </h4>
          <p>{{ plan.heading_tag_line }}</p>
        </div>
        <div class="plan-detail">
          <h4 class="mb-1">{{ planPay(plan) | currency: currency }}</h4>
          <p class="mb-2">{{ plan.amount_tag_line }}</p>
          <p class="annually">
            <small>
              ({{ planPayYear(plan) | currency: currency }} annually)
            </small>
          </p>
          <ul class="features" *ngIf="plan.table">
            <ng-container *ngFor="let item of plan.table">
              <li class="features__item" *ngIf="item">
                <fa-icon icon="check" class="features__icon"></fa-icon>
                {{ item }}
              </li>
            </ng-container>
          </ul>

          <p *ngIf="plan.amount_comment" class="pay mt-auto">
            {{ plan.amount_comment }}
          </p>
        </div>
      </div>
    </div>

    <p *ngIf="workerCount > 1000" class="message">
      {{ 'message.max_employees' | translate }}:
      <a href="mailto:sales@piipai.com">sales@piipai.com</a>
    </p>

    <div class="spinner-wrapper" *ngIf="saveProcess">
      {{ 'action.saving' | translate }} <webui-spinner></webui-spinner>
    </div>
  </div>
</ng-template>
