<header #header class="bg-primary text-white navigation">
  <div class="container-fluid">
    <div class="d-flex justify-content-between justify-content-lg-start">
      <div class="d-flex align-items-center mr-lg-5">
        <span class="title lead py-2"><a routerLink="/">R3sourcer</a></span>
      </div>
      <div class="d-flex align-items-center flex-lg-unordered align-items-stretch"
        [ngClass]="{'flex-first': pages}"
        *ngIf="pages.length">
        <nav #nav class="d-flex">
          <button class=" d-flex align-items-center hamburger hamburger--spring hidden-lg-up" type="button"
            [ngClass]="{'is-active': isCollapsed}"
            (click)="showNavigation($event)">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
          <ul class="navigation-list mh-100" [ngClass]="{'show': isCollapsed}" [ngStyle]="{'top.px': (isCollapsed) ? headerHeight : 0}">
            <template *ngFor="let page of pages" [ngTemplateOutlet]="item" [ngOutletContext]="{page: page, first: true, height: headerHeight}"></template>
          </ul>
        </nav>
      </div>
      <div class="user d-flex align-items-center ml-lg-auto">
        <span *ngIf="greeting" class="user-title" [ngClass]="{'hide': user}">{{greeting}}</span>
        <img class="photo m-1 ml-2" width="40" height="40" [src]="userPicture" alt="Image"
          *ngIf="user"
          (click)="hideUserBlock($event)">
        <div class="user-block"
          #userBlock
          *ngIf="user"
          [hidden]="hideUserMenu"
          [ngStyle]="{'top.px': headerHeight}">
          <ul class="list-unstyled m-0 p-0">
            <li><a class="p-2" href="#" (click)="logOut()">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<template #list let-p="pages" let-h="height">
  <ul *ngIf="!isCollapsed" class="navigation-list-nested" [ngStyle]="{'top.px': h}">
    <template *ngFor="let page of p" [ngTemplateOutlet]="item" [ngOutletContext]="{page: page}"></template>
  </ul>
  <ul *ngIf="isCollapsed" class="navigation-list-nested">
    <template *ngFor="let page of p" [ngTemplateOutlet]="item" [ngOutletContext]="{page: page}"></template>
  </ul>
</template>

<template #item let-p="page" let-f="first" let-h="height">
  <li class="navigation-item">
    <div class="d-flex align-items-center justify-content-between w-100">
      <a routerLink="{{p.url}}" class="p-2"
        (click)="isCollapsed = false">{{p.name}}</a>
      <i fa class="icon mr-2"
        *ngIf="(!f || isCollapsed) && p.childrens.length"
        [name]="'chevron-right'"></i>
    </div>
    <template *ngIf="p.childrens && f" [ngTemplateOutlet]="list" [ngOutletContext]="{pages: p.childrens, height: h}"></template>
    <template *ngIf="p.childrens && !f" [ngTemplateOutlet]="list" [ngOutletContext]="{pages: p.childrens}"></template>
  </li>
</template>
