@import '../../../../styles/variables.scss';

span {
  padding: 2px 12px;
  margin-right: .2rem;

  font-size: 12px;
  line-height: 20px;
}

.tags-wrapper {
  display: flex;

  &.column {
    flex-direction: column;
  }

  .success {
    border-color: $brand-success;
    color: $brand-success;
  }

  .danger {
    border-color: $brand-danger;
    color: $brand-danger;
  }
}
