<div [class.has-tabs]="hasTabs">
  <div *ngIf="!showForm" class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
  <dynamic-form
    *ngIf="showForm"
    [commonFields]="commonFields"
    [config]="metadata"
    [errors]="errors"
    [message]="response"
    [data]="data"
    [hiddenFields]="hiddenFields"
    [formId]="formId"
    (submit)="submitForm($event)"
    (formChange)="formChange($event)"
    (event)="eventHandler($event)"
    (buttonAction)="buttonActionHandler($event)"
    (changeValue)="parseCheckObject($event)">
    <ng-content></ng-content>
  </dynamic-form>
</div>
