<div
  [class.has-tabs]="hasTabs"
  [class.edit-form]="this.edit || this.editForm || this.id">
    <div *ngIf="!showForm" class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
    <dynamic-form
      *ngIf="showForm"
      [config]="metadata"
      [errors]="errors"
      [message]="response"
      [data]="data"
      [hiddenFields]="hiddenFields"
      [formId]="formId"
      (formGroup)="setFormGroup($event)"
      (submit)="submitForm($event)"
      (event)="eventHandler($event)"
      (buttonAction)="buttonActionHandler($event)"
      (changeValue)="parseCheckObject($event)">
      <ng-content></ng-content>
    </dynamic-form>
</div>
