<div class="filter-element" [class.active]="!isCollapsed">
  <label class="filter-label"  [class.active]="!isCollapsed">
    {{config.label}}
    <!-- <i
      fa
      class="p-2 ml-auto"
      [name]="icons[theme][isCollapsed]"
      [border]=false
      (click)="isCollapsed = !isCollapsed"
      [class.text-primary]="!isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      style="cursor: pointer"></i> -->
    <i
      *ngIf="query"
      fa
      class="text-danger ml-1"
      [name]="'times-circle'"
      [border]="true"
      style="cursor: pointer"
      (click)="resetFilter()"></i>
  </label>
  <ul class="list-unstyled filter-choice" [ngbCollapse]="isCollapsed">
    <li
      *ngFor="let item of config.list"
      [class.selected]="query === item.value"
      style="cursor: pointer"
      (click)="select(item.value)">
        {{item.label}}
    </li>
  </ul>
</div>
