<div class="ml-2">
  <label>
    {{config.label}}
    <i
      *ngIf="query"
      fa
      class="text-danger ml-1"
      [name]="'times-circle'"
      [border]="true"
      style="cursor: pointer"
      (click)="resetFilter()"></i>
  </label>
  <ul class="list-unstyled">
    <li
      *ngFor="let item of config.list"
      [class.text-primary]="query === item.value"
      class="text-muted"
      style="cursor: pointer"
      (click)="select(item.value)">
        {{item.label}}
    </li>
  </ul>
</div>
