<div class="filter-element">
  <label class="filter-label">
    {{config.label}}
    <i class="text-danger ml-1" style="cursor: pointer"
      *ngIf="query"
      fa
      name="times-circle"
      [border]="true"
      (click)="resetFilter()">
    </i>
  </label>
  <div class="filter-limit-wrapper">
    <input type="number" class="form-control"
      *ngFor="let el of inputs; let i = index"
      [attr.min]="config.min"
      [attr.placeholder]="el.label"
      [(ngModel)]="el.data"
      (blur)="onChange()">
    <span class="delimiter">&ndash;</span>
  </div>
</div>
