<label class="mb-0">
  <i
    fa
    class="p-2"
    [name]="isCollapsed ? 'eye' : 'eye-slash'"
    [border]=false
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    style="cursor: pointer"></i>
  {{config.label}}
  <i
    *ngIf="query || picker"
    fa
    class="text-danger ml-1"
    [name]="'times-circle'"
    [border]="true"
    style="cursor: pointer"
    (click)="resetFilter()"></i>
</label>
<div [ngbCollapse]="isCollapsed" class="filter-element">
  <ul class="list-inline d-flex justify-content-between">
    <li
      *ngFor="let item of config.list"
      [class.text-primary]="query === item.query"
      class="text-muted"
      style="cursor: pointer"
      (click)="selectQuery(item.query)">
        {{item.label}}
    </li>
  </ul>

  <div class="input-group" [class.mb-1]="!l" *ngFor="let input of config.input; let l = last">
    <input
      class="form-control"
      [attr.placeholder]="input.label"
      #d
      data-role="datebox"
      [attr.name]="input.query"
      [(ngModel)]="data[input.query]"
      (ngModelChange)="onChange()">
  </div>
</div>
