<div class="filter-element datepicker-element">
  <label class="filter-label">
    {{config.label}}
    <i class="text-danger ml-1" style="cursor: pointer"
      *ngIf="query"
      fa [name]="'times-circle'"
      (click)="resetFilter()">
    </i>
  </label>
  <div class="filter-date-wrapper">
    <ul class="list-inline dates my-1">
      <li class="dates-item"
        *ngFor="let item of config.list"
        [class.text-primary]="query === item.query"
        (click)="selectQuery(item.query)">
          <a href="#">{{item.label}}</a>
      </li>
    </ul>
    <div class="input-group datepicker" *ngFor="let input of config.input">
      <input class="form-control filter-date"
        #d
        [class.active]="data[input.query]"
        [attr.name]="input.query"
        [(ngModel)]="data[input.query]">
      <div class="placeholder">
          {{input.label}}
      </div>
    </div>
    <div class="delimiter"></div>
  </div>
</div>
