<navigation [user]="user" [pages]="pagesList"></navigation>

<div class="site-page" *ngIf="pageData" [ngSwitch]="pageData.pathData.type">
  <div *ngSwitchCase="'form'">
    <breadcrumb [navigationList]="pagesList" [formLabel]="formLabel"></breadcrumb>
    <div class="container-fluid pb-5">
      <div [ngClass]="{'d-flex justify-content-center align-items-center': !pageData.pathData.modal}">
        <div [ngClass]="{'col-12 col-sm-9 col-md-9 col-lg-9 mt-3': !pageData.pathData.modal}">
          <div [class.card]="!pageData.pathData.modal">
            <div [ngClass]="{'card-content p-2': !pageData.pathData.modal}" [class.modal-form]="pageData.pathData.modal">
              <generic-form
                *ngIf="pageData.endpoint !== '/ecore/api/v2/core/forms/' && !pageData.pathData.postfix || pageData.pathData.postfix === 'submit'"
                [title]="pageData.pathData.title"
                [modal]="pageData.pathData.modal"
                [endpoint]="pageData.endpoint"
                [id]="pageData.pathData.id"
                [edit]="pageData.pathData.postfix"
                [mode]="formMode"
                (event)="formEvent($event)"
                (modeEvent)="modeEvent($event)"
                (errorForm)="formError($event)"
                (str)="changeFormLabel($event)">
                  <div class="d-flex">
                    <button type="button" class="btn btn-danger mr-auto"
                      *ngIf="pageData.pathData.id && formMode === 'edit'"
                      (click)="deleteElement(pageData)">Delete</button>
                    <button *ngIf="formMode === 'view'" type="button" class="btn btn-primary mr-2 ml-auto" (click)="changeMode(pageData)">Edit</button>
                    <button *ngIf="!formStorage && formMode !== 'view'" type="submit" class="btn btn-primary" [class.ml-auto]="!formMode" [disabled]="saveProcess">Save</button>
                    <button *ngIf="formStorage && !approvedStorage && formMode === 'edit'" type="button" class="btn btn-success ml-auto" (click)="approveFormStorage(pageData)">Approve</button>
                  </div>
              </generic-form>

              <fill-in
                *ngIf="pageData.pathData.postfix && pageData.pathData.postfix === 'fillin'"
                [endpoint]="pageData.endpoint"
                [pageData]="pageData">
              </fill-in>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form-builder
      *ngIf="pageData.endpoint === '/ecore/api/v2/core/forms/'"
      [path]="pageData.pathData.path"
      [endpoint]="pageData.endpoint"
      [id]="pageData.pathData.id"
      (str)="changeFormLabel($event)">
    </form-builder>
  </div>
  <div class="list-page" *ngSwitchCase="'list'">
    <div class="filter-place"></div>
    <div class="content">
      <breadcrumb [navigationList]="pagesList" [formLabel]="formLabel"></breadcrumb>
      <generic-list [endpoint]="pageData.endpoint"></generic-list>
    </div>
  </div>
  <div *ngSwitchCase="'profile'">
    <profile [id]="user.contact.contact_id"></profile>
  </div>

</div>
  <dashboard *ngIf="dashboard"
    [pages]="pagesList"
    [userModules]="userModules"
    [modulesList]="modulesList"
    (changeWidgetList)="updateNavigation($event)"></dashboard>
