@import '../../../../styles/variables.scss';

.list-link {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  a,
  a:hover {
    text-decoration: none;
  }

  .btn {
    display: inline-block;
    visibility: hidden;

    padding: .1rem .3rem .1rem .3rem;

    margin-right: .2rem;
    margin-bottom: 0;

    line-height: 1;

    transition: none;
  }

  .phone {
    margin-right: .2rem;
  }

  &:hover {
    .phone {
      // text-decoration: underline;

      color: $brand-primary;

      @each $item in $themes {
        .#{$item}-theme & {
          color: map-get($theme-colors, $item);
        }
      }

      & ~ .btn {
        visibility: visible;
      }
    }
  }

  &.inline {
    flex-direction: row;
    align-items: flex-start;

    a:not(.default) {
      font-size: .9rem;
      font-weight: normal;

      color: $gray;

      &:hover,
      &:focus {
        color: $brand-primary;

        @each $item in $themes {
          .#{$item}-theme & {
            color: map-get($theme-colors, $item);
          }
        }
      }
    }

    .display {
      order: 0;
      margin-right: .2rem;

      &:after {
        content: ':';
      }
    }
  }

  .display {
    order: 2;

    color: rgba($gray, .3);
  }

  a:not(.default) {
    font-size: 1rem;
    font-weight: 600;

    color: rgba($gray, .8);

    &:hover,
    &:focus {
      color: $brand-primary;

      @each $item in $themes {
        .#{$item}-theme & {
          color: map-get($theme-colors, $item);
        }
      }
    }
  }
}

a.custom-link:not(.default) {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  &:hover {
    text-decoration: underline;
  }
}
