<div class="test-builder">

  <ng-content></ng-content>

  <hr>

  <div class="questions-item" *ngFor="let item of questions; let index = index">
    <h6 class="description description-title">Question #{{index + 1}}</h6>

    <i fa name="trash" class="text-danger" (click)="deleteQuestion(getId(item), questions, index)"></i>

    <ng-container *ngTemplateOutlet="question; context: {config: item, index: index}"></ng-container>
  </div>

  <button type="button" class="btn btn-sm btn-success questions-button"
    *ngIf="testData"
    (click)="addQuestion(true)">
      Add Question
  </button>

  <button type="button" class="btn btn-sm btn-primary" *ngIf="testData" (click)="showPreview()">
    Show Preview
  </button>

</div>

<ng-template #question let-config="config" let-index="index">
  <app-dynamic-form
    [config]="config"
    (submitForm)="saveQuestion($event, index, getId(config))">
  </app-dynamic-form>

  <ng-container *ngIf="getId(config) && getType(config) !== 1">

    <div class="answers-item" *ngFor="let item of answers[getId(config)]; let index = index">
      <h6 class="description description-title">Answer #{{index + 1}}</h6>

      <i fa name="trash" class="text-danger" (click)="deleteAnswer(getId(item), answers[getId(config)], index)"></i>

      <ng-container *ngTemplateOutlet="answer; context: {config: item, index: index, id: getId(config)}"></ng-container>
    </div>

    <button type="button" class="btn btn-sm btn-success answers-button"
      *ngIf="testData && checkCount(getType(config), answers[getId(config)].length)"
      (click)="addAnswer(true, answers[getId(config)])">
        Add Answer
    </button>
  </ng-container>
</ng-template>

<ng-template #answer let-config="config" let-index="index" let-id="id">
  <app-dynamic-form
    [config]="config"
    (submitForm)="saveAnswer($event, index, id, getId(config))">
  </app-dynamic-form>
</ng-template>

<ng-template #preview let-c="close">
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <button type="button" class="close ml-auto" aria-label="Close" (click)="c()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <app-test-generator [id]="testData.id"></app-test-generator>
    </div>
  </div>
</ng-template>
