<div class="test-builder">

  <ng-content></ng-content>

  <hr>

  <div *ngIf="testData" class="questions">
    <label>Questions:</label>
  </div>

  <div class="questions-item" *ngFor="let item of questions; let index = index">
    <template [ngTemplateOutlet]="question" [ngOutletContext]="{config: item, index: index}"></template>
  </div>

  <button type="button" class="btn btn-sm btn-success questions-button"
    *ngIf="testData"
    (click)="addQuestion(true)">
      Add Question
  </button>

</div>

<template #question let-config="config" let-index="index">
  <dynamic-form
    [config]="config"
    (buttonAction)="deleteQuestion(getId(config), questions, index)"
    (submit)="saveQuestion($event, index, getId(config))">
  </dynamic-form>

  <ng-container *ngIf="getId(config)">

    <div *ngIf="testData" class="answers">
      <label>Answers:</label>
    </div>

    <div class="answers-item" *ngFor="let item of answers[getId(config)]; let index = index">
      <template [ngTemplateOutlet]="answer" [ngOutletContext]="{config: item, index: index, id: getId(config)}"></template>
    </div>

    <button type="button" class="btn btn-sm btn-success questions-button"
      *ngIf="testData"
      (click)="addAnswer(true, answers[getId(config)])">
        Add Answer
    </button>
  </ng-container>
</template>

<template #answer let-config="config" let-index="index" let-id="id">
  <dynamic-form
    [config]="config"
    (buttonAction)="deleteAnswer(getId(config), answers[id], index)"
    (submit)="saveAnswer($event, index, id, getId(config))">
  </dynamic-form>
</template>
